<section role="main" class="content-body content-body-modern">
  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <button class="ml-3 back-button" (click)="backToSection()"><i class="fa fa-arrow-left text-white" aria-hidden="true"></i></button>
        <h4 class="ml-3 mt-2">{{header}}</h4>
      </div>
    </div>
    <div class="col-md-2">
      <i class="fa fa-home" [routerLink]="['/pages/dashboard']" style="cursor: pointer"> Dashboard</i>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <form [formGroup]="vgAuditReportForm" (ngSubmit)="onSubmit()">
        <div class="row filter-cont">
          <div class="col-md-3" *ngIf="roleType === 'Super Admin'">
            <div class="pt-0">
              <label class="font-weight-bold">Client Name</label>
              <select class="form-control" id='clientId' formControlName="clientId" (change)="onChange($event.target.value)" required>
                <option value="Select Client">Select Client</option>
                <option [ngValue]="c.id" *ngFor="let c of clients">{{ c.name }}</option>
              </select>
              <div class="text-danger"
                *ngIf="vgAuditReportForm.controls['clientId'].hasError('required') && vgAuditReportForm.controls['clientId'].touched ">
                Client name is required
              </div>
            </div>
          </div>
          <div class="col-md-3" *ngIf="roleType !== 'Super Admin'">
            <div class="pt-0">
              <label class="font-weight-bold">Client Name</label>
              <select class="form-control" id='clientId' formControlName="clientId" required>
                <!-- <option value="Select Client">Select Client</option> -->
                <option selected [ngValue]="clientId">{{ userName }}</option>
              </select>
              <div class="text-danger"
                *ngIf="vgAuditReportForm.controls['clientId'].hasError('required') && vgAuditReportForm.controls['clientId'].touched ">
                Client name is required
              </div>
            </div>
          </div>
          <div class="col-md-3 pl-0">
            <div class="pt-0">
              <label class="font-weight-bold">From Date</label>
              <input type="date" class="form-control" formControlName="fromDate" required />
              <div class="text-danger"
                *ngIf="vgAuditReportForm.controls['fromDate'].hasError('required') && vgAuditReportForm.controls['fromDate'].touched ">
                Start date is required
              </div>
            </div>
          </div>
          <div class="col-md-3 pl-0">
            <div class="pt-0">
              <label class="font-weight-bold">To Date</label>
              <input type="date" class="form-control" formControlName="toDate" required />
              <div class="text-danger"
                *ngIf="vgAuditReportForm.controls['toDate'].hasError('required') && vgAuditReportForm.controls['toDate'].touched ">
                End date is required
              </div>
            </div>
          </div>
          <div class="col-md-3 pl-0">
            <div class="pt-2 text-right">
              <label class="required-field"></label><br>
              <button class="btn" style="background-color: #169EEC; color: white;">{{button}}</button>
            </div>
          </div>
        </div><br />

        <div class="row mt-5">
          <div class="col-md-3">
          </div>
          <div class="col-md-6">
            <div *ngFor="let s of sec; let i = index;">
              <label style="flex-direction: row; display: flex;">
                <input type="checkbox" id="checkId" [value]="s.id" class="form-control">
                <div class="col-md-11">
                  {{s.section_name}}
                </div>
              </label>
            </div>
            <div class="text-danger"
              *ngIf="vgAuditReportForm.controls['sectionsList'].hasError('required') && vgAuditReportForm.controls['sectionsList'].touched ">
              Please select atleast one section
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
