.card-body{
  border-top: 3px solid #169EEC;
  border-radius: 5px 0 5px 5px;
}
.btn-submit{
  background-color: #169EEC;
}

.treeView {
  width: 100%
}

h3 {
  border: 1px solid black;
  padding: 2%;
}

#myCheck:focus{
  box-shadow:none !important;
}
#myCheck{
  width:10%;
}

.back-button{
  border: 1px;
  background-color: #169EEC;
  height: 40px;
  width: 40px;
}
