.card-body{
  border-top: 3px solid #169EEC;
  border-radius: 5px 0 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 33px 33px 15px;
}
.btn-submit{
  background-color: #0C5A9E;
  color: white;
}
.btn-red{
  background-color: #DD4B39;
  color: white;
}

.section{
  text-align: center;
  margin-top: 5%;
}
.input:focus{
  border: none;
}

.rotate-div{
  transform: rotate(270deg);
  color: #0C5A9E;
}

.rotate-div2{
  transform: rotate(270deg);
  color: #0C5A9E;
}

.trBody{
  height: 48vh;
}

.vgm{
  width: 80%;
}

.vgm-table{
  margin-left: 16%;
  height: 70vh;
}

#td-vgm{
  width: 32vw;
  padding: 5%;
  text-align: center;
}

#que-td{
  border: none;
  text-align: center;
  width: 20%;
}

#title-td{
  width: 25%;
  text-align: center;
}

#b-center{
  text-align: center;
  vertical-align: middle;
  line-height: 5;
  color: white;
}

.rotate-question{
  transform: rotate(-90deg);
  color: #0C5A9E;
  margin-top: 240%;
  width: 350%;
}
.vertical-question{
  transform: rotate(-90deg);
  color: #0C5A9E;
  margin-top: 50%;
  width: 350%;
}

.divShadow{
  display: grid;
  justify-content: center;
  align-items: center;
}

.thead{
  background-color: #0D5B9F;
  color:white;
}

#td1{
  background: #727375;
  color: #fff;
}

#td2{
  background: #727375;
  color: #040404;
  line-break: strict;
}

textarea{
  resize: none;
}

#rounded-circle{
  height: 17vh;
  width: 8vw;
  background-color: #ECF0F3;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  position: relative;
}

#rounded-circles{
  height: 17vh;
  width: 8vw;
  background-color: #919192;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

#forSmallCircle{
  height: 7vh;
  width: 3vw;
  background-color: #ECF0F3;
  border-radius: 50%;
  display: inline-block;
  margin: 45px;
}

#circle-txt{
  position: absolute;
  bottom: 33%;
  width: 83%;
  left: 15px;
  text-align: center;
}

#averag-box{
  text-align: center;
  padding: 45px 0;
}

.footer-name{
  margin-top: 19%;
}

.textbox1{
  position: absolute;
  margin-left: 202px;
  margin-top: -425px;
}

.textbox2{
  position: absolute;
  margin-left: 61px;
  margin-top: -286px;
}

.textbox3{
  position: absolute;
  margin-left: 349px;
  margin-top: -286px;
}

.textbox4{
  position: absolute;
  margin-left: 204px;
  margin-top: -142px;
}

.p{
  position: relative; bottom: 83px; left: 15px; color: #fff; font-size:15px;
}

.box{
  position: relative; bottom: 85px; width: 170px; font-size:15px;
}

.HighLowClr{
  background-color: #eee!important;
  color: #000!important;
  border-top: 2px solid #1f91c0!important;
  border-left: 2px solid #1f91c0!important;
  height: 150px;
  width: 50%;
}

.HighClr{
  background-color: #e0e0e0!important;
  color: #000!important;
  height: 150px;
  border-top: 2px solid #1f91c0!important;
  border-right: 2px solid #1f91c0!important;
  width: 50%;
}

.LowClr{
  background-color: #bdbdbd!important;
  color: #000;
  height: 150px;
  border-bottom: 2px solid #1f91c0!important;
  border-left: 2px solid #1f91c0!important;
  width: 50%;
}

.LowHighClr{
  background-color: #9e9e9e!important;
  color: #000!important;
  height: 150px;
  border-bottom: 2px solid #1f91c0!important;
  border-right: 2px solid #1f91c0!important;
  width: 50%;
}

.rotate{
  transform: rotate(-90deg);
  color: #0C5A9E;
  margin-top: 60px;
  width: 170%;
}
