<section role="main" class="content-body content-body-modern">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8">
          <h4>Search Client</h4>
        </div>
        <div class="col-md-4">
          <button class="btn float-right" style="background-color: #169EEC;" [routerLink]="['/pages/new-client']">
            <i class="fa fa-plus"> Add New Client</i>
          </button>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row filter-cont">
            <div class="col-md-2 pl-0">
              <div class="pt-0">
                <label class="font-weight-bold">Client Name</label>
                <input type="text" #searchClient class="form-control" placeholder="Client Name" required />
              </div>
            </div>
            <div class="col-md-2 pl-0">
              <div class="pt-0">
                <label class="font-weight-bold">Consultant Name</label>
                <input type="text" #searchConsultant class="form-control" placeholder="Consultant Name" required />
              </div>
            </div>
            <div class="col-md-2 pl-0">
              <div class="pt-0">
                <label class="font-weight-bold">Renewal Start Date</label>
                <input type="date" #searchRenewalStartDate class="form-control" placeholder="Renewal Start Date" required />
              </div>
            </div>
            <div class="col-md-2 pl-0">
              <div class="pt-0">
                <label class="font-weight-bold">Renewal End Date</label>
                <input type="date" #searchRenewalEndDate class="form-control" placeholder="Renewal End Date" required />
              </div>
            </div>
            <div class="col-md-3 pl-0">
              <div class="pt-2 text-right">
                <label class="required-field"></label><br />
                <button class="btn btn-primary" (click)="onSearch(searchClient.value, searchConsultant.value,searchRenewalStartDate.value,searchRenewalEndDate.value )" style="background-color: #169EEC; color: white;">
                  Search
                </button>
                <button class="btn btn-primary ml-3" (click)="onclear(searchClient.value = '', searchConsultant.value = '', searchRenewalStartDate.value = '',searchRenewalEndDate.value = '')" style="background-color: #169EEC; color: white;">
                  Clear
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body border">
          <div class="table-responsive">
            <!-- <div *ngIf="isLoading" class="table-loader">
                            <img src="../../../../assets/img/loading.gif" width="100px" alt="loading" />
                        </div> -->
            <table class="display table table-hover w-100 table-head-bg-secondary" width="100%">
              <thead>
                <tr>
                  <!-- <th>#</th> -->
                  <th (click)="sort('client_name')">Client Name</th>
                  <th (click)="sort('company_name')">Company Name</th>
                  <th>Consultant</th>
                  <th>Renewal Date</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let obj of clients$; let i = index">
                  <!-- <td>{{ i + 1 }}</td> -->
                  <td>{{ obj.name }}</td>
                  <td>{{ obj.company_name }}</td>
                  <td>{{ obj.consultants.name }}</td>
                  <td>{{ obj.renewal_date | date}}</td>
                  <td>
                    <a style="cursor: pointer" title="Edit" class="icon-a">
                      <i (click)="onEditClientDetails(obj.id)" class="fa fa-edit icons-size icon-margin green"></i>
                    </a>
                    &nbsp;&nbsp;
                    <a style="cursor: pointer" title="Delete" class="icon-a">
                      <i (click)="onDeleteClientDetail(obj.id)" class="fa fa-trash ml-2 icons-size icon-margin red"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="clients$?.length == 0">
                <tr>
                  <td colspan="10" class="no-data-available text-center">No matching records found
                  </td>
                </tr>
              </tbody>
            </table>
            <ngb-pagination style="float: right" [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page"
              [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)">
            </ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Delete Model Dialoag-->

</section>
<modal #contentDeletes>
  <modal-header>
    <strong>Are you sure?</strong>
  </modal-header>
  <modal-content>
    <section class="card">
      <div class="card-body">
        <div class="modal-wrapper">
          <div class="modal-icon">
            <i class="fas fa-question-circle"></i>
          </div>
          <div class="modal-text">
            <p class="mb-0">Are you sure that you want to delete this record?</p>
          </div>
        </div>
      </div>
    </section>
  </modal-content>
  <modal-footer>
      <div class="row">
        <div class="col-md-12 text-right">
          <button class="btn btn-danger  mb-1 mt-1 mr-1 ws-normal btn btn-default"
           (click)="onConfrimDelete()">Confirm</button>
          <button class="btn btn-primary  mb-1 mt-1 mr-1 ws-normal btn btn-default" (click)="OnCanceleDeleteModal()">Cancel</button>
        </div>
      </div>
  </modal-footer>
</modal>
