.fixed{
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

*{
  // font-family: 'Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif';
  font-family: 'Copperplate, Copperplate Gothic Light, fantasy';
}
