a {
  // color: blue;
  font-weight: bold;
  text-decoration: none;
}

.status-success {
  border-top-color: green;
  border-left-color: green;
  border-right-color: green;
  border-bottom-color: green;
}

.status-danger {
  border-top-color: red;
  border-left-color: red;
  border-right-color: red;
  border-bottom-color: red;
}

.status {
  border-left-width: 4px;
  border-left-color: green;
}

.danger {
  border-left-width: 4px;
  border-left-color: red;
}

.btn{
  background-color: #169EEC;
}
.title{
  background-color: #169EEC;
}
.text{
  color:#169EEC;
}

