<header class="header">
  <div class="logo-container">
    <a [routerLink]="['/pages/dashboard']" class="logo">
      <img src="./../../../assets/project-image/vga-logo.png" width="85" height="45" alt="Porto Admin" />
    </a>
    <div class="d-md-none toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html"
      data-fire-event="sidebar-left-opened"> <i class="fas fa-bars" aria-label="Toggle sidebar"></i> </div>
  </div>

  <div class="header-right">
    <span class="separator"></span>
    <div id="userbox" class="userbox">
      <a style="cursor: pointer" data-toggle="dropdown" class="dd">
        <img src="./../../../assets/img/user.png" style="border-radius: 50%;" height=25 width=25 />
        <div class="profile-info profile-info-no-role" data-lock-name="John Doe" data-lock-email="johndoe@okler.com">
          <span class="name">
            <strong *ngIf = "userObj.roleName !== 'Super Admin'" class="font-weight-semibold">{{parentAccountName}}</strong>
            <strong *ngIf = "userObj.roleName === 'Super Admin'" class="font-weight-semibold">VGA Admin</strong>
          </span>
          <span class="name"><span>{{userName}}</span></span>
        </div>
        <i class="fas fa-chevron-down"></i>
      </a>
      <div class="dropdown-menu">
        <ul class="list-unstyled mb-2">
          <li class="divider"></li>
          <li>
            <a role="menuitem" style="cursor: pointer;" tabindex="-1" [routerLink]="['/auth/change-password']"><i class="fas fa-lock"></i> Change Password</a>
          </li>
          <li>
            <a role="menuitem" style="cursor: pointer;" tabindex="-1" (click)="logOut()"><i class="fas fa-power-off"></i> Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

