.green{
  color: green;
}

.red{
  color: red;
}
.border{
  border: 1px !important;
  border-top: 3px solid #169EEC !important;
}
.btn-s{
  background-color: #169EEC;
}
.btn-user {
  background-color: #169EEC;
  outline: none
}
.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.card-body {
  border-top: 3px solid #169EEC;
  border-radius: 5px 0 5px 5px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
  padding: 33px 33px 15px;
}
.bg-danger{
  color: white;
}