<section role="main" class="content-body">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8">
          <h3>Manage Users</h3>
        </div>
        <div class="col-md-4">
          <button class="btn btn-user float-right text-white" (click)="addUser(content)">
            <i class="fa fa-plus text-white"> Add New User</i>
          </button>
        </div>
      </div>
      <div class="card">
        <div class="card-body border">
          <div class="row filter-cont">
            <div class="col-md-3">
              <div class="pt-0">
                <label>Name</label>
                <input type="text" class="form-control" #userName placeholder="Name" required />
              </div>
            </div>
            <div class="col-md-3 pl-0">
              <div class="pt-0">
                <label>Email</label>
                <input type="text" class="form-control" #email placeholder="Email" required />
              </div>
            </div>

            <div class="col-md-3 pl-0">
              <div class="pt-4 text-right">
                <button type="button" class="btn btn-s text-right text-white" (click)="onSearch(userName.value,email.value)">
                  Search
                </button>
                <button type="button" class="btn btn-s text-right text-white ml-3" (click)="onClear(userName.value = '', email.value = '')">
                  Clear
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body border">
          <div class="table-responsive">
            <!-- <div *ngIf="isLoading" class="table-loader">
                              <img src="../../../../assets/img/loading.gif" width="100px" alt="loading" />
                          </div> -->
            <table class="display table table-hover w-100 table-head-bg-secondary" width="100%">
              <thead>
                <tr>
                  <!-- <th>#</th> -->
                  <!-- <th>Picture</th> -->
                  <th (click)="sort('name')">Name</th>
                  <th (click)="sort('user_name')">Username</th>
                  <th (click)="sort('user_email')">Email</th>
                  <th (click)="sort('user_roles')">Roles</th>
                  <th>Last Login</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody style="height: 400px; overflow: scroll">
                <tr *ngFor="let usersObj of users$; let i = index">
                  <!-- <td>{{ i + 1 }}</td> -->
                  <!-- <td></td> -->
                  <td>{{ usersObj.name }}</td>
                  <td>{{ usersObj.username }}</td>
                  <td>{{ usersObj.email }}</td>
                  <td>{{ getRoleName(usersObj) }}</td>
                  <td>{{ usersObj.last_login_on | date :'medium' }}</td>
                  <td class="text-center">
                    <a style="cursor: pointer" (click)="onEditUserDetail(usersObj.id)" title="Edit" class="icon-a">
                      <i class="fa fa-edit icons-size icon-margin green"></i> </a>&nbsp;&nbsp;
                    <a style="cursor: pointer" (click)="onDeleteUserDetail(usersObj.id)" title="Delete" class="icon-a">
                      <i class="fa fa-trash ml-2 icons-size icon-margin red"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="users$?.length == 0">
                <tr>
                  <td colspan="10" class="no-data-available text-center">No matching records found
                  </td>
                </tr>
              </tbody>
            </table>
            <ngb-pagination style="float: right" [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page"
              [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)">
            </ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<modal #content>
  <modal-header>
    <h4 class="card-title label m-0" *ngIf="!isEditable">Add User</h4>
    <h4 class="card-title label m-0" *ngIf="isEditable">Update User</h4>
  </modal-header>
  <modal-content style="outline: none">
    <div class="modal-text">
      <form [formGroup]="userForm">
        <div class="row">
          <div class="col-lg-12">
            <label>Name </label>
            <input type="text" class="form-control" name="name" formControlName="name" placeholder="Name" required />
            <div class="text-danger"
              *ngIf="userForm.controls['name'].hasError('required') && userForm.controls['name'].touched">
              Please Enter Name!
            </div>
            <div class="text-danger"
              *ngIf="userForm.controls['name'].hasError('minlength') && userForm.controls['name'].touched ">
              Please enter more than 3 characters!
            </div>
          </div>
          <div class="mb-3 hidden-lg"></div>
        </div>
        <div class="row mt-3">
          <div class="col-lg-12">
            <label>Username</label>
            <input type="text" class="form-control" name="username" formControlName="username" placeholder="Username"
              required />
            <div class="text-danger"
              *ngIf="userForm.controls['username'].hasError('required') &&userForm.controls['username'].touched">
              Please Enter Username!
            </div>
          </div>
          <div class="mb-3 hidden-lg"></div>
        </div>
        <div class="row mt-3">
          <div class="col-lg-12">
            <label>Email </label>
            <input type="email" class="form-control" name="email" formControlName="email" placeholder="Email Address"
              required />
            <div
              *ngIf="userForm.controls['email'].touched">
              <p class="text-danger m-0 mt-1" [hidden]="!userForm.controls['email'].errors?.required">
                Please Enter Email!
              </p>
              <p class="text-danger m-0 mt-1" [hidden]="!userForm.controls['email'].errors?.pattern">
                Email should be real one!
              </p>
            </div>
          </div>
          <div class="mb-3 hidden-lg"></div>
        </div>

        <div class="row mt-3">
          <div class="col-lg-12">
            <label>Select Role</label>
            <select class="form-control" id="role" name="role" formControlName="role"
              (change)="role($event)" required>
              <option value="">Select Role</option>
              <option [value]="roles.id" *ngFor="let roles of getAllRoles">
                {{ roles.name }}
              </option>
            </select>
            <div class="text-danger"
               *ngIf="userForm.controls['role'].hasError('required') && userForm.controls['role'].touched">
               Please Enter role!
            </div>
          </div>
          <div class="mb-3 hidden-lg"></div>
        </div>
        <div class="row mt-3">
          <div class="col-lg-12">
            <label>Select Parent Id</label>
            <select class="form-control" name="parent_account_id" formControlName="parent_account_id"
              (change)="parent($event)" required>
              <option value="" selected disabled>Select Parent Account</option>
              <option *ngFor="let obj of accounts$" [value]="obj.id">
                {{ obj.name }}
              </option>
            </select>
            <div class="text-danger"
              *ngIf="userForm.controls['parent_account_id'].hasError('required') && userForm.controls['parent_account_id'].touched">
              Please Select Parent Account!
            </div>
          </div>
        </div>
      </form>
    </div>
  </modal-content>
  <modal-footer>
    <div class="row">
      <div class="col-lg-12 text-right">
        <button class="btn btn-default modal-dismiss" (click)="onClickCloseModel()">
          Cancel
        </button>
        <button *ngIf="!isEditable" class="btn btn-user text-white mb-1 mt-1 mr-1 ws-normal btn btn-default"
          (click)="onSubmit()">
          Save</button>&nbsp;
        <button *ngIf="isEditable" class="btn btn-user text-white mb-1 mt-1 mr-1 ws-normal btn btn-default"
          (click)="onSaveUpdatedUserInfo()">
          Update</button>&nbsp;
      </div>
    </div>
  </modal-footer>
</modal>

 <!--Delete Model Dialoag-->
 <modal #contentDelete>
  <modal-header>
    <strong>Are you sure?</strong>
  </modal-header>
  <modal-content>
    <section class="card">
      <div class="card-body">
        <div class="modal-wrapper">
          <div class="modal-icon">
            <i class="fas fa-question-circle"></i>
          </div>
          <div class="modal-text">
            <p class="mb-0">Are you sure that you want to delete this record?</p>
          </div>
        </div>
      </div>
    </section>
  </modal-content>
  <modal-footer>
      <div class="row">
        <div class="col-md-12 text-right">
          <button class="bg-danger  mb-1 mt-1 mr-1 ws-normal btn btn-default"
           (click)="onConfrimDelete()">Confirm</button>
          <button class="btn btn-primary  mb-1 mt-1 mr-1 ws-normal btn btn-default" (click)="OnCanceleDeleteModal()">Cancel</button>
        </div>
      </div>
  </modal-footer>
</modal>
