.card-body{
    border-top: 3px solid #169EEC;
	border-radius: 5px 0 5px 5px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	padding: 33px 33px 15px;
}
.border{
    border-top: 3px solid darkgray;
}
.btn{
	color: white;
}
.green{
  color: green;
}

.red{
  color: red;
}
