<section role="main" class="content-body content-body-modern">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="vgaReportForm">
        <div class="row">
          <div class="col-md-10">
            <div class="row">
              <button class="ml-3 back-button" (click)="onClickOfPrevious()"><i class="fa fa-arrow-left text-white" aria-hidden="true"></i></button>
            <h4 class="ml-3 mt-2">Edit VGA Report</h4>
            </div>
          </div>
          <div class="col-md-2">
            <i class="fa fa-home" [routerLink]="['/pages/dashboard']" style="cursor: pointer">
              Dashboard</i>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <ng-container>
              <app-vga-report-details></app-vga-report-details>
              <div class="box-header mt-4 ml-n3 clearfix" *ngIf="(seqNumber === 1 && _secId.section_name !== 'Competency Mapping') || (seqNumber === 2 && _secId.section_name !== 'Competency Mapping'); else elseQuestion" style="background-color: #f5f5f5; height: 55px;">
                <div class="pull-left">
                  <a class="breadcrumb" *ngIf="seqNumber === 1 && _secId.section_name !== 'Competency Mapping'" id="question"><i class="fa fa-tachometer-alt mt-1 mr-2"></i>{{ questions }}</a>
                  <a class="breadcrumb" *ngIf="seqNumber === 2 && _secId.section_name !== 'Competency Mapping'" id="question"><i class="fa fa-tachometer-alt mt-1 mr-2"></i>{{ questions }}</a>
                </div>
                <div class="pull-right">
                  <button class="btn mt-2" *ngIf="seqNumber === 1 && answerType === 'Radio' && _secId.section_name !== 'Competency Mapping'" style="background-color: #169EEC; color: white; " (click)="addNewEmployee(content)">Add New</button>
                  <button class="btn mt-2" *ngIf="seqNumber === 2 && answerType === 'Radio' && _secId.section_name !== 'Competency Mapping'" style="background-color: #169EEC; color: white; " (click)="addNewEmployee(content)">Add New</button>
                </div>
              </div>
            </ng-container>
            <ng-template #elseQuestion>
              <div class="box-header mt-4 ml-n3" *ngIf="sectionName !== 'Competency Mapping'">
                <a class="breadcrumb" id="question"><i class="fa fa-tachometer-alt mt-1 mr-2"></i>{{ questions }}</a>
              </div>
              <div class="box-header mt-4 ml-n3" *ngIf="sectionName === 'Competency Mapping'">
                <div>
                  <label class="font-weight-bold ml-3">Client Employee Name: </label>&nbsp;&nbsp;
                  <div class="list-inline-item">{{clientEmployeeNameForCompetencyMapping}}</div>
                </div>
                <a class="breadcrumb" style="color: #169EEC;" id="question" *ngIf="questionType === 6"><i class="fa fa-tachometer-alt mt-1 mr-2"></i><b>Top Level</b></a>
                <a class="breadcrumb" style="color: #169EEC;" id="question" *ngIf="questionType === 7"><i class="fa fa-tachometer-alt mt-1 mr-2"></i><b>Managerial Level</b></a>
                <a class="breadcrumb" style="color: #169EEC;" id="question" *ngIf="questionType === 8"><i class="fa fa-tachometer-alt mt-1 mr-2"></i><b>Executive Level</b></a>
                <h4 class="ml-3" id="question"><b>{{seqNumber}}. {{ questions }}</b></h4>
              </div>
            </ng-template>

            <ng-template #content let-modal>
              <form [formGroup]="addEmployeeForm" (ngSubmit)="onSubmitOfEmployee()">
                <div class="modal-header">
                  <h4 class="modal-title">VGA Audit Employee Details</h4>
                  <br /><br />
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid">
                    <div class="row filter-cont">
                      <div class="col-md-6 pl-0">
                        <label class="font-weight-bold mt-2">Select Employee</label>
                      </div>
                      <div class="col-md-6 pl-0">
                        <div *ngIf="seqNumber === 1" class="pt-0">
                          <select class="form-control" formControlName="employeeName" (change)="onSelect($event.target.value)">
                            <option value="">Select One Employee</option>
                            <option [value]="empName.id" *ngFor="let empName of employeName">{{empName.name}}</option>
                          </select>
                        </div>
                        <div *ngIf="seqNumber === 2" class="pt-0">
                          <select class="form-control" formControlName="employeeName" (change)="onSelect($event.target.value)">
                            <option value="">Select One Employee</option>
                            <option [value]="empName.clientEmployee.id" *ngFor="let empName of managerEmployeeName">{{empName.clientEmployee.name}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <br />
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="submit" style="background-color: #169EEC; color: white;" class="btn btn-submit text-white mr-2">
                    Submit
                  </button>
                  <button type="button" class="btn btn-light bg-light text-dark mr-2" (click)="modal.close('Close click')">
                    Close
                  </button>
                </div>
              </form>
            </ng-template>

            <div *ngIf="answerType === 'Dropdown'">
              <app-drop-down [createform]="createform" [answerValueType]="answerValueType"
                [vgaReportForm]="vgaReportForm" [questions]="questions" [answerType]="answerType"
                [answerValue]="answerValue" [title]="title" [subQuestionIdArr]="subQuestionIdArr"
                [subQuestionsArr]="subQuestionsArr" [arr]="arr" [reportAnswerValues]="reportAnswerValues"
                [submittedAnswer]="submittedAnswer" [byDefaultValue]="byDefaultValueofSubSection"></app-drop-down>
            </div>

            <!-- <div *ngIf="answerType === 'Radio' && _secId.section_name === 'Competency Mapping'">
              <div class="mt-4" [formGroup]="vgaReportForm">
                  <div *ngFor="let que of subQuestions[0]; let i = index;">
                    <table class="table table-bordered table-hover dataTable">
                      <th style="width: 65%">{{i + 1}}. {{que.title}}</th>
                      <th class="text-center" style="width: 7%">5</th>
                      <th class="text-center" style="width: 7%">4</th>
                      <th class="text-center" style="width: 7%">3</th>
                      <th class="text-center" style="width: 7%">2</th>
                      <th class="text-center" style="width: 7%">1</th>
                    </table>
                    <div *ngFor="let q of que.subSubQuestions; let i = index;">
                      <table class="table table-bordered table-hover dataTable">
                        <tr>
                          <td style="width: 5%">{{q.sequence_number}}</td>
                          <td style="width: 60%">{{q.title}}</td>
                          <td *ngFor="let r of radio2">
                            <input type="radio" value="{{r}}" (change)="onClickOfRadio($event.target)"/>
                          </td>
                          <td class="text-center" style="width: 7%"><input type="radio" id="radioBtn"/></td>
                          <td class="text-center" style="width: 7%"><input type="radio" id="radioBtn"/></td>
                          <td class="text-center" style="width: 7%"><input type="radio" id="radioBtn"/></td>
                          <td class="text-center" style="width: 7%"><input type="radio" id="radioBtn"/></td>
                          <td class="text-center" style="width: 7%"><input type="radio" id="radioBtn"/></td>
                        </tr>
                      </table>
                    </div>

                  </div>
                </div>
            </div> -->

            <div *ngIf="answerType === 'Radio'">
              <ng-container *ngIf="answerType === 'Radio' && (seqNumber === 1 && _secId.section_name !== 'Competency Mapping') || (seqNumber === 2 && _secId.section_name !== 'Competency Mapping'); else elseBlock">
                <table class="display table table-hover w-100 table-head-bg-secondary" width="100%">
                  <thead>
                    <tr>
                      <th>Employee Name</th>
                      <th>Employee Level</th>
                      <th>Section Field</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let emp of listOfEmployees">
                      <td>{{emp.clientEmployee.name}}</td>
                      <td>{{emp.clientEmployee.employee_level}}</td>
                      <td>{{emp.employeePerformance.name}}</td>
                      <td>
                        <a style="cursor: pointer" title="Edit" class="icon-a" (click)="onClickOfEditEmployee(emp.id)">
                          <i class="fa fa-edit icons-size icon-margin text-success"></i>
                        </a>
                        &nbsp;&nbsp;
                        <!-- <a style="cursor: pointer" title="Delete" class="icon-a">
                          <i class="fa fa-trash ml-2 icons-size icon-margin text-danger"></i>
                        </a> -->
                      </td>
                    </tr>
                  </tbody>
                </table>
                <br>
                <ngb-pagination style="float: right;" [collectionSize]="totalItems" [(page)]="page" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>

              </ng-container>

              <ng-template #elseBlock>
                <div>
                  <app-radio [sectionName]="sectionName" [createform]="createform" [answerValueType]="answerValueType" [vgaReportForm]="vgaReportForm"
                    [questions]="questions" [answerType]="answerType" [answerValue]="answerValue" [title]="title" [subQuestionsForCompetencyMapping]="subQuestionsForCompetencyMapping"
                    [subQuestionIdArr]="subQuestionIdArr" [subQuestionsArr]="subQuestionsArr" [arr]="arr" [radio]="radio" [radio2]="radio2" [reportAnswerValues]="reportAnswerValues"
                    [submittedAnswer]="submittedAnswer" [onClickOfRadio]="onClickOfRadio" [byDefaultValue]="byDefaultValueofquestion" [questionType]="questionType" [seqNumber]="seqNumber">
                  </app-radio>
                </div>
              </ng-template>
            </div>

            <div *ngIf="answerType === 'Checkbox'">
              <app-radio [createform]="createform" [answerValueType]="answerValueType" [vgaReportForm]="vgaReportForm"
                [questions]="questions" [answerType]="answerType" [answerValue]="answerValue" [title]="title"
                [subQuestionIdArr]="subQuestionIdArr" [subQuestionsArr]="subQuestionsArr" [arr]="arr"></app-radio>
            </div>

            <div *ngIf="answerType === 'Textbox'">
              <app-text-box [createform]="createform" [answerValueType]="answerValueType" [vgaReportForm]="vgaReportForm"
                [questions]="questions" [answerType]="answerType" [answerValue]="answerValue" [title]="title"
                [subQuestionIdArr]="subQuestionIdArr" [subQuestionsArr]="subQuestionsArr" [arr]="arr"></app-text-box>
            </div>

            <div class="row mt-4" *ngIf="answerType === 'Dropdown' || (answerType === 'Radio' && seqNumber !== 1 && seqNumber !== 2 && _secId.section_name !== 'Competency Mapping') || answerType === 'Checkbox'">
              <div class="col-md-12">
                <label class="font-weight-bold"><i class="fa fa-edit"></i>Please provide rationale for assigned rating.</label><br />
                <textarea rows="4" fullWidth style="width: 100%" formControlName="remarks"></textarea>
              </div>
            </div>
            <div class="row mt-4" *ngIf="answerType === 'Radio' && _secId.section_name === 'Competency Mapping'">
              <div class="col-md-12">
                <label class="font-weight-bold"><i class="fa fa-edit"></i>Please provide rationale for assigned rating.</label><br />
                <textarea rows="4" fullWidth style="width: 100%" formControlName="remarks"></textarea>
              </div>
            </div>
            <div class="row" id="consultant" *ngIf="answerType === 'Dropdown' || (answerType === 'Radio' && _secId.section_name === 'Competency Mapping') || (answerType === 'Radio' && seqNumber !== 1 && seqNumber !== 2 && _secId.section_name !== 'Competency Mapping') || answerType === 'Checkbox'">
              <div class="col-md-12">
                <label class="mt-2 font-weight-bold"><i class="fa fa-edit"></i>Please provide rationale for assigned rating.</label><br>
                <textarea rows="4" fullWidth style="width: 100%;" formControlName="consultantReview"></textarea>
              </div>
              <div class="col-md-4 mt-2" *ngIf="(answerType === 'Radio' && seqNumber !== 1 && seqNumber !== 2 && _secId.section_name !== 'Competency Mapping') || answerType === 'Dropdown' || (answerType === 'Radio' && _secId.section_name === 'Competency Mapping')">
                <label class="font-weight-bold">Consultant Review Status</label>
                <select class="form-control" formControlName="status">
                  <option [ngValue]="null" *ngIf="roleType == 'consultant'">Reviewed</option>
                  <option *ngIf="status && roleType !== 'consultant'">{{status}}</option>
                  <option value="Reviewing">Reviewing</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <!-- <div *ngFor="let ctrl of vgaReportForm.controls | keyvalue">
        <select class="form-control" *ngIf="answerValueType === '1-3'" [formControlName]="ctrl.key" (change)="onChange($event.target.value)">
          <option [ngValue]="null">Select one...</option>
          <option *ngFor="let ans of answerValueOfSubQuestion; let i = index;" [value]="ans" id={{i}}>{{ans}}</option>
        </select>
        </div> -->
        <div class="mt-3 float-right" *ngIf="(seqNumber !== 1 && seqNumber !== 2 && answerType == 'Radio') || (answerType == 'Radio' && sectionName === 'Competency Mapping') || answerType === 'Dropdown'">
          <button class="btn btn-submit" id="submit" (click)="onSubmit()">
            Submit
          </button>
          <button class="btn btn-next m-2" (click)="onClickOfNextQuestion()" id="next">
            Next
          </button>
        </div>

      </form>
    </div>
  </div>
</section>
