.card-body{
  border-top: 3px solid #169EEC;
  border-radius: 5px 0 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 33px 33px 15px;
}
.border{
  border-top: 3px solid darkgray;
}
.btn-submit{
  background-color: #169EEC;
  color: white;
}
.btn-next{
  background-color: #ff4444;
  color:white;
}
.btn-previous{
  background-color: #169EEC;
  color: white;
  border-radius: 60%;
  cursor: pointer;
}
.breadcrumb{
  background-color: #f5f5f5;
  border-radius: 5px;
  color:#169EEC;
}
h3 {
  border: 1px solid black;
  padding: 15%;
  border-radius: 10px;
}

.back-button{
  border: 1px;
  background-color: #169EEC;
  height: 40px;
  width: 40px;
}

.required-field:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 3px;
}

