<section role="main" class="content-body">
  <div class="card">
    <div class="row filter-cont mt-3 ml-3 mb-3">
      <div class="col-md-3 pl-0">
        <div class="mt-2">
          <input type="text" class="form-control" #country (keyup.enter)='onSearch(country.value)' placeholder="Search country" required />
        </div>
      </div>
      <div class="pt-2 col-md-9 text-right" style="margin-top: -2%">
        <label class="required-field"></label><br />
        <button style="background-color: #169EEC; color: white;" class="btn float-left" (click)="onSearch(country.value)">Search</button>
        <button style="background-color: #169EEC; color: white;" class="btn float-left ml-3" (click)="onClear(country.value = '')">Clear</button>

        <button type="button" (click)="addNewCountry(content)" style="background-color: #169EEC; color: white;" class="btn float-right mr-2">
          Add new country
        </button>
        <ng-template #content let-modal>
          <form [formGroup]="addCountryForm" (ngSubmit)="onAddCountry()">
            <div class="modal-header">
              <h4 class="modal-title">New Country</h4>
              <br /><br />
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row filter-cont">
                  <div class="col-md-6 pl-0">
                    <label class="font-weight-bold mt-2">Add New Country</label>
                  </div>
                  <div class="col-md-6 pl-0">
                    <div class="pt-0">
                      <input type="text" formControlName="countryName" class="form-control" required />
                      <div class="text-danger"
                        *ngIf="addCountryForm.controls['countryName'].hasError('required') && addCountryForm.controls['countryName'].touched">
                        Country name is required
                      </div>
                      <div class="text-danger"
                        *ngIf="addCountryForm.controls['countryName'].hasError('pattern') && addCountryForm.controls['countryName'].touched">
                        Please Enter valid country name
                      </div>
                    </div>
                  </div>
                </div>
                <br />
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" style="background-color: #169EEC; color: white;" class="btn btn-submit text-white mr-2">
                Submit
              </button>
              <button type="button" class="btn btn-light bg-light text-dark mr-2" (click)="modal.close('Close click')">
                Close
              </button>
            </div>
          </form>
        </ng-template>
      </div>
    </div>

    <div class="card-header border mt-3">
      <p>Countries</p>
    </div>
    <div class="card-body">
      <div class="row justify-content-around">
        <ul *ngFor="let country of countries; let i = index" class="col-md-3 border m-2">
          <div class="row">
            <div class="col">
              <div class="float-left">
                <p id=p{{country.id}} #pTag>{{ country.countries_name }}</p>
                <input id="input{{country.id}}" #inputTag hidden="true" type="text" class="form-control" value="{{ country.name }}"/>
              </div>
              <div class="float-right">
                <a class="btn mr-2" (click)="onEditCountry(country, inputTag.value)" ><i id="edit{{country.id}}" class="fas fa-edit text-success"></i></a>
                <a class="btn" (click)="deleteCountry(country.id)"><i class="fas fa-trash text-danger"></i></a>
              </div>
            </div>
          </div>
        </ul>
      </div><br>
    <ngb-pagination style="float: right;" [collectionSize]="totalItems" [page]="2" [maxSize]="3" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
    </div>
  </div>
</section>
