<section role="main" class="content-body content-body-modern">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8">
          <h4>Employee List</h4>
        </div>
        <div class="col-md-4">
          <button class="btn float-right" style="background-color: #169EEC;" [routerLink]="['/pages/new-employee']">
            <i class="fa fa-plus"> Add New Employee</i>
          </button>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row filter-cont">
            <div class="col-md-3 pl-0">
              <div class="pt-0">
                <label class="font-weight-bold">Employee Name</label>
                <input type="text" class="form-control" (keyup.enter)="onSearch(employeeName.value)" #employeeName placeholder="Employee Name" required />
              </div>
            </div>
            <div class="col-md-3 pl-0">
              <div class="pt-2 text-right">
                <label class="required-field"></label><br />
                <button class="btn btn-primary" (click)="onSearch(employeeName.value)" style="background-color: #169EEC; color: white;">
                  Search
                </button>
                <button class="btn btn-primary ml-3" (click)="onClear(employeeName.value = '')" style="background-color: #169EEC; color: white;">
                  Clear
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body border">
          <div class="table-responsive">
            <table class="display table table-hover w-100 table-head-bg-secondary" width="100%">
              <thead>
                <tr>
                  <th (click)="sort('employee_name')">Employee Name</th>
                  <th (click)="sort('employee_level')">Employee Level</th>
                  <th (click)="sort('client_department')">Client Department</th>
                  <th (click)="sort('designation')">Designation</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let empObj of employees$; let id = index">
                  <td>{{ empObj.name }}</td>
                  <td>{{ empObj.employee_level }}</td>
                  <td>{{ empObj.Departments.department_name }}</td>
                  <td>{{ empObj.Designations.designation_name }}</td>
                  <td>
                    <a style="cursor: pointer" (click)="onEditEmployeeDetails(empObj.id)" title="Edit" class="icon-a">
                      <i class="fa fa-edit icons-size icon-margin green"></i> </a>&nbsp;&nbsp;
                    <a style="cursor: pointer" (click)="onDeleteEmployee(empObj.id)" title="Delete" class="icon-a">
                      <i class="fa fa-trash ml-2 icons-size icon-margin red"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="employees$?.length == 0">
                <tr>
                  <td colspan="10" class="no-data-available text-center">No matching records found
                  </td>
                </tr>
              </tbody>
            </table>
            <ngb-pagination style="float: right" [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page"
              [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)">
            </ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Delete Model Dialoag-->
<modal #contentDelete>
  <modal-header>
    <strong>Are you sure?</strong>
  </modal-header>
  <modal-content>
    <section class="card">
      <div class="card-body">
        <div class="modal-wrapper">
          <div class="modal-icon">
            <i class="fas fa-question-circle"></i>
          </div>
          <div class="modal-text">
            <p class="mb-0">Are you sure that you want to delete this record?</p>
          </div>
        </div>
      </div>
    </section>
  </modal-content>
  <modal-footer>
      <div class="row">
        <div class="col-md-12 text-right">
          <button class="btn btn-danger  mb-1 mt-1 mr-1 ws-normal btn btn-default"
           (click)="onConfrimDelete()">Confirm</button>
          <button class="btn btn-primary  mb-1 mt-1 mr-1 ws-normal btn btn-default" (click)="OnCanceleDeleteModal()">Cancel</button>
        </div>
      </div>
  </modal-footer>
</modal>
