section{
  background-color: rgb(236,240,245);
}
.btn{
    background-color: #169EEC;
    color: white;
}

.border{
    border-radius: 1px;
    padding: 5px;
}

.card-body{
    border-top: 3px solid #169EEC;
	border-radius: 5px 0 5px 5px;
}

.required-field:after {
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 3px;
  }

.profile-user-image{
    margin: 0 auto;
    width: 100px;
    padding: 3px;
    border: 3px solid #d2d6de;
    border-radius: 50%;
    margin-top: 10%;
    margin-left: 30%;
    cursor: pointer;
}
.img-circle{
  height: 24vh;
  width: 12vw;
  border-radius: 50%;
}
h4{
  font-size:18px;
}
