<section role="main" class="content-body">
  <div class="row">
    <div class="col-md-12 px-0">
      <h4>{{clientPageTitle}}</h4>
      <div class="card border-left-0 border-right-0 border-bottom-0">
        <div class="card-body">
          <div class="container-fluid">
            <form [formGroup]="clientMasterForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-4">
                  <div class="row" style="justify-content: center; margin-left: -40%;">
                    <div class="pt-0">
                      <label for="file-input">
                        <img [src]="imageUrl" class="form-control"
                          class="profile-user-image img-circle">
                      </label>
                      <input type="file" id="file-input" (change)="onChangeClientProfilePicture($event)"
                        style="display:none;">
                    </div>
                  </div>
                </div>
                <div class="col-md-8 filter-cont">
                  <div class="row pl-0">
                    <div class="col-md-6 pl-0">
                      <div class="form-group pt-0"
                        [ngClass]="{ 'has-error': !clientMasterForm.controls['clientName'].valid && clientMasterForm.controls['clientName'].touched}">
                        <label class="required-field font-weight-bold">Client Name</label>
                        <input type="text" formControlName="clientName" class="form-control"
                          placeholder="Client Name" />
                        <div class="text-danger"
                          *ngIf="clientMasterForm.controls['clientName'].hasError('required') && clientMasterForm.controls['clientName'].touched ">
                          Client name is required
                        </div>
                        <div class="text-danger"
                          *ngIf="clientMasterForm.controls['clientName'].hasError('minlength') && clientMasterForm.controls['clientName'].touched
                          ">
                            Please enter more than 3 characters!
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 pl-0">
                      <div class="form-group pt-0"
                        [ngClass]="{ 'has-error': !clientMasterForm.controls['mobileNumber'].valid && clientMasterForm.controls['mobileNumber'].touched}">
                        <label class="required-field font-weight-bold">Mobile</label>
                        <input type="number" formControlName="mobileNumber" class="form-control" placeholder="Mobile"
                          required />
                        <div class="text-danger"
                          *ngIf="clientMasterForm.controls['mobileNumber'].hasError('required') && clientMasterForm.controls['mobileNumber'].touched ">
                          Mobile number is required
                        </div>
                        <div class="text-danger"
                          *ngIf="clientMasterForm.controls['mobileNumber'].hasError('minlength') && !clientMasterForm.controls['mobileNumber'].hasError('pattern') && clientMasterForm.controls['mobileNumber'].touched ">
                          Mobile must at list 10 digits
                        </div>
                        <div class="text-danger"
                          *ngIf="clientMasterForm.controls['mobileNumber'].hasError('maxlength') && !clientMasterForm.controls['mobileNumber'].hasError('pattern') && clientMasterForm.controls['mobileNumber'].touched ">
                          Mobile number not more than 13 digits
                        </div>
                        <div class="text-danger"
                          *ngIf="clientMasterForm.controls['mobileNumber'].hasError('pattern') && clientMasterForm.controls['mobileNumber'].touched ">
                          Please enter valid mobile number
                        </div>
                      </div>
                    </div>
                  </div><br />
                  <div class="row filter-cont">
                    <div class="col-md-6 pl-0">
                      <div class="form-group pt-0"
                        [ngClass]="{ 'has-error': !clientMasterForm.controls['companyName'].valid && clientMasterForm.controls['companyName'].touched}">
                        <label class="required-field font-weight-bold">Company Name</label>
                        <input type="text" formControlName="companyName" class="form-control"
                          placeholder="Company Name" />
                        <div class="text-danger"
                          *ngIf="clientMasterForm.controls['companyName'].hasError('required') && clientMasterForm.controls['companyName'].touched ">
                          Company name is required
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 pl-0">
                      <div class="form-group pt-0"
                        [ngClass]="{ 'has-error': !clientMasterForm.controls['address'].valid && clientMasterForm.controls['address'].touched}">
                        <label class="required-field font-weight-bold">Address</label>
                        <input type="text" formControlName="address" class="form-control" placeholder="address" />
                        <div class="text-danger"
                          *ngIf="clientMasterForm.controls['address'].hasError('required') && clientMasterForm.controls['address'].touched ">
                          Address is required
                        </div>
                      </div>
                    </div>
                  </div><br />
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 pl-0">
                  <div class="form-group pt-0"
                    [ngClass]="{ 'has-error': !clientMasterForm.controls['email'].valid && clientMasterForm.controls['email'].touched}">
                    <label class="required-field font-weight-bold">Email</label>
                    <input type="text" class="form-control" formControlName="email" placeholder="Email" />
                    <div
                    *ngIf="clientMasterForm.get('email').touched && clientMasterForm.get('email').invalid ">
                    <p class="text-danger m-0 mt-1" [hidden]="!clientMasterForm.get('email').errors?.required">
                      Please Enter Email!</p>
                    <p class="text-danger m-0 mt-1" [hidden]="!clientMasterForm.get('email').errors.pattern">
                      Kindly enter valid email!
                    </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 pl-0">
                  <div class="form-group pt-0"
                    [ngClass]="{ 'has-error': !clientMasterForm.controls['username'].valid && clientMasterForm.controls['username'].touched}">
                    <label class="required-field font-weight-bold">Usename</label>
                    <input type="text" class="form-control" formControlName="username" placeholder="Username" />
                    <div class="text-danger"
                      *ngIf="clientMasterForm.controls['username'].hasError('required') && clientMasterForm.controls['username'].touched ">
                      Username is required
                    </div>
                  </div>
                </div>
                <div class="col-md-4 pl-0">
                  <div class="form-group pt-0"
                    [ngClass]="{ 'has-error': !clientMasterForm.controls['parent_account_id'].valid && clientMasterForm.controls['renewalDate'].touched}">
                    <label class="required-field font-weight-bold">Parent Account Name</label>
                    <select class="form-control" name="parent_account_id" formControlName="parent_account_id" required>
                      <option value="" selected disabled>Select Parent Account</option>
                      <option [value]="obj.id" *ngFor="let obj of accounts$">{{obj.name}}
                      </option>
                    </select>
                    <div class="text-danger"
                      *ngIf="clientMasterForm.controls['parent_account_id'].hasError('required') && clientMasterForm.controls['parent_account_id'].touched ">
                      parent account name is required
                    </div>
                  </div>
                </div>
              </div><br />
              <div class="row filter-cont">
                <div class="col-md-4 pl-0">
                  <div class="form-group pt-0"
                    [ngClass]="{ 'has-error': !clientMasterForm.controls['country'].valid && clientMasterForm.controls['country'].touched}">
                    <label class="required-field font-weight-bold">Select Country</label>
                    <select class="form-control" formControlName="country" name="country" required (change)="getStates($event.target.value)">
                      <option value="">--Select country--</option>
                      <option [value]="c.id" *ngFor="let c of countries">{{c.countries_name}}</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="clientMasterForm.controls['country'].hasError('required') && clientMasterForm.controls['country'].touched ">
                      Country is required
                    </div>
                  </div>
                </div>
                <div class="col-md-4 pl-0">
                  <div class="form-group pt-0">
                    <label class="required-field font-weight-bold">Select State</label>
                    <select class="form-control" formControlName="state" name="state" required (change)="getCities($event.target.value)">
                      <option value="">--Select state--</option>
                      <option [value]="s.id" *ngFor="let s of states">{{s.states_name}}</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="clientMasterForm.controls['state'].hasError('required') && clientMasterForm.controls['state'].touched ">
                      State is required
                    </div>
                  </div>
                </div>
                <div class="col-md-4 pl-0">
                  <div class="form-group pt-0">
                    <label class="required-field font-weight-bold">Select City</label>
                    <select class="form-control" formControlName="city" required>
                      <option value="">--Select city--</option>
                      <option [value]="c.id" *ngFor="let c of cities">{{c.city_name}}</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="clientMasterForm.controls['city'].hasError('required') && clientMasterForm.controls['city'].touched ">
                      City is required
                    </div>
                  </div>
                </div>
              </div><br />

              <div class="row filter-cont">
                <div class="col-md-4 pl-0">
                  <div class="form-group pt-0">
                    <label class="required-field font-weight-bold">Zip</label>
                    <input type="number" formControlName="zip" class="form-control" placeholder="Zip" required />
                    <div *ngIf="clientMasterForm.controls['zip'].touched ">
                      <p class="text-danger" [hidden]="!clientMasterForm.get('zip').errors?.required">
                        Zip is required
                      </p>
                      <p class="text-danger" [hidden]="!clientMasterForm.get('zip').errors?.pattern">
                        Enter valid Zip Code.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 pl-0">
                  <div class="form-group pt-0"
                    [ngClass]="{ 'has-error': !clientMasterForm.controls['website'].valid && clientMasterForm.controls['website'].touched}">
                    <label class="required-field font-weight-bold">Website</label>
                    <input type="text" formControlName="website" class="form-control" placeholder="website" />
                    <div class="text-danger"
                      *ngIf="clientMasterForm.controls['website'].hasError('required') && clientMasterForm.controls['website'].touched ">
                      Website is required
                    </div>
                  </div>
                </div>
                <div class="col-md-4 pl-0">
                  <div class="form-group pt-0"
                    [ngClass]="{ 'has-error': !clientMasterForm.controls['contactPerson'].valid && clientMasterForm.controls['contactPerson'].touched}">
                    <label class="required-field font-weight-bold">Contact Person</label>
                    <input type="text" formControlName="contactPerson" class="form-control"
                      placeholder="contact person" />
                    <div class="text-danger"
                      *ngIf="clientMasterForm.controls['contactPerson'].hasError('required') && clientMasterForm.controls['contactPerson'].touched ">
                      Contact Person is required
                    </div>
                  </div>
                </div>
              </div><br />

              <div class="row filter-cont">
                <div class="col-md-4 pl-0">
                  <div class="form-group pt-0"
                    [ngClass]="{ 'has-error': !clientMasterForm.controls['contactPersonDesignation'].valid && clientMasterForm.controls['contactPersonDesignation'].touched}">
                    <label class="required-field font-weight-bold">Contact Person
                      Designation</label>
                    <input type="text" formControlName="contactPersonDesignation" class="form-control"
                      placeholder="contact person designation" />
                    <div class="text-danger"
                      *ngIf="clientMasterForm.controls['contactPersonDesignation'].hasError('required') && clientMasterForm.controls['contactPersonDesignation'].touched ">
                      Contact Person designation is required
                    </div>
                  </div>
                </div>
                <div class="col-md-4 pl-0">
                  <div class="form-group pt-0"
                    [ngClass]="{ 'has-error': !clientMasterForm.controls['contactPersonPhone'].valid && clientMasterForm.controls['contactPersonPhone'].touched}">
                    <label class="required-field font-weight-bold">Contact Person Phone</label>
                    <input type="number" formControlName="contactPersonPhone" class="form-control"
                      placeholder="contact person phone" />
                      <div class="text-danger"
                          *ngIf="clientMasterForm.controls['contactPersonPhone'].hasError('required') && clientMasterForm.controls['contactPersonPhone'].touched ">
                          Mobile number is required
                        </div>
                        <div class="text-danger"
                          *ngIf="clientMasterForm.controls['contactPersonPhone'].hasError('minlength') && !clientMasterForm.controls['contactPersonPhone'].hasError('pattern') && clientMasterForm.controls['contactPersonPhone'].touched ">
                          Mobile must at list 10 digits
                        </div>
                        <div class="text-danger"
                          *ngIf="clientMasterForm.controls['contactPersonPhone'].hasError('maxlength') && !clientMasterForm.controls['contactPersonPhone'].hasError('pattern') && clientMasterForm.controls['contactPersonPhone'].touched ">
                          Mobile number not more than 13 digits
                        </div>
                        <div class="text-danger"
                          *ngIf="clientMasterForm.controls['contactPersonPhone'].hasError('pattern') && clientMasterForm.controls['contactPersonPhone'].touched ">
                          Please enter valid mobile number
                        </div>
                  </div>
                </div>
                <div class="col-md-4 pl-0">
                  <div class="form-group pt-0"
                    [ngClass]="{ 'has-error': !clientMasterForm.controls['contactPersonEmail'].valid && clientMasterForm.controls['contactPersonEmail'].touched}">
                    <label class="required-field font-weight-bold">Contact Person Email</label>
                    <input type="text" formControlName="contactPersonEmail" class="form-control"
                      placeholder="contact person email" />
                    <div class="text-danger"
                      *ngIf="clientMasterForm.controls['contactPersonEmail'].hasError('required') && clientMasterForm.controls['contactPersonEmail'].touched ">
                      Contact Person email is required
                    </div>
                    <p class="text-danger m-0 mt-1"
                      [hidden]="!clientMasterForm.get('contactPersonEmail').errors?.pattern">
                      Kindly enter valid email!
                    </p>
                  </div>
                </div>
              </div><br />

              <div class="row filter-cont">
                <div class="col-md-4 pl-0">
                  <div class="form-group pt-0"
                    [ngClass]="{ 'has-error': !clientMasterForm.controls['chiefPerson'].valid && clientMasterForm.controls['chiefPerson'].touched}">
                    <label class="required-field font-weight-bold">Chief Person</label>
                    <input type="text" formControlName="chiefPerson" class="form-control" placeholder="chief person" />
                    <div class="text-danger"
                      *ngIf="clientMasterForm.controls['chiefPerson'].hasError('required') && clientMasterForm.controls['chiefPerson'].touched ">
                      Chief Person is required
                    </div>
                  </div>
                </div>
                <div class="col-md-4 pl-0">
                  <div class="form-group pt-0"
                    [ngClass]="{ 'has-error': !clientMasterForm.controls['chiefPersonDesignation'].valid && clientMasterForm.controls['chiefPersonDesignation'].touched}">
                    <label class="required-field font-weight-bold">Chief Person Designation</label>
                    <input type="text" formControlName="chiefPersonDesignation" class="form-control"
                      placeholder="chief person designation" />
                    <div class="text-danger"
                      *ngIf="clientMasterForm.controls['chiefPersonDesignation'].hasError('required') && clientMasterForm.controls['chiefPersonDesignation'].touched ">
                      Chief Person Designation is required
                    </div>
                  </div>
                </div>
                <div class="col-md-4 pl-0">
                  <div class="form-group pt-0"
                    [ngClass]="{ 'has-error': !clientMasterForm.controls['chiefPersonPhone'].valid && clientMasterForm.controls['chiefPersonPhone'].touched}">
                    <label class="required-field font-weight-bold">Chief Person Phone</label>
                    <input type="number" formControlName="chiefPersonPhone" class="form-control"
                      placeholder="chief person phone" />
                    <div class="text-danger"
                      *ngIf="clientMasterForm.controls['chiefPersonPhone'].hasError('required') && clientMasterForm.controls['chiefPersonPhone'].touched ">
                      Chief Person phone is required
                    </div>
                  </div>
                </div>
              </div><br />

              <div class="row filter-cont">
                <div class="col-md-4 pl-0">
                  <div class="form-group pt-0"
                    [ngClass]="{ 'has-error': !clientMasterForm.controls['chiefPersonEmail'].valid && clientMasterForm.controls['chiefPersonEmail'].touched}">
                    <label class="required-field font-weight-bold">Chief Person Email</label>
                    <input type="text" formControlName="chiefPersonEmail" class="form-control"
                      placeholder="chief person email" />
                    <div
                    *ngIf="clientMasterForm.get('chiefPersonEmail').touched && clientMasterForm.get('chiefPersonEmail').invalid ">
                    <p class="text-danger m-0 mt-1" [hidden]="!clientMasterForm.get('chiefPersonEmail').errors?.required">
                      Please Enter Email!</p>
                    <p class="text-danger m-0 mt-1" [hidden]="!clientMasterForm.get('chiefPersonEmail').errors.pattern">
                      Kindly enter valid email!
                    </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 pl-0">
                  <div class="form-group pt-0"
                    [ngClass]="{ 'has-error': !clientMasterForm.controls['industryType'].valid && clientMasterForm.controls['industryType'].touched}">
                    <label class="required-field font-weight-bold">Industry type</label>
                    <select class="form-control" formControlName="industryType" required>
                      <option value="">--Select Industry type--</option>
                      <option value="Manufacturing">Manufacturing</option>
                      <option value="Service">Service</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="clientMasterForm.controls['industryType'].hasError('required') && clientMasterForm.controls['industryType'].touched ">
                      Industry type is required
                    </div>
                  </div>
                </div>
                <div class="col-md-4 pl-0">
                  <div class="form-group pt-0"
                    [ngClass]="{ 'has-error': !clientMasterForm.controls['processType'].valid && clientMasterForm.controls['processType'].touched}">
                    <label class="required-field font-weight-bold">Process Type</label>
                    <select class="form-control" formControlName="processType" required>
                      <option value="">--Select Process type--</option>
                      <option value="Customer Centric">Customer Centric</option>
                      <option value="Industry Centric">Industry Centric</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="clientMasterForm.controls['processType'].hasError('required') && clientMasterForm.controls['processType'].touched ">
                      Process type is required
                    </div>
                  </div>
                </div>
              </div><br />

              <div class="row filter-cont">
                <div class="col-md-4 pl-0">
                  <div class="form-group pt-0"
                    [ngClass]="{ 'has-error': !clientMasterForm.controls['customerType'].valid && clientMasterForm.controls['customerType'].touched}">
                    <label class="required-field font-weight-bold">Customer Type</label>
                    <select class="form-control" formControlName="customerType" required>
                      <option value="">--Select customer type--</option>
                      <option value="Wholesale">Wholesale</option>
                      <option value="Retail">Retail</option>
                      <option value="Cooperate">Cooperate</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="clientMasterForm.controls['customerType'].hasError('required') && clientMasterForm.controls['customerType'].touched ">
                      Customer type is required
                    </div>
                  </div>
                </div>
                <div class="col-md-4 pl-0">
                  <div class="form-group pt-0"
                    [ngClass]="{ 'has-error': !clientMasterForm.controls['businessScale'].valid && clientMasterForm.controls['businessScale'].touched}">
                    <label class="required-field font-weight-bold">Business Scale</label>
                    <select class="form-control" formControlName="businessScale" required>
                      <option value="">--Select business scale--</option>
                      <option value="Micro">Micro</option>
                      <option value="Small">Small</option>
                      <option value="Medium">Medium</option>
                      <option value="Large">Large</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="clientMasterForm.controls['businessScale'].hasError('required') && clientMasterForm.controls['businessScale'].touched ">
                      Business scale is required
                    </div>
                  </div>
                </div>
                <div class="col-md-4 pl-0">
                  <div class="form-group pt-0"
                    [ngClass]="{ 'has-error': !clientMasterForm.controls['ownershipType'].valid && clientMasterForm.controls['ownershipType'].touched}">
                    <label class="required-field font-weight-bold">Ownership Type</label>
                    <select class="form-control" formControlName="ownershipType" required>
                      <option value="">--Select ownership type--</option>
                      <option value="HUF">HUF</option>
                      <option value="Public">Public</option>
                      <option value="Proprietor">Proprietor</option>
                      <option value="Partnership">Partnership</option>
                      <option value="Company">Company</option>
                      <option value="Cooperative">Cooperative</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="clientMasterForm.controls['ownershipType'].hasError('required') && clientMasterForm.controls['ownershipType'].touched ">
                      Ownership type is required
                    </div>
                  </div>
                </div>
              </div><br />

              <div class="row filter-cont">
                <div class="col-md-4 pl-0">
                  <div class="form-group pt-0"
                    [ngClass]="{ 'has-error': !clientMasterForm.controls['businessNature'].valid && clientMasterForm.controls['businessNature'].touched}">
                    <label class="required-field font-weight-bold">Business Nature</label>
                    <select class="form-control" formControlName="businessNature" required>
                      <option value="">--Select business nature--</option>
                      <option value="Manufacturing">Manufacturing</option>
                      <option value="Services">Service</option>
                      <option value="Trading">Trading</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="clientMasterForm.controls['businessNature'].hasError('required') && clientMasterForm.controls['businessNature'].touched ">
                      Business nature is required
                    </div>
                  </div>
                </div>
                <div class="col-md-4 pl-0">
                  <div class="form-group pt-0"
                    [ngClass]="{ 'has-error': !clientMasterForm.controls['marketType'].valid && clientMasterForm.controls['marketType'].touched}">
                    <label class="required-field font-weight-bold">Market Type</label>
                    <select class="form-control" formControlName="marketType" required>
                      <option value="">--Select market type--</option>
                      <option value="Local">Local</option>
                      <option value="Regional">Regional</option>
                      <option value="State">State</option>
                      <option value="Multi-state">Multi-state</option>
                      <option value="National">National</option>
                      <option value="International">International</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="clientMasterForm.controls['marketType'].hasError('required') && clientMasterForm.controls['marketType'].touched ">
                      Market type is required
                    </div>
                  </div>
                </div>
                <div class="col-md-4 pl-0">
                  <div class="form-group pt-0"
                    [ngClass]="{ 'has-error': !clientMasterForm.controls['intensity'].valid && clientMasterForm.controls['intensity'].touched}">
                    <label class="required-field font-weight-bold">Intensity</label>
                    <select class="form-control" formControlName="intensity" required>
                      <option value="">--Select intensity--</option>
                      <option value="Capital">Capital Intensity</option>
                      <option value="Labour">Labour Intensity</option>
                      <option value="Mixed">Mixed Intensity</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="clientMasterForm.controls['intensity'].hasError('required') && clientMasterForm.controls['intensity'].touched ">
                      Intensity is required
                    </div>
                  </div>
                </div>
              </div><br />

              <div class="row filter-cont">
                <div class="col-md-4 pl-0">
                  <div class="form-group pt-0"
                    [ngClass]="{ 'has-error': !clientMasterForm.controls['coreDrivingForce'].valid && clientMasterForm.controls['coreDrivingForce'].touched}">
                    <label class="required-field font-weight-bold">Core Driving Force</label>
                    <select class="form-control" formControlName="coreDrivingForce" required>
                      <option value="">--Select Core Driving Force--</option>
                      <option value="Research & Development">Research & Development</option>
                      <option value="Science & Technology">Science & Technology</option>
                      <option value="Finance">Finance</option>
                      <option value="Man Power">Man Power</option>
                      <option value="Any other">Any other</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="clientMasterForm.controls['coreDrivingForce'].hasError('required') && clientMasterForm.controls['coreDrivingForce'].touched ">
                      Core driving force is required
                    </div>
                  </div>
                </div>
                <div class="col-md-4 pl-0">
                  <div class="form-group pt-0"
                    [ngClass]="{ 'has-error': !clientMasterForm.controls['moderateDrivingForce'].valid && clientMasterForm.controls['moderateDrivingForce'].touched}">
                    <label class="required-field font-weight-bold">Moderate Driving
                      Force</label>
                    <select class="form-control" formControlName="moderateDrivingForce" required>
                      <option value="">--Select Moderate Driving Force--</option>
                      <option value="Research & Development">Research & Development</option>
                      <option value="Science & Technology">Science & Technology</option>
                      <option value="Finance">Finance</option>
                      <option value="Man Power">Man Power</option>
                      <option value="Any other">Any other</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="clientMasterForm.controls['moderateDrivingForce'].hasError('required') && clientMasterForm.controls['moderateDrivingForce'].touched ">
                      Moderate driving force is required
                    </div>
                  </div>
                </div>
                <div class="col-md-4 pl-0">
                  <div class="form-group pt-0"
                    [ngClass]="{ 'has-error': !clientMasterForm.controls['minorDrivingForce'].valid && clientMasterForm.controls['minorDrivingForce'].touched}">
                    <label class="required-field font-weight-bold">Minor Driving
                      Force</label>
                    <select class="form-control" formControlName="minorDrivingForce" required>
                      <option value="">--Select Minor Driving Force--</option>
                      <option value="Research & Development">Research & Development</option>
                      <option value="Science & Technology">Science & Technology</option>
                      <option value="Finance">Finance</option>
                      <option value="Man Power">Man Power</option>
                      <option value="Any other">Any other</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="clientMasterForm.controls['minorDrivingForce'].hasError('required') && clientMasterForm.controls['minorDrivingForce'].touched ">
                      Minor driving force is required
                    </div>
                  </div>
                </div>
              </div><br />

              <div class="row filter-cont">
                <div class="col-md-4 pl-0">
                  <div class="form-group pt-0"
                    [ngClass]="{ 'has-error': !clientMasterForm.controls['coreCompetence'].valid && clientMasterForm.controls['coreCompetence'].touched}">
                    <label class="required-field font-weight-bold">Core Competence</label>
                    <select class="form-control" formControlName="coreCompetence" required>
                      <option value="">--Select Core Competence--</option>
                      <option value="Cost">Cost</option>
                      <option value="Quality">Quality</option>
                      <option value="Price">Price</option>
                      <option value="Production Differentiation">Production Differentiation</option>
                      <option value="Innovation">Innovation</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="clientMasterForm.controls['coreCompetence'].hasError('required') && clientMasterForm.controls['coreCompetence'].touched ">
                      Core competance is required
                    </div>
                  </div>
                </div>
                <div class="col-md-4 pl-0">
                  <div class="form-group pt-0"
                    [ngClass]="{ 'has-error': !clientMasterForm.controls['moderateCompetence'].valid && clientMasterForm.controls['moderateCompetence'].touched}">
                    <label class="required-field font-weight-bold">Moderate
                      Competence</label>
                    <select class="form-control" formControlName="moderateCompetence" required>
                      <option value="">--Select moderate Competence--</option>
                      <option value="Cost">Cost</option>
                      <option value="Quality">Quality</option>
                      <option value="Price">Price</option>
                      <option value="Production Differentiation">Production Differentiation</option>
                      <option value="Innovation">Innovation</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="clientMasterForm.controls['moderateCompetence'].hasError('required') && clientMasterForm.controls['moderateCompetence'].touched ">
                      Moderate competance is required
                    </div>
                  </div>
                </div>
                <div class="col-md-4 pl-0">
                  <div class="form-group pt-0"
                    [ngClass]="{ 'has-error': !clientMasterForm.controls['minorCompetence'].valid && clientMasterForm.controls['minorCompetence'].touched}">
                    <label class="required-field font-weight-bold">Minor Competence</label>
                    <select class="form-control" formControlName="minorCompetence" required>
                      <option value="">--Select minor Competence--</option>
                      <option value="Cost">Cost</option>
                      <option value="Quality">Quality</option>
                      <option value="Price">Price</option>
                      <option value="Production Differentiation">Production Differentiation</option>
                      <option value="Innovation">Innovation</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="clientMasterForm.controls['minorCompetence'].hasError('required') && clientMasterForm.controls['minorCompetence'].touched ">
                      Minor competance is required
                    </div>
                  </div>
                </div>
              </div><br />

              <div class="row filter-cont">
                <div class="col-md-4 pl-0">
                  <div class="form-group pt-0"
                    [ngClass]="{ 'has-error': !clientMasterForm.controls['profitabilityStatus'].valid && clientMasterForm.controls['profitabilityStatus'].touched}">
                    <label class="required-field font-weight-bold">Profitability
                      Status</label>
                    <select class="form-control" formControlName="profitabilityStatus" required>
                      <option value="">--Select profitability status--</option>
                      <option value="Profit making">Profit making</option>
                      <option value="Loss Making">Loss Making</option>
                      <option value="Break - Even">Break - Even</option>
                      <option value="Growing">Growing</option>
                      <option value="Stable">Stable</option>
                      <option value="Declining">Declining</option>
                      <option value="Sick">Sick</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="clientMasterForm.controls['profitabilityStatus'].hasError('required') && clientMasterForm.controls['profitabilityStatus'].touched ">
                      Profitability status is required
                    </div>
                  </div>
                </div>

                <div class="col-md-4 pl-0">
                  <div class="form-group pt-0">
                    <label class="required-field font-weight-bold">Select Sections</label>
                    <ng-multiselect-dropdown
                      [placeholder]="'Select section'"
                      [settings]="dropdownSettings"
                      [data]="dropdownList"
                      [(ngModel)]="getDropdownValues.name"
                      (onSelect)="onItemSelect($event)"
                      (onSelectAll)="onSelectAll($event)"
                      formControlName="sections"
                    >
                    </ng-multiselect-dropdown>
                    <div class="text-danger"
                      *ngIf="clientMasterForm.controls['sections'].hasError('required') && clientMasterForm.controls['sections'].touched ">
                      Profitability status is required
                    </div>
                  </div>
                </div>

                <div class="col-md-4 pl-0">

                </div>
              </div><br />

              <div class="card ml-n3 border-left-0 border-right-0 border-bottom-0">
                <div class="card-body">
                  <h4>Client Engagement Information</h4><br>
                  <label>Team Engagemnet Details</label>
                  <div class="row filter-cont mt-1">
                    <div class="col-md-4">
                      <div class="form-group pt-0"
                      [ngClass]="{ 'has-error': !clientMasterForm.controls['employees'].valid && clientMasterForm.controls['employees'].touched}">
                        <label class="required-field font-weight-bold">Employee</label>
                        <select class="form-control" formControlName="employees" required>
                          <option value="">Select Employees</option>
                          <option [value]="emp.id" *ngFor="let emp of employees">{{emp.name}}</option>
                        </select>
                        <div class="text-danger"
                          *ngIf="clientMasterForm.controls['employees'].hasError('required') && clientMasterForm.controls['employees'].touched ">
                           Employee is required
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 pl-0">
                      <div class="form-group pt-0"
                      [ngClass]="{ 'has-error': !clientMasterForm.controls['vgaAuditor'].valid && clientMasterForm.controls['vgaAuditor'].touched}">
                        <label class="required-field font-weight-bold">VGA</label>
                        <select class="form-control" formControlName="vgaAuditor" required>
                          <option value="">Select VGA Auditor</option>
                          <option [value]="a.id" *ngFor="let a of auditors">{{a.name}}</option>
                        </select>
                        <div class="text-danger"
                          *ngIf="clientMasterForm.controls['vgaAuditor'].hasError('required') && clientMasterForm.controls['vgaAuditor'].touched ">
                           VGA auditor is required
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 pl-0">
                      <div class="form-group pt-0"
                      [ngClass]="{ 'has-error': !clientMasterForm.controls['consultant'].valid && clientMasterForm.controls['consultant'].touched}">
                        <label class="required-field font-weight-bold">Consultant</label>
                        <select class="form-control" formControlName="consultant" required>
                          <option value="">Select Consultant</option>
                          <option [value]="c.id" *ngFor="let c of consultant">{{c.name}}</option>
                        </select>
                        <div class="text-danger"
                          *ngIf="clientMasterForm.controls['consultant'].hasError('required') && clientMasterForm.controls['consultant'].touched ">
                           consultant is required
                        </div>
                      </div>
                    </div>
                  </div><br />
                  <label>Client Engagement Details</label>
                  <div class="row filter-cont">
                    <div class="col-md-4">
                      <div class="form-group pt-0"
                        [ngClass]="{ 'has-error': !clientMasterForm.controls['clientType'].valid && clientMasterForm.controls['clientType'].touched}">
                        <label class="required-field font-weight-bold">Client Type</label>
                        <select class="form-control" formControlName="clientType" required>
                          <option value="">Select Client Type</option>
                          <option [value]="1">Basic</option>
                          <option [value]="2">Professional</option>
                          <option [value]="3">Corporate</option>
                        </select>
                        <div class="text-danger"
                          *ngIf="clientMasterForm.controls['clientType'].hasError('required') && clientMasterForm.controls['clientType'].touched ">
                          Client Type is required
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 pl-0">
                      <div class="form-group pt-0"
                        [ngClass]="{ 'has-error': !clientMasterForm.controls['clientCreationDate'].valid && clientMasterForm.controls['clientCreationDate'].touched}">
                        <label class="required-field font-weight-bold">Client Creation Date</label>
                        <input type="date" class="form-control" formControlName="clientCreationDate" required />
                        <div class="text-danger"
                          *ngIf="clientMasterForm.controls['clientCreationDate'].hasError('required') && clientMasterForm.controls['clientCreationDate'].touched ">
                          Client Creation Date is required
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 pl-0">

                    </div>
                  </div><br />
                  <div class="row filter-cont">
                    <div class="col-md-4">
                      <div class="form-group pt-0"
                        [ngClass]="{ 'has-error': !clientMasterForm.controls['clientDuration'].valid && clientMasterForm.controls['clientDuration'].touched}">
                        <label class="required-field font-weight-bold">Client Duration</label>
                        <select class="form-control" formControlName="clientDuration">
                          <option value="">Select Client Duration</option>
                          <!-- <option *ngFor="let client of clientDuration" value={{client.id}}>{{client.name}}</option> -->
                          <option [value]="c.id" *ngFor="let i = index; let c of clientDuration">{{c.name}}</option>
                        </select>
                        <div class="text-danger"
                          *ngIf="clientMasterForm.controls['clientDuration'].hasError('required') && clientMasterForm.controls['clientDuration'].touched ">
                          Client Duration is required
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 pl-0">
                      <div class="form-group pt-0"
                        [ngClass]="{ 'has-error': !clientMasterForm.controls['renewalDate'].valid && clientMasterForm.controls['renewalDate'].touched}">
                        <label class="required-field font-weight-bold">Renewal Date</label>
                        <input type="date" class="form-control" formControlName="renewalDate" />
                        <div class="text-danger"
                          *ngIf="clientMasterForm.controls['renewalDate'].hasError('required') && clientMasterForm.controls['renewalDate'].touched ">
                          Renewal Date is required
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 pl-0">

                    </div>
                  </div><br />
                </div>
              </div>
              <div class="float-right mt-2">
                <button type="submit" class="btn" *ngIf="roleType !== 'Client'" [routerLink]="['/pages/search-client']">Cancel</button>&nbsp;&nbsp;
                <button type="submit" class="btn">{{button}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
