<section role="main" class="content-body content-body-modern">
    <div class="row">
        <div class="col-md-12">
            <h4>{{consultantPageTitle}}</h4>
            <div class="card">
                <div class="card-body">
                    <div class="container-fluid">
                        <form [formGroup]="consultantForm" (ngSubmit)='onSubmit()' novalidate>
                            <div class="row filter-cont">
                                <div class="col-md-4 pl-0">
                                    <div class="pt-0">
                                        <label class="font-weight-bold required-field">Company Name</label>
                                        <input type="text" formControlName="companyName" class="form-control"
                                        placeholder="Company Name" required>

                                        <div class="text-danger"
                                            *ngIf="consultantForm.controls['companyName'].hasError('required') && consultantForm.controls['companyName'].touched ">
                                            Company Name is required
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-0">
                                    <div class="form-group pt-0">
                                        <label class="required-field font-weight-bold">Consultant Name</label>
                                        <input type="text" formControlName="consultantName" class="form-control"
                                            placeholder="Consultant Name" required />
                                        <div class="text-danger"
                                            *ngIf="consultantForm.controls['consultantName'].hasError('required') && consultantForm.controls['consultantName'].touched ">
                                            Consultant Name is required
                                        </div>
                                        <div class="text-danger"
                                          *ngIf="consultantForm.controls['consultantName'].hasError('minlength') && consultantForm.controls['consultantName'].touched ">
                                          Please enter more than 3 characters!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pl-0">
                                  <div class="form-group pt-0">
                                      <label class="required-field font-weight-bold">User Name</label>
                                      <input type="text" formControlName="username" class="form-control"
                                          placeholder="User Name" required />
                                      <div class="text-danger"
                                          *ngIf="consultantForm.controls['username'].hasError('required') && consultantForm.controls['username'].touched ">
                                          Username Name is required
                                      </div>
                                  </div>
                              </div>

                            </div><br />

                            <div class="row filter-cont">
                              <div class="col-md-4 pl-0">
                                <div class="pt-0">
                                  <label class="font-weight-bold required-field">Email Address</label>
                                  <input type="text" formControlName="email" class="form-control" placeholder="Email Address"
                                    required />
                                  <div
                                    *ngIf="consultantForm.controls['email'].touched ">
                                    <p class="text-danger m-0 mt-1" [hidden]="!consultantForm.get('email').errors?.required">
                                      Email address is required
                                    </p>
                                    <p class="text-danger m-0 mt-1" [hidden]="!consultantForm.get('email').errors?.pattern">
                                      Kindly enter valid email!
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4 pl-0">
                                <div class="pt-0">
                                    <label class="font-weight-bold required-field">Address</label>
                                    <input type="text" formControlName="address" class="form-control"
                                        placeholder="Address" required />
                                    <div class="text-danger"
                                        *ngIf="consultantForm.controls['address'].hasError('required') && consultantForm.controls['address'].touched ">
                                        Address is required
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 pl-0">
                              <div class="pt-0">
                                  <label class="font-weight-bold required-field">Zip</label>
                                  <input type="text" formControlName="zipCode" class="form-control"
                                      placeholder="Zip" required/>
                                  <div class="text-danger"
                                      *ngIf="consultantForm.controls['zipCode'].hasError('required') && consultantForm.controls['zipCode'].touched ">
                                      Zip Code is required
                                  </div>
                                  <div class="text-danger"
                                        *ngIf="consultantForm.get('zipCode').errors?.maxlength">
                                        Please enter valid zip code
                                  </div>
                                  <div class="text-danger"
                                        *ngIf="consultantForm.get('zipCode').errors?.minlength">
                                        Please enter 6 digit zip code
                                  </div>
                              </div>
                          </div>
                          </div><br />


                            <div class="row filter-cont">
                              <div class="col-md-4 pl-0">
                                <div class="form-group pt-0">
                                    <label class="required-field font-weight-bold">Country</label>
                                    <select class="form-control" formControlName="country" name="" (change)="getStates($event.target.value)">
                                        <option value="">Select Country</option>
                                        <option [value]="ctn.id" *ngFor="let ctn of countries">{{ctn.countries_name}}</option>
                                    </select>
                                    <div class="text-danger"
                                        *ngIf="consultantForm.controls['country'].hasError('required') && consultantForm.controls['country'].touched ">
                                        Country is required
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 pl-0">
                                <div class="pt-0">
                                    <label class="font-weight-bold required-field">State</label>
                                    <select class="form-control" formControlName="state" name="" (change)="getCities($event.target.value)">
                                        <option value="">Select State</option>
                                        <option [value]="state.id" *ngFor="let state of states">{{state.states_name}}</option>
                                    </select>
                                    <div class="text-danger"
                                        *ngIf="consultantForm.controls['state'].hasError('required') && consultantForm.controls['state'].touched ">
                                        State is required
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 pl-0">
                                <div class="form-group pt-0">
                                    <label class="required-field font-weight-bold">City</label>
                                    <select class="form-control" formControlName="city" name="">
                                        <option value="">Select City</option>
                                        <option [value]="city.id" *ngFor="let city of cities">{{city.city_name}}</option>

                                    </select>
                                    <div class="text-danger"
                                        *ngIf="consultantForm.controls['city'].hasError('required') && consultantForm.controls['city'].touched ">
                                        City is required
                                    </div>
                                </div>
                            </div>
                           </div><br>
                           <div class="row filter-cont">

                              <div class="col-md-4 pl-0">
                                <div class="form-group pt-0">
                                    <label class="required-field font-weight-bold">Mobile No.</label>
                                    <input type="text" formControlName="mobile" class="form-control"
                                        placeholder="Mobile no." required />
                                        <div class="text-danger"
                                        *ngIf="consultantForm.controls['mobile'].hasError('required') && consultantForm.controls['mobile'].touched ">
                                        Mobile number is required
                                      </div>
                                      <div class="text-danger"
                                        *ngIf="consultantForm.get('mobile').errors?.maxlength">
                                        Please enter 10 digit mobile number
                                      </div>
                                      <div class="text-danger"
                                        *ngIf="consultantForm.get('mobile').errors?.minlength">
                                        Please enter 10 digit mobile number
                                      </div>
                                </div>
                              </div>

                                <div class="col-md-4 pl-0">
                                  <div class="form-group pt-0">
                                    <label class="required-field font-weight-bold">Parent Account</label>
                                    <select class="form-control" name="parent_account_id" formControlName="parent_account_id" name="">
                                      <option value="">Select Parent Account</option>
                                      <option [value]="parent.id" *ngFor="let parent of consultants$">{{parent.name}}</option>
                                    </select>
                                    <div class="text-danger"
                                    *ngIf="consultantForm.controls['parent_account_id'].hasError('required') && consultantForm.controls['parent_account_id'].touched ">
                                    Parent account name is required
                                    </div>
                                  </div>
                                </div>
                           </div><br>
                            <hr>

                            <div class="float-right">
                              <button type="submit" *ngIf="roleType !== 'Consultant'" class="btn" [routerLink]="['/pages/search-consultants']">Cancel</button>
                                <button type="submit" class="btn">{{button}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
