<section role="main" class="content-body content-body-modern">
  <div class="row">
    <div class="col-md-12">
      <h4>{{sectionHeader}}</h4>
      <div class="card">
        <div class="card-body">
          <div class="container-fluid">
            <form [formGroup]="sectionForm" (ngSubmit)="onSubmit()">
              <div class="row filter-cont">
                <div class="col-md-6 pl-0">
                  <div class="pt-0">
                    <label class="font-weight-bold required-field">Section Name</label>
                    <input type="text" formControlName="sectionName" class="form-control" placeholder="Section Name">
                    <div class="text-danger"
                      *ngIf="sectionForm.controls['sectionName'].hasError('required') && sectionForm.controls['sectionName'].touched ">
                      Section name is required
                    </div>
                  </div>
                </div>
                <div class="col-md-6 pl-0">
                  <div class="form-group pt-0">
                    <label class="required-field font-weight-bold">Section Description</label>
                    <input type="text" formControlName="sectionDescription" class="form-control" placeholder="Section Description"
                      required />
                    <div class="text-danger"
                      *ngIf="sectionForm.controls['sectionDescription'].hasError('required') && sectionForm.controls['sectionDescription'].touched ">
                      Section description is required
                    </div>
                  </div>
                </div>
              </div><br />

              <div class="row filter-cont">
                <div class="col-md-6 pl-0">
                  <div class="pt-0">
                    <label class="font-weight-bold required-field">Sequence Number</label>
                   <input type="number" formControlName="seqNo" placeholder="Sequence No."  class="form-control" (keydown)="onSequenceChange()">
                    <div class="text-danger"
                      *ngIf="sectionForm.controls['seqNo'].hasError('required') && sectionForm.controls['seqNo'].touched ">
                      Sequence number is required
                    </div>
                    <div  class="text-danger" *ngIf="hasError">{{errorMsg}}</div>
                  </div>
                </div>
              </div><br />
              <div class="row filter-cont">
                <div class="col-md-12 pl-3">
                  <div class="row">
                    <input type="checkbox" formControlName="isDefault" class="mt-1"> &nbsp; &nbsp;
                    <label class="font-weight-bold">Is Default</label>
                  </div>
                </div>
              </div><br />

              <hr>

              <div class="float-right">
                <!-- <button type="submit" class="btn" [routerLink]="['/pages/search-employee']">Cancel</button> -->
                <button type="submit" class="btn btn-submit text-white">{{button}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
