<section role="main" class="content-body content-body-modern">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="col-md-12">
                            <div class="row filter-cont">
                                <div class="col-md-6 pl-0">
                                    <div class="form-group pt-0">
                                        <label class="required-field">Select Account</label>
                                        <select class="form-control" name="">
                                            <option value="">Select Account</option>
                                            <option value="" *ngFor="let obj of accounts$;let i=index;">{{ obj.name }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 pl-0">
                                    <div class="pt-0">
                                        <label>Select Role</label>
                                        <select class="form-control" name="">
                                            <option value="">Select Role</option>
                                            <option [value]="roles.id" *ngFor="let roles of getAllRoles;let i=index;">{{roles.name}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
