<section role="main" class="content-body content-body-modern">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8">
          <h4>Sub Section List</h4>
        </div>
        <div class="col-md-4">
          <button class="btn float-right" style="background-color: #169EEC;" [routerLink]="['/pages/NewSubSection']">
            <i class="fa fa-plus"> Add New Sub-Section</i>
          </button>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row filter-cont">
            <div class="col-md-3 pl-0">
              <div class="pt-0">
                <label class="font-weight-bold">Sub Section Name</label>
                <input type="text" class="form-control" (keyup.enter)="onSearch(searchValue.value)" #searchValue placeholder="Section Name" required />
              </div>
            </div>
            <div class="col-md-3 pl-0">
              <div class="pt-2 text-right">
                <label class="required-field"></label><br />
                <button class="btn" (click)="onSearch(searchValue.value)" style="background-color: #169EEC; color: white;">
                  Search
                </button>
                <button class="btn ml-3" (click)="onClear(searchValue.value = '')" style="background-color: #169EEC; color: white;">
                  Clear
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body border">
          <div class="table-responsive">
            <table class="display table table-hover w-100 table-head-bg-secondary" width="100%">
              <thead>
                <tr>
                  <th (click)="sort('sub_section_name')">Sub Section Name</th>
                  <th (click)="sort('description')">Description</th>
                  <th (click)="sort('section_name')">Section Name</th>
                  <th (click)="sort('sequence_number')">Sequence Number</th>
                  <th>Actions</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let obj of subSection$; let id = index">
                  <td>{{ obj.sub_section_name }}</td>
                  <td>{{ obj.sub_section_description }}</td>
                  <td>{{ obj.section.section_name }}</td>
                  <td>{{ obj.sequence_number }}</td>
                  <td>
                    <a style="cursor: pointer" (click)="onEditSubSectionDetails(obj.id)" title="Edit" class="icon-a">
                      <i class="fa fa-edit icons-size icon-margin green"></i> </a>&nbsp;&nbsp;
                    <a style="cursor: pointer" (click)="onDeleteSubSection(obj.id)" title="Delete" class="icon-a">
                      <i class="fa fa-trash ml-2 icons-size icon-margin red"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="subSection$?.length == 0">
                <tr>
                  <td colspan="10" class="no-data-available text-center">No matching records found
                  </td>
                </tr>
              </tbody>
            </table>
            <ngb-pagination style="float: right" [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page"
              [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)">
            </ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>

  <modal #contentDelete>
    <modal-header>
      <strong>Are you sure?</strong>
    </modal-header>
    <modal-content>
      <section class="card">
        <div class="card-body">
          <div class="modal-wrapper">
            <div class="modal-icon">
              <i class="fas fa-question-circle"></i>
            </div>
            <div class="modal-text">
              <p class="mb-0">Are you sure that you want to delete this record?</p>
            </div>
          </div>
        </div>
      </section>
    </modal-content>
    <modal-footer>
        <div class="row">
          <div class="col-md-12 text-right">
            <button class="btn btn-danger mb-1 mt-1 mr-1 ws-normal btn btn-default"
             (click)="onConfrimDelete()">Confirm</button>
            <button class="btn btn-primary mb-1 mt-1 mr-1 ws-normal btn btn-default" (click)="OnCanceleDeleteModal()">Cancel</button>
          </div>
        </div>
    </modal-footer>
  </modal>
</section>
