<section role="main" class="content-body content-body-modern">
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="row">
          <div class="col-md-10">
            <div class="row">
              <button class="ml-3 back-button" (click)="backToSubSection()"><i class="fa fa-arrow-left text-white" aria-hidden="true"></i></button>
            <h4 class="ml-3 mt-2">Edit VGA Report</h4>
            </div>
          </div>
          <div class="col-md-2">
            <i class="fa fa-home" [routerLink]="['/pages/dashboard']" style="cursor: pointer">
              Dashboard</i>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <app-vga-report-details></app-vga-report-details>
            <div class="text-center mt-3">
              <h2>Performance of the competencies</h2>
            </div>
            <div class="row mt-5 mx-5">
              <div class="col-md-1"></div>
              <div class="col-md-3 text-center" (click)="getEmployees(1)">
                <h3>Top Level Competency</h3>
              </div>
              <div class="col-md-3 text-center" (click)="getEmployees(2)">
                <h3>Managerial Level Competency</h3>
              </div>
              <div class="col-md-3 text-center" (click)="getEmployees(3)">
                <h3>Executive Level Competency</h3>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
