.card-body{
  border-top: 3px solid #169EEC;
  border-radius: 5px 0 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 33px 33px 15px;
}
.border{
  border-top: 3px solid darkgray;
}
h3 {
  border: 1px solid black;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  background-color: #169EEC
}
.green{
  border:1px;
  padding:2%;
  background-color: #B6E719;
}
.orange{
  border:1px;
  padding:2%;
  background-color: #FFCA06;
}
.red{
  border:1px;
  padding:2%;
  background-color: #FF8022;
}

.back-button{
  border: 1px;
  background-color: #169EEC;
  height: 40px;
  width: 40px;
}

.edit-button{
  border: 1px;
  background-color: #169EEC;
  height: 40px;
  width: 75px;
  border-radius: 5px;
  text-align: center;
  font-size: 24px;
  font-family: 'Font Awesome 5 Free';
}
