<div *ngIf="questions === 'Strategic Sphere'">
  <form [formGroup]="strategicSphereForm">
    <div *ngFor="let ansDetails of strategicSphereArray; let i = index">
      <div formGroupName="planOfActionDetails">
        <div formArrayName="strategicSphere1">
          <table class="table table-striped table-bordered table-hover dataTable">
            <thead>
              <tr class="thead">
                <th style="width: 25%">Zone of the Sphere</th>
                <th style="width: 25%">Strategic Intent</th>
              </tr>
              <tr>
                <td>Core</td>
                <td> <input type="text" class="form-control" formControlName="core"> </td>
              </tr>
              <tr>
                <td>Vital Interests</td>
                <td> <input type="text" class="form-control" formControlName="vitalInterests"> </td>
              </tr>
              <tr>
                <td>Buffer Zones</td>
                <td> <input type="text" class="form-control" formControlName="bufferZones"> </td>
              </tr>
              <tr>
                <td>Pivotal Zones</td>
                <td> <input type="text" class="form-control" formControlName="pivotalZones"> </td>
              </tr>
              <tr>
                <td>Forward Positions</td>
                <td> <input type="text" class="form-control" formControlName="forwardPositions"> </td>
              </tr>
              <tr>
                <td>Power Vacuums</td>
                <td> <input type="text" class="form-control" formControlName="powerVaccums"> </td>
              </tr>
            </thead>
          </table>
        </div>

        <div formArrayName="strategicSphere2">
          <div class="card">
            <div class="card-body">
              <div class="box-header mt-4 ml-n3">
                <a class="breadcrumb"><i class="fa fa-dashboard"></i>{{ questions }}</a>
              </div>
              <div class="container">
                <img alt="Nature" src="assets/img/StrategicSphere1.png"
                  style="align-content: center; margin-left: 150px; width:812px; height: 512px;">
                <div class="textbox1">
                  <textarea rows="2" style="width:120px; color: black;background: #fff; border: none; text-align: center;" formControlName="textbox1"></textarea>
                </div>
                <div class="textbox2">
                  <textarea rows="2" style="width:116px; color: black;background: #919191; border: none; text-align: center;" formControlName="textbox2"></textarea>
                </div>
                <div class="textbox3">
                  <textarea rows="2" style="width:115px; color: black;background: #919191; border: none; text-align: center;" formControlName="textbox3"></textarea>
                </div>
                <div class="textbox4">
                  <textarea rows="2" style="width:120px; color: black;background: #fff; border: none; text-align: center;" formControlName="textbox4"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div formArrayName="strategicSphere3">
          <div class="card">
            <div class="card-body">
              <div class="box-header mt-4 ml-n3">
                <a class="breadcrumb"><i class="fa fa-dashboard"></i>{{ questions }}</a>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <h2 class="text-center">Initiatives</h2>
                </div>
                <div class="col-md-6">
                  <h2>Operating priorities</h2>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12" formGroupName="initiative1">
                <img alt="Nature" class="ml-5" src="assets/img/StrategicSphere2.png"
                  style="align-content: center; width:850px; height:220px;">
                <div class="textbox mytextbox_1">
                  <textarea rows="2" class="ml-n3"
                    style="width:65%; color: black;" formControlName="txtIntiative1"></textarea>
                </div>
                <div class="textbox mytextbox_2">
                  <textarea  rows="1"
                    style="width:470px; color: black; height:45px;" formControlName="txtOperatingProperties1"></textarea>
                </div>
                <div class="textbox mytextbox_3">
                  <textarea rows="1"
                    style="width:470px; color: black; height:44px;" formControlName="txtOperatingProperties2"></textarea>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12" formGroupName="initiative2">
                <img alt="Nature" class="ml-5" src="assets/img/StrategicSphere2.png"
                  style="align-content: center; width:850px; height:220px;">
                <div class="textbox mytextbox_1">
                  <textarea class="ml-n3" rows="2"
                    style="width:65%; color: black;" formControlName="txtIntiative2"></textarea>
                </div>
                <div class="textbox mytextbox_2">
                  <textarea rows="1"
                    style="width:470px; color: black; height:45px;" formControlName="txtOperatingProperties3"></textarea>
                </div>
                <div class="textbox mytextbox_3">
                  <textarea rows="1"
                    style="width:470px; color: black; height:44px;" formControlName="txtOperatingProperties4"></textarea>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12" formGroupName="initiative3">
                <img alt="Nature" class="ml-5" src="assets/img/StrategicSphere2.png"
                  style="align-content: center; margin-left:100px; width:850px; height:220px;">
                <div class="textbox mytextbox_1">
                  <textarea class="ml-n3"
                    style="width:65%; color: black; height:45px;" formControlName="txtIntiative3"></textarea>
                </div>
                <div class="textbox mytextbox_2">
                  <textarea rows="1"
                    style="width:470px; color: black; height:45px;" formControlName="txtOperatingProperties5"></textarea>
                </div>
                <div class="textbox mytextbox_3">
                  <textarea rows="1"
                    style="width:470px; color: black; height:44px;" formControlName="txtOperatingProperties6"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>

          <div class="mt-3 float-right">
            <button class="btn btn-submit btn-primary" id="submit" (click)="onSubmitOfStrategicSphere()">
              Submit
            </button>
          </div>
      </div>
    </div>
  </form>
</div>

<!-- Definite Direction -->
<div *ngIf="questions === 'Definite Direction'">
  <form [formGroup]="definiteDirectionForm">
    <div *ngFor="let ansDetails of definiteDirectionArray; let i = index">
      <div formGroupName="planOfActionDetails">
        <div formArrayName="definiteDirection1">
          <div class="card">
            <div class="card-body cardBody">
              <div class="row" formArrayName="policies"
                style="position: relative;background-image: url('./assets/img/policiesandgovernance1.png');background-color: white;background-size: 41%;height: 136px;background-repeat: no-repeat;width: 140%;align-items: center;margin-left: 21%;">
                <div class="col-lg-3 col-md-12 col-sm-12"></div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                  <textarea formControlName="policies1"
                    style="width: 90px;position: absolute;left: -187px;top: -28px;"></textarea>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                  <textarea formControlName="policies2"
                    style="width: 90px;position: absolute;left: -426px;top: -28px;"></textarea>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                  <textarea formControlName="policies3"
                    style="width:200px;width: 90px;position: absolute;left: -667px;top: -28px;"></textarea>
                </div>
              </div>

              <div class="row" formArrayName="demands"
                style="position: relative;background-image: url('./assets/img/demandmanagement1.png');background-color: white;background-size: 41%;height: 136px;background-repeat: no-repeat;width: 140%;align-items: center;margin-left: 21%;">
                <div class="col-lg-3 col-md-12 col-sm-12"></div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                  <textarea formControlName="demand1"
                    style="width: 90px;position: absolute;left: -187px;top: -28px;"></textarea>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                  <textarea formControlName="demand2"
                    style="width: 90px;position: absolute;left: -426px;top: -28px;"></textarea>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                  <textarea formControlName="demand3"
                    style="width:200px;width: 90px;position: absolute;left: -667px;top: -28px;"></textarea>
                </div>
              </div>

              <div class="row" formArrayName="supply"
                style="position: relative;background-image: url('./assets/img/supplymanagement1.png');background-color: white;background-size: 41%;height: 136px;background-repeat: no-repeat;width: 140%;align-items: center;margin-left: 21%;">
                <div class="col-lg-3 col-md-12 col-sm-12"></div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                  <textarea formControlName="supply1"
                    style="width: 90px;position: absolute;left: -187px;top: -28px;"></textarea>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                  <textarea formControlName="supply2"
                    style="width: 90px;position: absolute;left: -426px;top: -28px;"></textarea>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                  <textarea formControlName="supply3"
                    style="width:200px;width: 90px;position: absolute;left: -667px;top: -28px;"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div formArrayName="definiteDirection2">
          <div class="card">
            <div class="card-body cardBody">
              <div class="box-header">
                <a class="breadcrumb"><i class="fas fa-tachometer-alt mt-1 mr-2"></i>B. {{ questions }}</a>
              </div>
              <div class="row"
                style="position: relative;background-image: url('./assets/img/DefiniteDirection1.png');background-color: white;background-size: 41%; height:425px; background-repeat: no-repeat;width: 140%;align-items: center;margin-left: 21%;">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div>
                    <textarea formControlName="strategicDesicion1" rows="2"
                      style="width: 185px; margin: -68px 0px 224px 154px;"></textarea>
                  </div>
                  <div class="textbox1">
                    <textarea formControlName="strategicDesicion2" rows="2"
                      style="width: 185px; margin: 118% 0% 0% -106%;"></textarea>
                  </div>
                  <div class="textbox1">
                    <textarea formControlName="strategicDesicion3" rows="2"
                      style="width: 185px; margin: 159% 0% 0% -106%;"></textarea>
                  </div>
                  <div class="textbox1">
                    <textarea formControlName="strategicDesicion4" rows="2"
                      style="width: 185px; margin: 200% 0% 0% -106%;"></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div formArrayName="definiteDirection3">
          <div class="card">
            <div class="card-body cardBody">
              <div class="box-header">
                <a class="breadcrumb"><i class="fas fa-tachometer-alt mt-1 mr-2"></i>C. {{ questions }}</a>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <label>We define our values through the acronym</label>
                </div>
                <div class="col-md-2">
                  <input type="text" formControlName="acronym1"/>
                </div>
                <div class="col-md-2">
                  <input type="text"  formControlName="acronym2"/>
                </div>
                <div class="col-md-2">
                  <input type="text"  formControlName="acronym3"/>
                </div>
                <div class="col-md-2">
                  <input type="text"  formControlName="acronym4"/>
                </div>
                <div class="col-md-2">
                  <input type="text"  formControlName="acronym5"/>
                </div>
              </div><br>
              <div class="row">
                <div class="col-md-6">
                  <label>OUR COMMITMENT TO STAKEHOLDERS</label>
                  <input type="text" class="form-control" formControlName="commitmentTostackholders">
                </div>
                <div class="col-md-6">
                  <label>OUR PLEDGE TO OUR CUSTOMERS</label>
                  <input type="text" class="form-control" formControlName="pledgeToCustomer">
                </div>
              </div><br>
              <div class="row">
                <div class="col-md-6">
                  <label>OUR MISSION</label>
                  <input type="text" class="form-control" formControlName="ourMission">
                </div>
                <div class="col-md-6">
                  <label>OUR VISION</label>
                  <input type="text" class="form-control" formControlName="ourVision">
                </div>
              </div><br>
              <div class="row">
                <div class="col-md-4">
                  <label>VISION</label>
                  <input type="text" class="form-control" formControlName="vision">
                </div>
                <div class="col-md-2 mt-2">
                  <input type="text" class="form-control mt-4" formControlName="year" placeholder="year">
                </div>
                <div class="col-md-6">
                  <label>OUR STRATEGIC PROPOSITION</label>
                  <input type="text" class="form-control" formControlName="strategicProposition">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-3 float-right">
          <button class="btn btn-submit btn-primary" id="submit" (click)="onSubmitOfDefiniteDirection()">
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
</div>


<!-- Concrete Commencement -->
<div *ngIf="questions === 'Concrete Commencement'">
  <form [formGroup]="concreteForm">
    <div formGroupName="planOfActionDetails">
      <div formArrayName="concreteCommecement1">
        <div class="card">
          <div class="card-body cardBody">
            <div class="row" style="position: relative;background-image: url('./assets/img/ConcreteCommncement0.png');background-color: white;background-size: 41%;height: 535px;background-repeat: no-repeat;width: 175%;align-items: center;margin-left: 11%;">
              <div class="row">
                <div class="col-md-1 col-lg-1 col-sm-4" style="z-index:2;position: absolute;margin: 31px 0px 0px 473px;">
                  <textarea formControlName="txtfocus1" name="txtfocus1" style="position: absolute; width: 56px; z-index: 1;
                      margin: -153% 0% 4% -139%; height: 50px;">
                  </textarea>
                </div>
                <div class=" col-md-1 col-lg-1 col-sm-4" style="position: absolute; z-index: 2;">
                  <textarea formControlName="txtfocus4" name="txtfocus4" style="position: absolute;
                    width: 55px; z-index: 1; margin: -143% 0% 4% 283%; height: 50px;">
                  </textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-md-1 col-lg-1 col-sm-4" style=" position: absolute; z-index: 2;">
                  <textarea formControlName="txtfocus3" style="width:50px; position:absolute; left:194%; top:-13px; z-index:1;"></textarea>
                </div>
                <div class="col-md-1 col-lg-1 col-sm-4" style="position: absolute; z-index: 2;">
                  <textarea formControlName="txtfocus2" style="z-index:1; width: 55px;position: absolute;left: 523px; top:-30px;"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-1 col-md-3 col-sm-3" style="z-index:2; position: absolute;">
                  <textarea formControlName="txtareafocus1" style="margin: 127% 0% 0% 152%;
                    width: 104px; height:64px; z-index:1; "></textarea>
                </div>
                <div class="col-lg-1 col-md-3 col-sm-3" style="z-index:2; position: absolute;">
                  <textarea formControlName="txtareafocus2" style="margin: 127% 0% 0% 250%;; width:104px; height:64px; z-index: 1;"></textarea>
                </div>
                <div class="col-lg-1 col-md-3 col-sm-3" style="z-index: 2; position: absolute;">
                  <textarea formControlName="txtareafocus3" style="margin:127% 0% 0% 348%; width:104px; height:64px; z-index:1;"></textarea>
                </div>
                <div class="col-lg-1 col-md-3 col-sm-3" style="margin: 8px 0px 0px 1px; position: absolute; z-index: 1;">
                  <textarea formControlName="txtareafocus4" style="margin:121% 0% 0% 447%; width:104px; height:64px; z-index: 2;"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div formArrayName="concreteCommecement2">
        <div class="card">
          <div class="card-body cardBody">
            <div class="box-header ml-n2">
              <a class="breadcrumb"><i class="fas fa-tachometer-alt mt-1 mr-2"></i>B. {{ questions }}</a>
            </div>
            <div class="row" style="position: relative;background-image: url('./assets/img/ConcreteCommencement2.png');background-color: white;background-size: 41%; height:500px; background-repeat: no-repeat;width: 140%;align-items: center;margin-left: 21%;">
              <div class="row">
                <div class="col-lg-1 col-md-3 col-sm-3" style="z-index: 2; position: absolute;">
                  <textarea formControlName="txtscope" style="z-index:1; margin:455px 0px 0px 136px; width: 80px; height:50px;"></textarea>
                </div>
                <div class="col-lg-1 col-md-3 col-sm-3" style="z-index: 2; position: absolute;">
                  <textarea formControlName="txtinitiate" style="
                  margin:455px 0px 0px 233px; width:78px; z-index: 1; height:50px;"></textarea>
                </div>
                <div class="col-lg-1 col-md-3 col-sm-3" style="z-index:2; position: absolute;">
                  <textarea formControlName="txtexecute" style="z-index: 1; margin: 455px 0px 0px 329px;
                  width:79px; height: 50px;"></textarea>
                </div>
                <div class="col-lg-1 col-md-3 col-sm-3" style="margin: -121px 0px 0px 6px;position: relative;">
                  <textarea formControlName="txtclose" style="margin:575px 0px 0px 417px; width: 79px;height: 52px;"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div formArrayName="concreteCommecement3">
        <div class="card">
          <div class="card-body cardBody">
            <div class="box-header ml-n2">
              <a class="breadcrumb"><i class="fas fa-tachometer-alt mt-1 mr-2"></i>C. {{ questions }}</a>
            </div>
            <div class="row ml-2">
              <label>SIX STRATEGIC INITIATIVES</label>
            </div> <br>
            <div class="row ml-5">
              <label class="mr-4" for="">SI1</label>
              <input type="text" formControlName="strategicInitiative1">
            </div> <br>
            <div class="row ml-5">
              <label class="mr-4" for="">SI2</label>
              <input type="text" formControlName="strategicInitiative2">
            </div> <br>
            <div class="row ml-5">
              <label class="mr-4" for="">SI3</label>
              <input type="text" formControlName="strategicInitiative3">
            </div> <br>
            <div class="row ml-5">
              <label class="mr-4" for="">SI4</label>
              <input type="text" formControlName="strategicInitiative4">
            </div> <br>
            <div class="row ml-5">
              <label class="mr-4" for="">SI5</label>
              <input type="text" formControlName="strategicInitiative5">
            </div> <br>
            <div class="row ml-5">
              <label class="mr-4" for="">SI6</label>
              <input type="text" formControlName="strategicInitiative6">
            </div>
          </div>
        </div>
        <div class="mt-3 float-right">
          <button class="btn btn-submit btn-primary" id="submit" (click)="onSubmitOfConcreteCommencement()">
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Purposeful Planning -->
<div *ngIf="questions === 'Purposeful Planning'">
  <form [formGroup]="purposefulPlanningForm">
    <div *ngFor="let ansDetails of purposefulPlanningArray; let i = index;">
      <div formGroupName="planOfActionDetails">
        <div formArrayName="strategyManagementProcess">
          <div class="card">
            <div class="card-body cardBody">
              <div class="box-header ml-n2">
                <a class="breadcrumb"><i class="fas fa-tachometer-alt mt-1 mr-2"></i>A. Our Strategy Management Process</a>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <img height="50px" src="assets/img/1.png" width="150px">
                </div>
                <div class="col-md-3">
                  <img height="50px" src="assets/img/2.png" width="150px">
                </div>
                <div class="col-md-3">
                  <img height="50px" src="assets/img/3.png" width="150px">
                </div>
                <div class="col-md-3">
                  <img height="50px" src="assets/img/4.png" width="150px">
                </div>
              </div>

              <div class="row mt-4" style="border-top: 1px solid #f4f4f4;">
                <div class="col-md-3">
                  <img height="90px" src="assets/img/5.png" width="200px">
                  <p class="p">Strategic issues :</p>
                  <textarea class="box" formControlName="strategicIssue"></textarea>
                </div>
                <div class="col-md-3">
                  <img height="90px" src="assets/img/5.png" width="200px">
                  <p class="p">Mission :</p>
                  <textarea class="box" formControlName="mission"></textarea>
                </div>
                <div class="col-md-3">
                  <img height="90px" src="assets/img/5.png" width="200px">
                  <p class="p">Use SWOT :</p>
                  <textarea class="box" formControlName="useSwot"></textarea>
                </div>
                <div class="col-md-3">
                  <img height="90px" src="assets/img/5.png" width="200px">
                  <p class="p">Rollout :</p>
                  <textarea class="box" formControlName="rollOut"></textarea>
                </div>
              </div>

              <div class="row mt-4" style="border-top: 1px solid #f4f4f4;">
                <div class="col-md-3">
                  <img height="90px" src="assets/img/5.png" width="200px">
                  <p class="p">Industry & MarketData :</p>
                  <textarea class="box" formControlName="industryMarketData"></textarea>
                </div>
                <div class="col-md-3">
                  <img height="90px" src="assets/img/5.png" width="200px">
                  <p class="p">Values :</p>
                  <textarea class="box" formControlName="values"></textarea>
                </div>
                <div class="col-md-3">
                  <img height="90px" src="assets/img/5.png" width="200px">
                  <p class="p">Organizational Goal :</p>
                  <textarea class="box" formControlName="organizationalGoal"></textarea>
                </div>
                <div class="col-md-3">
                  <img height="90px" src="assets/img/5.png" width="200px">
                  <p class="p">Set Calender :</p>
                  <textarea class="box" formControlName="calander"></textarea>
                </div>
              </div>

              <div class="row mt-4" style="border-top: 1px solid #f4f4f4;">
                <div class="col-md-3">
                  <img height="90px" src="assets/img/5.png" width="200px">
                  <p class="p">Customer Insights :</p>
                  <textarea class="box" formControlName="customerInsights"></textarea>
                </div>
                <div class="col-md-3">
                  <img height="90px" src="assets/img/5.png" width="200px">
                  <p class="p">Vision :</p>
                  <textarea class="box" formControlName="vision"></textarea>
                </div>
                <div class="col-md-3">
                  <img height="90px" src="assets/img/5.png" width="200px">
                  <p class="p">KPIs :</p>
                  <textarea class="box" formControlName="kpi"></textarea>
                </div>
                <div class="col-md-3">
                  <img height="90px" src="assets/img/5.png" width="200px">
                  <p class="p">Leverage Tool :</p>
                  <textarea class="box" formControlName="leverageTool"></textarea>
                </div>
              </div>

              <div class="row mt-4" style="border-top: 1px solid #f4f4f4;">
                <div class="col-md-3">
                  <img height="90px" src="assets/img/5.png" width="200px">
                  <p class="p">Employee Input :</p>
                  <textarea class="box" formControlName="employeeInput"></textarea>
                </div>
                <div class="col-md-3">
                  <img height="90px" src="assets/img/5.png" width="200px">
                  <p class="p">Competitive Advantages :</p>
                  <textarea class="box" formControlName="competitiveAdvantages"></textarea>
                </div>
                <div class="col-md-3">
                  <img height="90px" src="assets/img/5.png" width="200px">
                  <p class="p">Department Goals :</p>
                  <textarea class="box" formControlName="departmentGoals"></textarea>
                </div>
                <div class="col-md-3">
                  <img height="90px" src="assets/img/5.png" width="200px">
                  <p class="p">Adapt Quarterly  :</p>
                  <textarea class="box" formControlName="adaptQuarterly"></textarea>
                </div>
              </div>

              <div class="row mt-4" style="border-top: 1px solid #f4f4f4;">
                <div class="col-md-3">
                  <img height="90px" src="assets/img/5.png" width="200px">
                  <p class="p">SWOT :</p>
                  <textarea class="box" formControlName="swot"></textarea>
                </div>
                <div class="col-md-3">
                  <img height="90px" src="assets/img/5.png" width="200px">
                  <p class="p">Org Wide Strategies :</p>
                  <textarea class="box" formControlName="orgWideStrategies"></textarea>
                </div>
                <div class="col-md-3">
                  <img height="90px" src="assets/img/5.png" width="200px">
                  <p class="p">Team Member Goals :</p>
                  <textarea class="box" formControlName="teamMemberGoals"></textarea>
                </div>
                <div class="col-md-3">
                  <img height="90px" src="assets/img/5.png" width="200px">
                  <p class="p">Update Annually :</p>
                  <textarea class="box" formControlName="updateAnnually"></textarea>
                </div>
              </div>

              <div class="row mt-4" style="border-top: 1px solid #f4f4f4;">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                  <img height="90px" src="assets/img/5.png" width="200px">
                  <p class="p">Long-Term Objectives :</p>
                  <textarea class="box" formControlName="longTermObjectives"></textarea>
                </div>
                <div class="col-md-3">
                  <img height="90px" src="assets/img/5.png" width="200px">
                  <p class="p">Budget :</p>
                  <textarea class="box" formControlName="budget"></textarea>
                </div>
                <div class="col-md-3">
                </div>
              </div>

              <div class="row mt-4" style="border-top: 1px solid #f4f4f4;">
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                  <img height="90px" src="assets/img/5.png" width="200px">
                  <p class="p">Forecast :</p>
                  <textarea class="box" formControlName="forecast"></textarea>
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                </div>
              </div>

            </div>
          </div>
        </div>

        <div formArrayName="balanceScoreCard">
          <div class="card">
            <div class="card-body cardBody">
              <div class="box-header ml-n2">
                <a class="breadcrumb"><i class="fas fa-tachometer-alt mt-1 mr-2"></i>B. Balance Scorecard</a>
              </div>
              <div class="row" style="position: relative;background-image: url('./assets/img/PurposefulPlanning1.png');background-color: white;background-size: 41%; height:835px; background-repeat: no-repeat;width: 140%;align-items: center;margin-left: 21%;">
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-lg-6 col-md-6" style="top: 51px;">
                      <textarea style="left: 145px; position: relative;width: 230px;height: 85px;" formControlName="governanceLeadership1"></textarea>
                      <textarea style="position: relative; left: 155px; height: 85px; width: 180px;" formControlName="governanceLeadership2"></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6" style="top: 65px;">
                      <textarea style="left: 145px; position: relative; width: 230px; height: 85px;" formControlName="programServices1"></textarea>
                      <textarea style="position: relative; left: 155px; height: 85px; width: 180px; " formControlName="programServices2"></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6" style="top: 80px;">
                      <textarea style="left: 145px; position: relative; width: 230px; height: 85px;" formControlName="sustainableInfrastructure1"></textarea>
                      <textarea style=" position: relative; left: 155px; height: 85px; width: 180px;" formControlName="sustainableInfrastructure2"></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6" style="top: 94px;">
                      <textarea style="left: 145px;position: relative; width: 230px; height: 85px;" formControlName="communityDevelopment1"></textarea>
                      <textarea style="position: relative; left: 155px; height: 85px; width: 180px;" formControlName="communityDevelopment2"></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6" style="top: 108px; ">
                      <textarea style="left: 145px; position: relative; width: 230px; height: 85px;" formControlName="marketingSales1"></textarea>
                      <textarea style=" position: relative; left: 155px; height: 85px; width: 180px" formControlName="marketingSales2"></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6" style="top: 123px;">
                      <textarea style="left: 145px; position: relative; width: 230px; height: 85px;" formControlName="qualityCommunication1"></textarea>
                      <textarea style=" position: relative; left: 155px; height: 85px; width: 180px" formControlName="qualityCommunication2"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div formArrayName="strategicPlanningFramework">
          <div class="card">
            <div class="card-body cardBody">
              <div class="box-header ml-n2">
                <a class="breadcrumb"><i class="fas fa-tachometer-alt mt-1 mr-2"></i>C. Strategic Planning Framework</a>
              </div>
              <div class="row" style="position: relative;background-image: url('./assets/img/PurposefulPlanning2.png');background-color: white;background-size: 41%; height:835px; background-repeat: no-repeat;width: 140%;align-items: center;margin-left: 21%;">
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-lg-6 col-md-6" style="top: 101px;left: 244px;z-index: 2; position: relative;">
                      <textarea style="position: relative; width: 70px;height: 63px;z-index: 1;" formControlName="strategicPlanning1"></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6" style="left: 211px; z-index: 2;top: 95px;position: relative;">
                      <textarea style="position: relative; width: 135px;height: 63px;  z-index: 1;" formControlName="strategicPlanning2"></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6" style="left: 175px;z-index:2;position: relative;top: 88px;">
                      <textarea style="z-index: 1; position: relative; width: 204px; height: 63px;" formControlName="strategicPlanning3"></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6" style="left: 143px;z-index: 2;position: relative;top: 81px;">
                      <textarea style="z-index: 1; position: relative;width: 271px;height: 63px; " formControlName="strategicPlanning4"></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6" style="left: 110px;z-index: 2;position: relative;top: 76px;">
                      <textarea style=" z-index: 1; position: relative; width: 341px; height: 63px; " formControlName="strategicPlanning5"></textarea>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-md-6" style="left: 75px;position: relative;top: 69px;">
                      <textarea style="position: relative;width: 410px;height: 63px;" formControlName="strategicPlanning6"></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-3 float-right">
          <button class="btn btn-submit btn-primary" id="submit" (click)="onSubmitOfPurposefulPlanning()">
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
</div>


<!-- GrowthFrame -->
<div *ngIf="questions === 'GrowthFrame'">
  <form [formGroup]="growthFrameForm">
    <div *ngFor="let ansDetails of growthFrameArray; let i = index;">
      <div formGroupName="planOfActionDetails">
        <div class="card">
          <div class="card-body cardBody">
            <table>
              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <div class="col-sm-1 col-md-1"></div>
                  <div class="col-sm-10 col-md-10">
                    <tbody>
                      <tr style="background-color:#0f5ca1;">
                        <th colspan="9" style="text-align: center">
                          <span style="color: white;">PROFIT / GROWTH MAXIMIZATION</span>
                        </th>
                      </tr>
                      <tr style="background-color:#0f5ca1; text-align: center">
                        <td colspan="2" rowspan="4" style="text-align: center;width: 300px;color: white;"> VALUE /<br> WEALTH MAXIMIZATION </td>
                        <td style="width: 128px;">&nbsp;</td>
                        <td colspan="2" style="text-align: center ! important; color: white;">Strategic</td>
                        <td colspan="2" style="text-align: center ! important; color: white;">Managerial</td>
                        <td colspan="2" style="text-align: center ! important; color: white;">Operational</td>
                      </tr>
                      <tr formArrayName="strategic">
                        <td style="text-align: center ! important;">Strategic </td>
                        <td colspan="2" style="text-align: center;padding: 8px;">Strategy<br>
                          <table>
                            <tbody formGroupName="strategy">
                              <tr>
                                <td>Status</td>
                                <td><input type="text" value="" class="ng-valid ng-dirty ng-touched" formControlName="status"></td>
                              </tr>
                              <tr>
                                <td>Score</td>
                                <td><input type="text" class="ng-pristine ng-valid ng-touched" formControlName="score"></td>
                              </tr>
                              <tr>
                                <td>Synergy</td>
                                <td><input type="text" class="ng-pristine ng-valid ng-touched" formControlName="synergy"></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td colspan="2" style="text-align: center;padding: 8px;">Sustainability<br>
                          <table>
                            <tbody formGroupName="sustainability">
                              <tr>
                                <td>Status</td>
                                <td><input name="textsustainabilitystatus" type="text" class="ng-untouched ng-pristine ng-valid" formControlName="status"></td>
                              </tr>
                              <tr>
                                <td>Score</td>
                                <td><input name="textsustainabilityscore" type="text" class="ng-untouched ng-pristine ng-valid" formControlName="score"></td>
                              </tr>
                              <tr>
                                <td>Synergy</td>
                                <td><input name="textsustainabilitysynergy" type="text" class="ng-untouched ng-pristine ng-valid" formControlName="synergy"></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td colspan="2" style="text-align: center;padding: 8px;">Solutions<br>
                          <table>
                            <tbody formGroupName="solutions">
                              <tr>
                                <td>Status</td>
                                <td><input name="textsolutionsstatus" type="text" class="ng-untouched ng-pristine ng-valid" formControlName="status"></td>
                              </tr>
                              <tr>
                                <td>Score</td>
                                <td><input name="textsolutionsscore" type="text" class="ng-untouched ng-pristine ng-valid" formControlName="score"></td>
                              </tr>
                              <tr>
                                <td>Synergy</td>
                                <td><input name="textsolutionssynergy" type="text" class="ng-untouched ng-pristine ng-valid" formControlName="synergy"></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr formArrayName="managerial">
                        <td style="text-align: center ! important;">Managerial </td>
                        <td colspan="2" style="text-align: center;padding: 8px;">System<br>
                          <table>
                            <tbody formGroupName="system">
                              <tr>
                                <td>Status</td>
                                <td><input name="textsystemstatus" type="text" class="ng-pristine ng-valid ng-touched" formControlName="status"></td>
                              </tr>
                              <tr>
                                <td>Score</td>
                                <td><input name="textsystemscore" type="text" class="ng-untouched ng-pristine ng-valid" formControlName="score"></td>
                              </tr>
                              <tr>
                                <td>Synergy</td>
                                <td><input name="textsystemsynergy" type="text" class="ng-pristine ng-valid ng-touched" formControlName="synergy"></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td colspan="2" style="text-align: center;padding: 8px;">Style of Leadership<br>
                          <table>
                            <tbody formGroupName="styleOfLeadership">
                              <tr>
                                <td>Status</td>
                                <td><input name="textstyleofleadershipstatus" type="text" class="ng-untouched ng-pristine ng-valid" formControlName="status"></td>
                              </tr>
                              <tr>
                                <td>Score</td>
                                <td><input name="textstyleofleadershipscore" type="text" class="ng-untouched ng-pristine ng-valid" formControlName="score"></td>
                              </tr>
                              <tr>
                                <td>Synergy</td>
                                <td><input name="textstyleofleadershipsynergy" type="text" class="ng-untouched ng-pristine ng-valid" formControlName="synergy"></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td colspan="2" style="text-align: center;padding: 8px;">Skills<br>
                          <table>
                            <tbody formGroupName="skills">
                              <tr>
                                <td>Status</td>
                                <td><input name="textskillsstatus" type="text" class="ng-untouched ng-pristine ng-valid" formControlName="status"></td>
                              </tr>
                              <tr>
                                <td>Score</td>
                                <td><input name="textskillsscore" type="text" class="ng-untouched ng-pristine ng-valid" formControlName="score"></td>
                              </tr>
                              <tr>
                                <td>Synergy</td>
                                <td><input name="textskillssynergy" type="text" class="ng-untouched ng-pristine ng-valid" formControlName="synergy"></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr formArrayName="oprational">
                        <td style="text-align: center ! important;">Operational </td>
                        <td colspan="2" style="text-align: center;padding: 8px;">Structure<br>
                          <table>
                            <tbody formGroupName="structure">
                              <tr>
                                <td>Status</td>
                                <td><input name="textstructurestatus" type="text" class="ng-untouched ng-pristine ng-valid" formControlName="status"></td>
                              </tr>
                              <tr>
                                <td>Score</td>
                                <td><input name="textstructurescore" type="text" class="ng-untouched ng-pristine ng-valid" formControlName="score"></td>
                              </tr>
                              <tr>
                                <td>Synergy</td>
                                <td><input name="textstructuresynergy" type="text" class="ng-untouched ng-pristine ng-valid" formControlName="synergy"></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td colspan="2" style="text-align: center;padding: 8px;">Shared Values<br>
                          <table>
                            <tbody formGroupName="sharedValues">
                              <tr>
                                <td>Status</td>
                                <td><input name="textsharedvaluesstatus" type="text" class="ng-untouched ng-pristine ng-valid" formControlName="status"></td>
                              </tr>
                              <tr>
                                <td>Score</td>
                                <td><input name="textsharedvaluesscore" type="text" class="ng-untouched ng-pristine ng-valid" formControlName="score"></td>
                              </tr>
                              <tr>
                                <td>Synergy</td>
                                <td><input name="textsharedvaluessynergy" type="text" class="ng-untouched ng-pristine ng-valid" formControlName="synergy"></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                        <td colspan="2" style="text-align: center;padding: 8px;">Standard Operating Procedures<br>
                          <table>
                            <tbody formGroupName="standardOperationProducers">
                              <tr>
                                <td>Status</td>
                                <td><input name="textstandardoperatingstatus" type="text" class="ng-untouched ng-pristine ng-valid" formControlName="status"></td>
                              </tr>
                              <tr>
                                <td>Score</td>
                                <td><input name="textstandardoperatingscore" type="text" class="ng-untouched ng-pristine ng-valid" formControlName="score"></td>
                              </tr>
                              <tr>
                                <td>Synergy</td>
                                <td><input name="textstandardoperatingsynergy" type="text" class="ng-untouched ng-pristine ng-valid" formControlName="synergy"></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </div>
                  <div class="col-sm-1 col-md-1"></div>
                </div>
              </div>
            </table>
          </div>
        </div>
        <div class="mt-3 float-right">
          <button class="btn btn-submit btn-primary" id="submit" (click)="onSubmitOfGrowthFrame()">
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- corrective action plan -->
<div *ngIf="questions === 'Corrective Action Plan'">
  <form [formGroup]="correctiveActionPlanForm">
    <div formGroupName="planOfActionDetails">
      <h2 class="text-center">Corrective Action Plan</h2>
      <table class="table table-responsive horizontal-scrollable">
        <tbody>
          <tr class="border border-secondary">
            <th class="text-center text-white" style="background-color: #0C5A9E;">
              ISSUE DESCRIPTION
            </th>
          </tr>
          <tr class="border border-secondary">
            <td class="text-center">
              <textarea name="" id="" cols="160" rows="2" formControlName="issueDescription" name=""></textarea>
            </td>
          </tr>
          <tr class="border border-secondary">
            <th class="text-center text-white" style="background-color: #0C5A9E;">
              DESIRED OUTCOME
            </th>
          </tr>
          <tr class="border border-secondary">
            <td class="text-center">
              <textarea name="" id="" cols="160" rows="2" formControlName="desiredOutcome" name=""></textarea>
            </td>
          </tr>
          <tr class="border border-secondary">
            <th class="text-center text-white" style="background-color: #0C5A9E;">
              ACTION PLAN SPONSER
            </th>
          </tr>
          <tr class="border border-secondary">
            <td class="text-center">
              <textarea name="" id="" cols="160" rows="2" formControlName="actionPlanSponser" name=""></textarea>
            </td>
          </tr>
          <div>
            <tr style="background-color: #0C5A9E;" class="text-white">
              <th scope="col" class="th-badge badge text-wrap">STRATEGIC ACTION</th>
              <th scope="col" class="th-badge badge text-wrap">PARTY / DEPT RESPONSIBLE</th>
              <th scope="col" class="th-badge badge text-wrap">RESOURCES REQUIRED</th>
              <th scope="col" class="th-badge badge text-wrap">STAKEHOLDERS</th>
              <th scope="col" class="th-badge badge text-wrap">CONSTRAINTS</th>
              <th scope="col" class="th-badge badge text-wrap">METRIC</th>
              <th scope="col" class="th-badge badge text-wrap">DATE DUE</th>
              <th scope="col" class="th-badge badge text-wrap">PRIORITY</th>
              <th scope="col" class="th-badge badge text-wrap">EXECUTION TIMELINE</th>
            </tr>
            <tr *ngFor="let copy of textbox; let i = index;" class="d-flex">
              <td class="td-badge badge text-wrap" formArrayName="strategicAction">
                <textarea name="" id="badge-text" cols="18" rows="3" formControlName="action{{i+1}}" name=""></textarea>
              </td>
              <td class="td-badge badge text-wrap" formArrayName="deptResponsible">
                <textarea id="badge-text" cols="18" rows="3" formControlName="dept{{i+1}}" name=""></textarea>
              </td>
              <td class="td-badge badge text-wrap" formArrayName="resourcesRequired">
                <textarea id="badge-text" cols="18" rows="3" formControlName="resource{{i+1}}" name=""></textarea>
              </td>
              <td class="td-badge badge text-wrap" formArrayName="stackHolders">
                <textarea id="badge-text" cols="18" rows="3" formControlName="stackHolder{{i+1}}" name=""></textarea>
              </td>
              <td class="td-badge badge text-wrap" formArrayName="constraints">
                <textarea id="badge-text" cols="18" rows="3" formControlName="constraints{{i+1}}" name=""></textarea>
              </td>
              <td class="td-badge badge text-wrap" formArrayName="metric">
                <textarea id="badge-text" cols="18" rows="3" formControlName="metric{{i+1}}" name=""></textarea>
              </td>
              <div class="d-flex badge" formArrayName="dateTodue">
                <input class="text-center" type="date" name="" id="" formControlName="dueDate{{i+1}}" name="">
              </div>
              <td class="td-badge badge text-wrap" formArrayName="priority">
                <textarea id="badge-text" cols="18" rows="3" formControlName="priority{{i+1}}" name=""></textarea>
              </td>
              <td class="td-badge badge text-wrap" formArrayName="executionTimeline">
                <textarea id="badge-text" cols="18" rows="3" formControlName="executionTimeline{{i+1}}" name=""></textarea>
              </td>

            </tr>
          </div>
          <tr class="border border-secondary">
            <th class="text-center text-white" style="background-color: #0C5A9E;">
              ADDITIONAL NOTES
            </th>
          </tr>
          <tr class="border border-secondary">
            <td class="text-center">
              <textarea name="" id="" cols="160" rows="2" formControlName="additionalNotes" name=""></textarea>
            </td>
          </tr>

        </tbody>
      </table>
      <div class="mt-3 float-right">
        <button class="btn btn-submit btn-primary" id="submit" (click)="onSubmitOfcorrectiveActionPlan()">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>

<!-- Sales Action Plan -->
<div *ngIf="questions === 'Sales Action Plan'">
  <form [formGroup]="salesActionPlanForm">
    <div formGroupName="planOfActionDetails">
      <h2 class="text-center">Sales Action Plan</h2>
      <table class="table table-responsive horizontal-scrollable">
        <tbody>
          <tr class="border border-secondary">
            <th class="text-center text-white" style="background-color: #0C5A9E;">
              GOAL
            </th>
          </tr>
          <tr class="border border-secondary">
            <td class="text-center">
              <textarea name="" id="" cols="160" rows="2" formControlName="goal" name=""></textarea>
            </td>
          </tr>
          <tr class="text-center text-white">
            <th class="badge" id="th1" style="background-color: #0C5A9E;">
              CUSTOMER SEGMENT TARGETS
            </th>
            <th class="badge" id="th2" style="background-color: #0C5A9E;">
              LEADING PROSPECTS
            </th>
            <th class="badge" id="th3" style="background-color: #0C5A9E;">
              KEY TEAM MEMBERS
            </th>
          </tr>
          <tr class="border border-secondary">
            <td class="text-center badge text-wrap">
              <textarea name="" id="" cols="60" rows="2" formControlName="customerSegmentTargets" name=""></textarea>
            </td>
            <td class="text-center badge text-wrap">
              <textarea name="" id="" cols="100" rows="2" formControlName="leadingProspects" name=""></textarea>
            </td>
            <td class="text-center badge text-wrap">
              <textarea name="" id="" cols="43" rows="2" formControlName="keyTeamMembers" name=""></textarea>
            </td>
          </tr>

          <tr class="text-center text-white">
            <th class="badge" id="th1" style="background-color: #0C5A9E;">
              ESTABLISHED PLAN OF ATTACK
            </th>
            <th class="badge" id="th2" style="background-color: #0C5A9E;">
              OUTREACH & AWARENESS
            </th>
            <th class="badge" id="th3" style="background-color: #0C5A9E;">
              BRAND ESTABLISHMENT
            </th>
          </tr>
          <tr class="border border-secondary">
            <td class="text-center badge text-wrap">
              <textarea name="" id="" cols="60" rows="2" formControlName="establishedPlanOfAttack" name=""></textarea>
            </td>
            <td class="text-center badge text-wrap">
              <textarea name="" id="" cols="100" rows="2" formControlName="outreachAwareness" name=""></textarea>
            </td>
            <td class="text-center badge text-wrap">
              <textarea name="" id="" cols="43" rows="2" formControlName="brandEstablishment" name=""></textarea>
            </td>
          </tr>

          <tr class="text-center text-white">
            <th class="badge" id="th1" style="background-color: #0C5A9E;">
              NETWORKING
            </th>
            <th class="badge" id="th2" style="background-color: #0C5A9E;">
              SUPPORTING RESEARCH
            </th>
            <th class="badge" id="th3" style="background-color: #0C5A9E;">
              EVALUATION PLAN
            </th>
          </tr>
          <tr class="border border-secondary">
            <td class="text-center badge text-wrap">
              <textarea name="" id="" cols="60" rows="2" formControlName="networking" name=""></textarea>
            </td>
            <td class="text-center badge text-wrap">
              <textarea name="" id="" cols="100" rows="2" formControlName="supportingReaserch" name=""></textarea>
            </td>
            <td class="text-center badge text-wrap">
              <textarea name="" id="" cols="43" rows="2" formControlName="evaluationPlan" name=""></textarea>
            </td>
          </tr>
          <div>
            <tr style="background-color: #0C5A9E;" class="text-white">
              <th class="th-badges badge text-wrap">STRATEGIC ACTION DESCRIPTIONS</th>
              <th class="th-badges badge text-wrap">PARTY / DEPT RESPONSIBLE</th>
              <th class="th-badges badge text-wrap">DATE TO BEGIN</th>
              <th class="th-badges badge text-wrap">DATE DUE</th>
              <th class="th-badges badge text-wrap">RESOURCES REQUIRED</th>
              <th class="th-badges badge text-wrap">DESIRED OUTCOME</th>
            </tr>
            <tr *ngFor="let copy of textboxForSalesActionPlan; let i = index" class="d-flex">
              <td class="td-badges badge text-wrap" formArrayName="strategicActionDescriptions">
                <textarea name="" id="" cols="36" rows="3" formControlName="description{{i+1}}" name=""></textarea>
              </td>
              <td class="td-badges badge text-wrap" formArrayName="deptResponsible">
                <textarea name="" id="" cols="36" rows="3" formControlName="dept{{i+1}}" name=""></textarea>
              </td>
              <div class="d-flex badge" formArrayName="dateTobegin">
                <input class="text-center" type="date" name="" id="" formControlName="beginDate{{i+1}}" name="">
              </div>
              <div class="d-flex badge" formArrayName="dateTodue">
                <input class="text-center" type="date" name="" id="" formControlName="dueDate{{i+1}}" name="">
              </div>
              <td class="td-badges badge text-wrap" formArrayName="resourcesRequired">
                <textarea name="" id="" cols="36" rows="3" formControlName="resource{{i+1}}" name=""></textarea>
              </td>
              <td class="td-badges badge text-wrap" formArrayName="desiredOutcome">
                <textarea name="" id="" cols="36" rows="3" formControlName="outcome{{i+1}}" name=""></textarea>
              </td>

            </tr>
          </div>
          <tr class="border border-secondary">
            <th class="text-center text-white" style="background-color: #0C5A9E;">
              ADDITIONAL NOTES
            </th>
          </tr>
          <tr class="border border-secondary">
            <td class="text-center">
              <textarea name="" id="" cols="160" rows="2" formControlName="additionalNotes" name=""></textarea>
            </td>
          </tr>

        </tbody>
      </table>
      <div class="mt-3 float-right">
        <button class="btn btn-submit btn-primary" id="submit" (click)="onSubmitOfSalesActionPlan()">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>

<!-- Work Action Plan -->
<div *ngIf="questions === 'Work Action Plan'">
  <form [formGroup]="workActionPlanForm">
    <div formGroupName="planOfActionDetails">
      <h2 class="text-center">Work Action Plan</h2>
      <table class="table table-responsive horizontal-scrollable">
        <tbody>
          <tr class="border border-secondary">
            <th class="text-center text-white" style="background-color: #0C5A9E;">
              GOAL
            </th>
          </tr>
          <tr class="border border-secondary">
            <td class="text-center">
              <textarea name="" id="" cols="160" rows="2" formControlName="goal" name=""></textarea>
            </td>
          </tr>
          <tr class="border border-secondary">
            <th class="text-center text-white" style="background-color: #0C5A9E;">
              BENCHMARKS FOR SUCCESS
            </th>
          </tr>
          <tr class="border border-secondary">
            <td class="text-center">
              <textarea name="" id="" cols="160" rows="2" formControlName="benchmarkForSuccess" name=""></textarea>
            </td>
          </tr>
          <tr class="border border-secondary">
            <th class="text-center text-white" style="background-color: #0C5A9E;">
              EVALUATION PLAN
            </th>
          </tr>
          <tr class="border border-secondary">
            <td class="text-center">
              <textarea name="" id="" cols="160" rows="2" formControlName="evaluationPlan" name=""></textarea>
            </td>
          </tr>
          <div>
            <tr style="background-color: #0C5A9E;" class="text-white">
              <th scope="col" class="th-badg badge text-wrap">STRATEGIC ACTION DESCRIPTIONS</th>
              <th scope="col" class="th-badg badge text-wrap">PARTY / DEPT RESPONSIBLE</th>
              <th scope="col" class="th-badg badge text-wrap">DATE TO BEGIN</th>
              <th scope="col" class="th-badg badge text-wrap">DATE DUE</th>
              <th scope="col" class="th-badg badge text-wrap">RESOURCES REQUIRED</th>
              <th scope="col" class="th-badg badge text-wrap">POTENTIAL HAZARDS</th>
              <th scope="col" class="th-badg badge text-wrap">DESIRED OUTCOME</th>
            </tr>
            <tr *ngFor="let copy of textbox; let i = index;" class="d-flex">
              <td class="td-badg badge text-wrap" formArrayName="strategicActionDescriptions">
                <textarea name="" id="badge-text" cols="28" rows="3" formControlName="description{{i+1}}" name=""></textarea>
              </td>
              <td class="td-badg badge text-wrap" formArrayName="deptResponsible">
                <textarea name="" id="badge-text" cols="28" rows="3" formControlName="dept{{i+1}}" name=""></textarea>
              </td>
              <div class="d-flex badge" formArrayName="dateTobegin">
                <input class="text-center" type="date" name="" id="" formControlName="beginDate{{i+1}}" name="">
              </div>
              <div class="d-flex badge" formArrayName="dateTodue">
                <input class="text-center" type="date" name="" id="" formControlName="dueDate{{i+1}}" name="">
              </div>
              <td class="td-badg badge text-wrap" formArrayName="resourcesRequired">
                <textarea name="" id="badge-text" cols="28" rows="3" formControlName="resource{{i+1}}" name=""></textarea>
              </td>
              <td class="td-badg badge text-wrap" formArrayName="potentialHazards">
                <textarea name="" id="badge-text" cols="28" rows="3" formControlName="hazards{{i+1}}" name=""></textarea>
              </td>
              <td class="td-badg badge text-wrap" formArrayName="desiredOutcome">
                <textarea name="" id="badge-text" cols="28" rows="3" formControlName="outcome{{i+1}}" name=""></textarea>
              </td>

            </tr>
          </div>
          <tr class="border border-secondary">
            <th class="text-center text-white" style="background-color: #0C5A9E;">
              ADDITIONAL NOTES
            </th>
          </tr>
          <tr class="border border-secondary">
            <td class="text-center">
              <textarea name="" id="" cols="160" rows="2" formControlName="additionalNotes" name=""></textarea>
            </td>
          </tr>

        </tbody>
      </table>
      <div class="mt-3 float-right">
        <button class="btn btn-submit btn-primary" id="submit" (click)="onSubmitOfWorkActionPlan()">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
