.breadcrumb{
  background-color: #f5f5f5;
  border-radius: 5px;
  color:#169EEC;
}

.card{
  border:none;
  background-color: #FDFDFD;
}

.cardBody{
  position: relative;
    border-radius: 3px;
    // background: #fff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

.thead{
  background-color: #0D5B9F;
  color:white;
}

textarea{
  border-color: black;
}

.input{
  height:60px;
}

.tr:nth-child(odd) {
  background-color: #727375;
  color: white;
}
.tr:nth-child(even) {
  background-color: #888888;
  color:white;
}

.textbox1{
  position: absolute;
  margin-left: 351px;
  margin-top: -425px;
  border: none;
}

.textbox2{
  position: absolute;
  margin-left: 211px;
  margin-top: -279px;
}

.textbox3{
  position: absolute;
  margin-left: 500px;
  margin-top: -279px;
}

.textbox4{
  position: absolute;
  margin-left: 354px;
  margin-top: -138px;
}

.mytextbox_1{
  position: absolute;
  top: 38%;
  left: 17%;
}

.mytextbox_2{
  position: absolute;
  top: 24%;
  left: 40%;
}

.mytextbox_3{
  position: absolute;
  top: 54%;
  left: 40%;
}

.p{
  position: relative; bottom: 83px; left: 15px; color: #fff;
}

.box{
  position: relative; bottom: 85px; width: 199px;
}

// For corrective action plan question
.th-badge{
  width: 10.21rem;
}
.td-badge{
  width: 10.32rem;
  border: 1px black solid;
}

.horizontal-scrollable{
  overflow: scroll;
}

// For Sales action plan question
.th-badges{
  width: 14.15rem;
}

.td-badges{
  width: 16.53rem;
  border: 1px black solid;
}

// For work action plan question
.th-badg{
  width: 11.86rem;
}

.td-badg{
  width: 12.86rem;
  border: 1px black solid;
}

#badge-text{
  margin-left: -3%;
}

textarea{
  resize: none;
}

#th1{
  width: 25%;
  background-color: #0C5A9E;
  border-radius: 0;
}
#th2{
  width: 55%;
  background-color: #0C5A9E;
  border-radius: 0;
}
#th3{
  width: 20%;
  background-color: #0C5A9E;
  border-radius: 0;
}
