<section class="body-sign">
  <div class="center-sign">
    <a class="logo float-left">
      <img src="./../../assets/project-image/vga-logo.png" height="80" width="100" alt="VGA" />
    </a>

    <div class="panel card-sign mr-1">
      <div class="card-title-sign mt-3 text-right">
        <h2 class="title text-uppercase font-weight-bold m-0">
          <i class="fas fa-user mr-1"></i>
        </h2>
      </div>
      <div class="card-body mt-3">
        <form class="login-form form" id="changePasswordForm" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
          <div class="alert alert-success alert-dismissible fade show text-center" *ngIf="showMsg" role="alert">
            <strong>{{ successMessage }}</strong>
          </div>
          <div class="form-group input-group pt-0">
            <input type="password" formControlName="oldPassword" class="form-control" placeholder="Old Password"
              [type]="oldPasswordHidden ? 'password' : 'text'"
              [ngClass]="{ 'is-invalid': submitted && getFormControl.oldPassword.errors }" (blur)="onOldPasswordCheack($event)"
              required />
            <br>
            <div *ngIf="submitted && getFormControl.oldPassword.errors" class="invalid-feedback">
              <div *ngIf="getFormControl.oldPassword.errors.required">Old Password is required</div>
              <div *ngIf="getFormControl.oldPassword.errors.minlength">Old Password must be at least 6 characters</div>
            </div>
            <span class="input-group-append">
              <span class="input-group-text show-password">
                <!-- <i class="fas fa-lock"></i> -->
                <i style="cursor: pointer" (click)="toggleOldPassword()"
                  [ngClass]="oldPasswordHidden ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
              </span>
            </span>
          </div>
          <div>
            <p *ngIf="isOldPassword" class="text-danger">{{errorMessage}}</p>
          </div>

          <div class="form-group input-group pt-0" [ngClass]="{
              'has-error':
                !changePasswordForm.controls['password'].valid &&
                changePasswordForm.controls['password'].touched
            }">
            <input type="password" formControlName="password" class="form-control" placeholder="New Password"
              [type]="passwordHidden ? 'password' : 'text'" required />
            <span class="input-group-append">
              <span class="input-group-text show-password">
                <!-- <i class="fas fa-lock"></i> -->
                <i style="cursor: pointer" (click)="togglePassword()"
                  [ngClass]="passwordHidden ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
              </span>
            </span>
          </div>
          <div class="ml-5 mt-n3 alert alert-danger" *ngIf="
          changePasswordForm.controls['password'].hasError('required') &&
          changePasswordForm.controls['password'].touched
        ">
            Password is required
          </div>
          <div class="ml-5 alert alert-danger" *ngIf="
          changePasswordForm.controls['password'].hasError('minlength') &&
          changePasswordForm.controls['password'].touched
        ">
            Password must at list 6 characters
          </div>

          <div class="form-group input-group pt-0" [ngClass]="{
              'has-error':
                !changePasswordForm.controls['confirmPassword'].valid &&
                changePasswordForm.controls['confirmPassword'].touched
            }">
            <input type="password" formControlName="confirmPassword" class="form-control"
              placeholder="Password for cofirmation" [type]="confirmPasswordHidden ? 'password' : 'text'" required />
            <span class="input-group-append">
              <span class="input-group-text show-password">
                <!-- <i class="fas fa-lock"></i> -->
                <i style="cursor: pointer" (click)="toggleConfirmPassword()"
                  [ngClass]="confirmPasswordHidden ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
              </span>
            </span>
          </div>
          <div class="ml-5 alert alert-danger" *ngIf="
          changePasswordForm.controls['confirmPassword'].hasError(
            'required'
          ) && changePasswordForm.controls['confirmPassword'].touched
        ">
            Confirm password is required
          </div>
          <div class="ml-5 alert alert-danger" *ngIf="
          changePasswordForm.controls['confirmPassword'].hasError(
            'ConfirmPassword'
          ) && changePasswordForm.controls['confirmPassword'].touched
        ">
            Passsword and ConfirmPassword didn't match.
          </div>

          <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6 text-right">
              <button type="submit" class="btn btn-primary mt-2" [disabled]="!changePasswordForm.valid">
                Change Password
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
