<section class="body-sign">
  <div class="center-sign">
    <a class="logo float-left">
      <img src="./../../assets/project-image/vga-logo.png" height="80" width="100" alt="VGA" />
    </a>
    <div class="panel card-sign mr-1">
      <div class="card-title-sign mt-3 text-right">
        <h2 class="title text-uppercase font-weight-bold m-0">
          <i class="fas fa-user mr-1"></i>
        </h2>
      </div>
      <div class="card-body mt-3">
        <form class="login-form form" id="resetOldPasswordForm" [formGroup]="resetOldPasswordForm"
          (ngSubmit)="onSubmit()">
          <div class="alert alert-success alert-dismissible fade show text-center" *ngIf="showMsg" role="alert">
            <strong [attr.disabled]="isLoading"><i class="fa"
                [ngClass]="{'fa-spin fa-spinner': isLoading, 'fa-check': !isLoading}"></i>{{ successMessage }}</strong>
          </div>

          <div class="form-group input-group pt-0" [ngClass]="{
              'has-error':
                !resetOldPasswordForm.controls['password'].valid &&
                resetOldPasswordForm.controls['password'].touched
            }">
            <input type="password" formControlName="password" class="form-control" placeholder="New Password"
              [type]="passwordHidden ? 'password' : 'text'" required />
            <span class="input-group-append">
              <span class="input-group-text show-password">
                <!-- <i class="fas fa-lock"></i> -->
                <i style="cursor: pointer" (click)="togglePassword()"
                  [ngClass]="passwordHidden ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
              </span>
            </span>
          </div>
          <div class="ml-5 mt-n3 alert alert-danger" *ngIf="
          resetOldPasswordForm.controls['password'].hasError('required') &&
          resetOldPasswordForm.controls['password'].touched
        ">
            Password is required
          </div>
          <div class="ml-5 alert alert-danger" *ngIf="
          resetOldPasswordForm.controls['password'].hasError('minlength') &&
          resetOldPasswordForm.controls['password'].touched
        ">
            Password must at list 6 characters
          </div>

          <div class="form-group input-group pt-0" [ngClass]="{
              'has-error':
                !resetOldPasswordForm.controls['confirmPassword'].valid &&
                resetOldPasswordForm.controls['confirmPassword'].touched
            }">
            <input type="password" formControlName="confirmPassword" class="form-control"
              placeholder="Password for cofirmation" [type]="confirmPasswordHidden ? 'password' : 'text'" required />
            <span class="input-group-append">
              <span class="input-group-text show-password">
                <!-- <i class="fas fa-lock"></i> -->
                <i style="cursor: pointer" (click)="toggleConfirmPassword()"
                  [ngClass]="confirmPasswordHidden ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
              </span>
            </span>
            <div class="ml-5 alert alert-danger" *ngIf="
                resetOldPasswordForm.controls['confirmPassword'].hasError(
                  'required'
                ) && resetOldPasswordForm.controls['confirmPassword'].touched
              ">
              Confirm password is required
            </div>
            <div class="ml-5 alert alert-danger" *ngIf="
                resetOldPasswordForm.controls['confirmPassword'].hasError(
                  'ConfirmPassword'
                ) && resetOldPasswordForm.controls['confirmPassword'].touched
              ">
              Passsword and ConfirmPassword didn't match.
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6 text-right">
              <button type="submit" class="btn btn-primary mt-2" [disabled]="!resetOldPasswordForm.valid">
                Change Password
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
