<section role="main" class="content-body content-body-modern">
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="row">
          <div class="col-md-10">
            <div class="row">
              <button class="ml-3 back-button" (click)="backToSection()"><i class="fa fa-arrow-left text-white" aria-hidden="true"></i></button>
            <h4 class="ml-3 mt-2">Edit VGA Report</h4>
            </div>
          </div>
          <div class="col-md-2">
            <i class="fa fa-home" [routerLink]="['/pages/dashboard']" style="cursor: pointer">
              Dashboard</i>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <app-vga-report-details></app-vga-report-details>
            <div class="text-center mt-3">
              <h2>{{sequenceNo}}. {{sectionName}}</h2>
            </div>
            <div class="row mt-5 mx-5">
              <!-- <div class="col-md-1"></div> -->
              <div class="col-md-3 text-center" *ngFor="let subSection of subSections" (click)="getQuestions(subSection)">
                <h3 id={{subSection.id}}>{{subSection.sub_section_name}}</h3>
              </div>
            </div>

            <div class="row mt-5">
              <div class="col-md-1"></div>
              <div class="col-md-8">
                <label>Click on the sub-section button to go to question section.</label>
                <!-- <div class="float-right text-white edit-button">Edit</div> -->
                <div class="row mt-5 ml-5">
                  <h4 class="green"></h4>
                  <label class="ml-3">Fully Data Collected</label>
                </div>
                <div class="row ml-5">
                  <h4 class="orange"></h4>
                  <label class="ml-3">Partial Data Collected</label>
                </div>
                <div class="row ml-5">
                  <h4 class="red"></h4>
                  <label class="ml-3">Not any data Collected Yet</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
