<section role="main" class="content-body">
  <div class="card">
    <div class="row filter-cont mt-3 ml-3 mb-3">
      <div class="col-md-3 pl-0">
        <div class="mt-2">
          <!-- <label class="font-weight-bold">Client Employee Name</label> -->
          <input type="text" class="form-control" #searchStates (keyup.enter)="onSearch(searchStates.value)" placeholder="Search states" required />
        </div>
      </div>
      <div class="pt-2 col-md-9 text-right" style="margin-top: -2%">
        <label class="required-field"></label><br />
        <button class="btn float-left" (click)="onSearch(searchStates.value)"  style="background-color: #169EEC; color: white;">Search</button>
        <button class="btn float-left ml-3" (click)="onClear(searchStates.value = '')"  style="background-color: #169EEC; color: white;">Clear</button>

        <button type="button" (click)="addNewState(content)" class="btn float-right mr-2" style="background-color: #169EEC; color: white;">
          Add new state
        </button>
        <ng-template #content let-modal>
          <form [formGroup]="addStateForm" (ngSubmit)="onSubmit()">
            <div class="modal-header">
              <h4 class="modal-title" *ngIf="!isEditable">New State</h4>
              <h4 class="modal-title" *ngIf="isEditable">Update State</h4>
              <br /><br />
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container-fluid">
                <div class="row filter-cont">
                  <div class="col-md-6 pl-0">
                    <label class="font-weight-bold mt-2">Add New State</label>
                  </div>
                  <div class="col-md-6 pl-0">
                    <div class="pt-0">
                      <input type="text" formControlName="stateName" class="form-control" required />
                      <div class="text-danger"
                        *ngIf="addStateForm.controls['stateName'].hasError('required') && addStateForm.controls['stateName'].touched ">
                        State name is required
                      </div>
                      <div class="text-danger"
                        *ngIf="addStateForm.controls['stateName'].hasError('pattern') && addStateForm.controls['stateName'].touched">
                        Please Enter valid state name
                      </div>
                    </div>
                  </div>
                </div>
                <br />
                <div class="row filter-cont">
                  <div class="col-md-6 pl-0">
                    <label class="font-weight-bold required-field">Select Country</label>
                  </div>
                  <div class="col-md-6 pl-0">
                    <div class="pt-0">
                      <select class="form-control" formControlName="countryId" name="">
                        <option value="" >Select Country</option>
                        <option [value]="country.id" *ngFor="let country of countries">{{country.countries_name}}</option>
                      </select>
                      <div class="text-danger"
                        *ngIf="addStateForm.controls['countryId'].hasError('required') && addStateForm.controls['countryId'].touched ">
                        Please select a country
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br />
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-submit text-white mr-2" style="background-color: #169EEC; color: white;">
                Submit
              </button>
              <button type="button" class="btn btn-light bg-light text-dark mr-2" (click)="modal.close('Close click')">
                Close
              </button>
            </div>
          </form>
        </ng-template>
      </div>
    </div>

    <div class="card-header border mt-3">
      <p>States</p>
    </div>
    <div class="card-body">
      <!-- <div class="row filter-cont">
        <ul *ngFor="let country of arr; let i = index" class="col-md-4">
          <div class="row">
            <div class="col-4">
              <p id="p{{i}}" #pTag>{{ country.name }}</p>
              <input id="input{{i}}" #inputTag (keydown.enter)="onEditCountry(i)" hidden="true" type="text" class="form-control" value="{{ country.name }}"/>
            </div>
            <div class="col-6">
              <a class="btn" (click)="onEditCountry(i)"><i class="fas fa-edit text-success"></i></a>
              <a class="btn" (click)="onDeleteCountry(i)"><i class="fas fa-trash text-danger"></i></a>
            </div>
          </div>
        </ul>
      </div> -->
      <div class="table-responsive ">
        <table class="display table table-hover table-bordered w-100 table-head-bg-secondary" width="100%">
          <thead>
            <tr>
              <th>Country</th>
              <th>States</th>
            </tr>
          </thead>
          <tbody *ngFor="let state of getStates">
            <tr>
              <!-- <td>India</td> -->
              <td width="30%">{{getCountryName(state.countries_id)}}</td>
              <td width="70%">{{state.states_name}}
                <div class="float-right">
                  <a class="btn mr-2" (click)="onEditState(state)" ><i class="fas fa-edit text-success"></i></a>
                  <a class="btn" (click)="deleteState(state.id)"><i class="fas fa-trash text-danger"></i></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <ngb-pagination style="float: right;" [collectionSize]="totalItems" [page]="2" [maxSize]="3" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
      </div>
    </div>
  </div>
</section>
