<div class="row">
  <div class="col-md-3">
    <label class="list-inline-item font-weight-bold">VGA Report No.: </label>&nbsp;&nbsp;
    <div class="list-inline-item">{{vgAudit.vga_audit_number}}</div>
  </div>
  <div class="col-md-3">
    <label class="font-weight-bold">Client Name: </label>&nbsp;&nbsp;
    <div class="list-inline-item">{{clientName}}</div>
  </div>
  <div class="col-md-3">
    <label class="font-weight-bold">Start Date: </label>&nbsp;&nbsp;
    <div class="list-inline-item">{{vgAudit.audit_from_date | date}}</div>
  </div>
  <div class="col-md-3">
    <label class="font-weight-bold">End Date: </label>&nbsp;&nbsp;
    <div class="list-inline-item">{{vgAudit.audit_to_date | date}}</div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <label class="font-weight-bold">VGA Report Status: </label>&nbsp;&nbsp;
    <div class="list-inline-item">{{vgAudit.status}}</div>
  </div>
</div>
