<table *ngIf="sectionName !== 'Competency Mapping'" class="table table-bordered table-hover dataTable" [formGroup]="vgaReportForm">
  <thead>
    <tr *ngIf="answerType === 'Radio'">
      <th style="width: 25%">Title</th>
      <th style="width: 18%">Exceptional</th>
      <th style="width: 18%">Marginal</th>
      <th style="width: 18%">Satisfactory</th>
      <th style="width: 18%">Unsatisfactory</th>
    </tr>
  </thead>
  <tbody>
    <tr formArrayName="AnswerDetails" *ngFor="let vg of vgaReportForm?.get('AnswerDetails')['controls']; let i = index">
      <td formGroupName="{{ i }}"> {{ vg.value.Title }} </td>
      <td formGroupName="{{ i }}" *ngFor="let r of radio">
        <input type="radio" name="{{ vg.value.Title }}" value="{{r}}" id="radioBtn" (change)="onClickOfRadio($event.target)"/>
      </td>
    </tr>
  </tbody>
</table>

<table *ngIf="sectionName === 'Competency Mapping'" class="table table-bordered table-hover dataTable" [formGroup]="vgaReportForm">
  <thead>
    <tr *ngIf="answerType === 'Radio'">
      <th></th>
      <th class="text-center" style="width: 7%">Title</th>
      <th class="text-center" style="width: 7%">5</th>
      <th class="text-center" style="width: 7%">4</th>
      <th class="text-center" style="width: 7%">3</th>
      <th class="text-center" style="width: 7%">2</th>
      <th class="text-center" style="width: 7%">1</th>
    </tr>
  </thead>
  <tbody>
    <tr formArrayName="AnswerDetails" *ngFor="let vg of vgaReportForm?.get('AnswerDetails')['controls']; let i = index">
      <td formGroupName="{{ i }}" style="width: 5%"> {{i + 1}} </td>
      <td formGroupName="{{ i }}" style="width: 60%"> {{ vg.value.Title }} </td>
      <td formGroupName="{{ i }}" class="text-center" *ngFor="let r of radio2">
        <input type="radio" name="{{ vg.value.Title }}" value="{{r}}" id="radioBtn" (change)="onClickOfRadio($event.target)"/>
      </td>
    </tr>
  </tbody>
</table>

<!-- <div *ngIf="answerType === 'Radio' && sectionName === 'Competency Mapping'">
  <div class="mt-4" [formGroup]="vgaReportForm">
    <div *ngFor="let subQue of subQuestionsForCompetencyMapping; let i = index;">
      <table class="table table-bordered table-hover dataTable">
        <th style="width: 65%">{{i + 1}}. {{subQue.title}}</th>
        <th class="text-center" style="width: 7%">5</th>
        <th class="text-center" style="width: 7%">4</th>
        <th class="text-center" style="width: 7%">3</th>
        <th class="text-center" style="width: 7%">2</th>
        <th class="text-center" style="width: 7%">1</th>
      </table>
      <div formArrayName="AnswerDetails" *ngFor="let subSubQue of subQue.subSubQuestions; let i = index">
        <table class="table table-bordered table-hover dataTable">
          <tr>
            <td formGroupName="{{ i }}" style="width: 5%">{{subSubQue.sequence_number}}</td>
            <td formGroupName="{{ i }}" style="width: 60%">{{subSubQue.title}}</td>
            <td formGroupName="{{ i }}" class="text-center" *ngFor="let r of radio2">
              <input type="radio" name="{{ subSubQue.title }}" value="{{r}}" (change)="onClickOfRadio($event.target)"/>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div> -->
