<section role="main" class="content-body content-body-modern">
  <div class="row">
    <div class="col-md-12">
      <h4>{{employeeHeader}}</h4>
      <div class="card">
        <div class="card-body">
          <div class="container-fluid">
            <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
              <div class="row filter-cont">
                <div class="col-md-6 pl-0">
                  <div class="pt-0">
                    <label class="font-weight-bold required-field">Employee Title</label>
                    <select class="form-control" formControlName="empTitle" name="">
                      <option value="">Select Employee Title</option>
                      <option value="Mr.">Mr.</option>
                      <option value="Ms.">Ms.</option>
                      <option value="Mrs.">Mrs.</option>
                      <option value="Miss">Miss</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['empTitle'].hasError('required') && employeeForm.controls['empTitle'].touched ">
                      Employee title is required
                    </div>
                  </div>
                </div>
                <div class="col-md-6 pl-0">
                  <div class="form-group pt-0">
                    <label class="required-field font-weight-bold">Employee Name</label>
                    <input type="text" formControlName="empName" class="form-control" placeholder="Employee Name"
                      required />
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['empName'].hasError('required') && employeeForm.controls['empName'].touched ">
                      Employee name is required
                    </div>
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['empName'].hasError('minlength') && employeeForm.controls['empName'].touched ">
                      Please enter more than 3 characters!
                  </div>
                  </div>
                </div>
              </div><br />

              <div class="row filter-cont">
                <div class="col-md-6 pl-0">
                  <div class="pt-0">
                    <label class="font-weight-bold required-field">Employee Level</label>
                    <select class="form-control" formControlName="empLevel" name="">
                      <option value="">Select Employee Level</option>
                      <option value="Top Level">Top Level</option>
                      <option value="Managerial Level">Managerial Level</option>
                      <option value="Executive Level">Executive Level</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['empLevel'].hasError('required') && employeeForm.controls['empLevel'].touched ">
                      Employee level is required
                    </div>
                  </div>
                </div>
                <div class="col-md-5 pl-0">
                  <div class="form-group pt-0">
                    <label class="required-field font-weight-bold">Designation</label>
                    <select class="form-control" formControlName="designation" name="">
                      <option value="">Select Designation</option>
                      <option [value]="d.id" *ngFor="let d of empDesignation">{{d.designation_name}}</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['designation'].hasError('required') && employeeForm.controls['designation'].touched ">
                      Designation is required
                    </div>
                  </div>
                </div>
                <div class="col-md-1 mt-4">
                  <button type="button" class="btn btn-submit text-white" style="margin-top:9%;" (click)="editDesignation(content2)"><i
                      class="fa fa-plus"></i></button>
                  <ng-template #content2 let-modal>
                    <form [formGroup]="addDesignationForm" (ngSubmit)="onAddDesignation()">
                    <div class="modal-header">
                      <h4 class="modal-title">New Designation</h4><br><br>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row filter-cont">
                          <div class="col-md-6 pl-0">
                            <label class="font-weight-bold mt-2">Add New Designation</label>
                          </div>
                          <div class="col-md-6 pl-0">
                            <div class="pt-0">
                              <input type="text" formControlName="designation" class="form-control" required />
                            </div>
                          </div>
                        </div><br>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button"(click)="onAddDesignation()" class="btn btn-submit text-white mr-2">Submit</button>
                      <button type="button" class="btn btn-light bg-light text-dark mr-2"
                        (click)="modal.close('Close click')">Close</button>
                    </div>
                  </form>
                  </ng-template>
                </div>
              </div><br />

              <div class="row filter-cont">
                <div class="col-md-5 pl-0">
                  <div class="pt-0">
                    <label class="font-weight-bold required-field">Department / Division</label>
                    <select class="form-control" formControlName="deptDiv" name="">
                      <option value="">Select Department / Division</option>
                      <option [value]="d.id" *ngFor="let d of empDepartment">{{d.department_name}}</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['deptDiv'].hasError('required') && employeeForm.controls['deptDiv'].touched ">
                      Department / Division is required
                    </div>
                  </div>
                </div>
                <div class="col-md-1 mt-4">
                  <button type="button" class="btn btn-submit text-white" style="margin-top:9%;" (click)="editDepartment(content)"><i
                      class="fa fa-plus"></i></button>
                  <ng-template #content let-modal>
                    <form [formGroup]="addDepartmentForm" (ngSubmit)="onAddDepartment()">
                    <div class="modal-header">
                      <h4 class="modal-title">New Department / Division</h4><br><br>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="container-fluid">
                        <div class="row filter-cont">
                          <div class="col-md-6 pl-0">
                            <label class="font-weight-bold mt-2">Add New Department /
                              Division</label>
                          </div>
                          <div class="col-md-6 pl-0">
                            <div class="pt-0">
                              <input type="text" formControlName="department" class="form-control" required />
                            </div>
                          </div>
                        </div><br>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" (click)="onAddDepartment()" class="btn btn-submit text-white mr-2">Submit</button>
                      <button type="button" class="btn btn-light bg-light text-dark mr-2"
                        (click)="modal.close('Close click')">Close</button>
                    </div>
                    </form>
                  </ng-template>
                </div>
                <div class="col-md-6 pl-0">
                  <div class="form-group pt-0">
                    <label class="font-weight-bold">Reporting To</label>
                    <select class="form-control" formControlName="reportingTo" name="">
                      <option value="">Select Reporting To</option>
                      <option [value]="obj.id" *ngFor="let obj of employee$">{{obj.name}}
                    </select>
                  </div>
                </div>
              </div><br />

              <div class="row filter-cont">
                <div class="col-md-6 pl-0">
                  <div class="pt-0">
                    <label class="font-weight-bold required-field">Email Address</label>
                    <input type="text" formControlName="email" class="form-control" placeholder="Email Address"
                      required />
                    <div
                    *ngIf="employeeForm.get('email').touched">
                      <p class="text-danger m-0 mt-1" [hidden]="!employeeForm.get('email').errors?.required">
                        Please Enter Email!</p>
                      <p class="text-danger m-0 mt-1" [hidden]="!employeeForm.get('email').errors?.pattern">
                        Kindly enter valid email!
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 pl-0">
                  <div class="form-group pt-0">
                    <label class="required-field font-weight-bold">Mobile Number</label>
                    <input type="text" formControlName="mobileNumber" class="form-control" placeholder="Mobile Number"
                      required />
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['mobileNumber'].hasError('required') && employeeForm.controls['mobileNumber'].touched ">
                      Mobile number is required
                    </div>
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['mobileNumber'].hasError('minlength') && !employeeForm.controls['mobileNumber'].hasError('pattern') && employeeForm.controls['mobileNumber'].touched ">
                      Mobile must at list 10 digits
                    </div>
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['mobileNumber'].hasError('maxlength') && !employeeForm.controls['mobileNumber'].hasError('pattern') && employeeForm.controls['mobileNumber'].touched ">
                      Mobile number not more than 13 digits
                    </div>
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['mobileNumber'].hasError('pattern') && employeeForm.controls['mobileNumber'].touched ">
                      Please enter valid mobile number
                    </div>
                  </div>
                </div>
              </div><br />

              <div class="row filter-cont">
                <div class="col-md-6 pl-0">
                  <div class="pt-0">
                    <label class="font-weight-bold required-field">Address</label>
                    <input type="text" formControlName="address" class="form-control" placeholder="Address" required />
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['address'].hasError('required') && employeeForm.controls['address'].touched ">
                      Address is required
                    </div>
                  </div>
                </div>
                <div class="col-md-6 pl-0">
                  <div class="form-group pt-0">
                    <label class="required-field font-weight-bold">Country</label>
                    <select class="form-control" formControlName="country" name="" (change)="getStates($event.target.value)">
                      <option value="">Select Country</option>
                      <option [value]="ctn.id" *ngFor="let ctn of countries">{{ctn.countries_name}}</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['country'].hasError('required') && employeeForm.controls['country'].touched ">
                      Country is required
                    </div>
                  </div>
                </div>
              </div><br />

              <div class="row filter-cont">
                <div class="col-md-6 pl-0">
                  <div class="pt-0">
                    <label class="font-weight-bold required-field">State</label>
                    <select class="form-control" formControlName="state" name="" (change)="getCities($event.target.value)">
                      <option value="">Select State</option>
                      <option [value]="s.id" *ngFor="let s of states">{{s.states_name}}</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['state'].hasError('required') && employeeForm.controls['state'].touched ">
                      State is required
                    </div>
                  </div>
                </div>
                <div class="col-md-6 pl-0">
                  <div class="form-group pt-0">
                    <label class="required-field font-weight-bold">City</label>
                    <select class="form-control" formControlName="city" name="">
                      <option value="">Select City</option>
                      <option [value]="c.id" *ngFor="let c of cities">{{c.city_name}}</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['city'].hasError('required') && employeeForm.controls['city'].touched ">
                      City is required
                    </div>
                  </div>
                </div>
              </div><br />

              <div class="row filter-cont">
                <div class="col-md-6 pl-0">
                  <div class="pt-0">
                    <label class="font-weight-bold required-field">Zip Code</label>
                    <input type="text" formControlName="zipCode" class="form-control" placeholder="Zip Code" required />
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['zipCode'].hasError('required') && employeeForm.controls['zipCode'].touched ">
                      Zip Code is required
                    </div>
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['zipCode'].hasError('maxlength') && employeeForm.controls['zipCode'].touched ">
                      Please enter valid zip code
                    </div>
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['zipCode'].hasError('minlength') && employeeForm.controls['zipCode'].touched ">
                      Please enter 6 digit zip code
                    </div>
                  </div>
                </div>
                <div class="col-md-6 pl-0">
                    <div class="form-group pt-0"
                      [ngClass]="{ 'has-error': !employeeForm.controls['username'].valid && employeeForm.controls['username'].touched}">
                      <label class="required-field font-weight-bold">Usename</label>
                      <input type="text" class="form-control" formControlName="username" placeholder="Username" />
                      <div class="text-danger"
                        *ngIf="employeeForm.controls['username'].hasError('required') && employeeForm.controls['username'].touched ">
                        Username is required
                      </div>
                    </div>
                </div>
              </div><br />
              <div class="row filter-cont">
                <div class="col-md-6 pl-0">
                  <div class="form-group pt-0"
                    [ngClass]="{ 'has-error': !employeeForm.controls['parent_account_id'].valid && employeeForm.controls['parent_account_id'].touched}">
                    <label class="required-field font-weight-bold">Parent Account Name</label>
                    <select class="form-control" name="parent_account_id" formControlName="parent_account_id" required>
                      <option value="" selected disabled>Select Parent Account</option>
                      <option [value]="obj.id" *ngFor="let obj of accounts$">{{obj.name}}
                      </option>
                    </select>
                    <div class="text-danger"
                      *ngIf="employeeForm.controls['parent_account_id'].hasError('required') && employeeForm.controls['parent_account_id'].touched ">
                      parent account name is required
                    </div>
                  </div>
                </div>
              </div>
              <hr>

              <div class="float-right">
                <button type="submit" *ngIf="roleType !== 'Employee'" class="btn" [routerLink]="['/pages/search-employee']">Cancel</button>&nbsp;&nbsp;
                <button type="submit" class="btn btn-submit text-white">{{button}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
