.green{
  color: green;
}

.red{
  color: red;
}
.card-body{
  border-top: 3px solid #169EEC;
  border-radius: 5px 0 5px 5px;
}
.btn-submit{
  background-color: #169EEC;
}
.required-field:after {
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 3px;
}
.btn{
  background-color: #169EEC;
  color: white;
}
