<section role="main" class="content-body content-body-modern">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8">
          <h4>Questions List</h4>
        </div>
        <div class="col-md-4">
          <button class="btn float-right" style="background-color: #169EEC;" [routerLink]="['/pages/NewQuestion']"><i class="fa fa-plus"> Add New
              Question</i></button>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row filter-cont">
            <div class="col-md-6 pl-0">
              <div class="pt-0">
                <label class="font-weight-bold">Question Name</label>
                <input type="text" class="form-control" placeholder="Question Name" (keyup.enter)="onSearch(searchValue.value)" #searchValue required />
              </div>
            </div>
            <div class="col-md-3 pl-0">
              <div class="pt-2 text-right">
                <label class="required-field"></label><br>
                <button class="btn" (click)="onSearch(searchValue.value)" style="background-color: #169EEC; color: white;">Search</button>
                <button class="btn ml-3" (click)="onClear(searchValue.value = '')" style="background-color: #169EEC; color: white;">Clear</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body border">
          <div class="table-responsive">
            <table class="display table table-hover w-100 table-head-bg-secondary" width="100%">
              <thead>
                <tr>
                  <th (click)="sort('question_name')">Question Name &nbsp; <i class="fa fa-sort"></i></th>
                  <th (click)="sort('answer_control_type')">Answer Control Type</th>
                  <th (click)="sort('answer_value_type')">Answer Value Type</th>
                  <th (click)="sort('default_answer_value')">Default Answer Value</th>
                  <th (click)="sort('section_name')">Section Name</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let obj of questionObj; let i = index;">
                  <td>{{obj.question}}</td>
                  <td>{{obj.answer_type}}</td>
                  <td>{{obj.answer_value}}</td>
                  <td>{{obj.by_default_value}}</td>
                  <td>{{obj.section[0].section_name}}</td>
                  <td>
                    <a href="javascript:void(0);" title="Edit User Details" class="icon-a">
                      <i class="fa fa-edit green icons-size icon-margin" (click)="editQuestion(obj.id)"></i>
                      <i class="fa fa-trash ml-2 red icons-size icon-margin" (click)="deleteQuestion(obj.id)"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="questionObj?.length == 0">
                <tr>
                  <td colspan="10" class="no-data-available text-center">No matching records found
                  </td>
                </tr>
              <tbody>
            </table>
            <ngb-pagination style="float: right" [collectionSize]="totalItems" [pageSize]="itemsPerPage" [(page)]="page"
              [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)">
            </ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>

  <modal #contentDelete>
    <modal-header>
      <strong>Are you sure?</strong>
    </modal-header>
    <modal-content>
      <section class="card">
        <div class="card-body">
          <div class="modal-wrapper">
            <div class="modal-icon">
              <i class="fas fa-question-circle"></i>
            </div>
            <div class="modal-text">
              <p class="mb-0">Are you sure that you want to delete this record?</p>
            </div>
          </div>
        </div>
      </section>
    </modal-content>
    <modal-footer>
        <div class="row">
          <div class="col-md-12 text-right">
            <button class="btn btn-danger mb-1 mt-1 mr-1 ws-normal btn btn-default"
             (click)="onConfrimDelete()">Confirm</button>
            <button class="btn btn-primary mb-1 mt-1 mr-1 ws-normal btn btn-default" (click)="OnCanceleDeleteModal()">Cancel</button>
          </div>
        </div>
    </modal-footer>
  </modal>
</section>
