<section role="main" class="content-body content-body-modern">
  <div class="row">
    <div class="col-md-10">
      <h4>Search VG Audit Report</h4>
    </div>
    <div class="col-md-2">
      <i class="fa fa-home" [routerLink]="['/pages/dashboard']" style="cursor: pointer"> Dashboard</i>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row filter-cont">
        <div class="col-md-3">
          <div class="pt-0">
            <label class="font-weight-bold">From Date</label>
            <input type="date" class="form-control"  #searchFromDate placeholder="" required />
          </div>
        </div>
        <div class="col-md-3 pl-0">
          <div class="pt-0">
            <label class="font-weight-bold">To Date</label>
            <input type="date" class="form-control" #searchToDate required />
          </div>
        </div>
        <!-- <div class="col-md-3 pl-0" *ngIf="roleType !== 'Super Admin'">
          <div class="pt-0">
            <label class="font-weight-bold">VGAudit Number</label>
            <select name="" class="form-control" #searchVgAuditNo (change)="onChange(searchVgAuditNo.value)">
              <option value="">Select VGAudit Number</option>
              <option *ngFor="let obj of vgAuditsForDropDown">{{obj.vga_audit_number}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-3 pl-0" *ngIf="roleType !== 'Super Admin'">
          <div class="pt-2 text-right">
            <label class="required-field"></label><br>
            <button class="btn" (click)="onSearch(searchFromDate.value,searchToDate.value,searchVgAuditNo.value)" style="background-color: #169EEC; color: white;">Search</button>
            <button class="btn ml-3" (click)="onClear(searchFromDate.value = '',searchToDate.value = '',searchVgAuditNo.value = '')" style="background-color: #169EEC; color: white;">Clear</button>
          </div>
        </div> -->
        <div class="col-md-3 pl-0">
          <div class="pt-0">
            <label class="font-weight-bold">VGAudit Number</label>
            <select name="" class="form-control" #searchVgAuditNo (change)="onChange(searchVgAuditNo.value)">
              <option value="">Select VGAudit Number</option>
              <option *ngFor="let obj of vgAuditsOfClientsByUserForDropDown">{{obj.vga_audit_number}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-3 pl-0">
          <div class="pt-2 text-right">
            <label class="required-field"></label><br>
            <button class="btn" (click)="onSearch(searchFromDate.value,searchToDate.value,searchVgAuditNo.value)" style="background-color: #169EEC; color: white;">Search</button>
            <button class="btn ml-3" (click)="onClear(searchFromDate.value = '',searchToDate.value = '',searchVgAuditNo.value = '')" style="background-color: #169EEC; color: white;">Clear</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body border">
      <div class="table-responsive" *ngIf="roleType === 'Client'">
        <table class="table display table-hover w-100 table-head-bg-secondary" width="100%">
          <thead>
            <tr>
              <th>VGAudit Number</th>
              <th>Audit From Date</th>
              <th>Audit To Date</th>
              <th>Organization Diagnosis Report</th>
              <th>Competency Mapping Report</th>
              <th>Perfomance Evaluation Report</th>
              <th>ValueGrowth AuditMatrix Report</th>
              <th>Plan of action and Recommandation Report</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obj of vgAudit">
              <td><a style="color:blue;cursor:pointer;" (click)="navigateToEditVGAuditReport(obj.vga_audit_number)" routerLinkActive="active">{{obj.vga_audit_number}}</a></td>
              <td>{{obj.audit_from_date | date}}</td>
              <td>{{obj.audit_to_date | date}}</td>
              <td class="text-center"> <button class="btn-primary" style="width: 8vh;" (click)="viewReport(obj.client_id, section1, obj.vga_audit_number)"><i class="fa fa-download"
                aria-hidden="true"></i></button> </td>
              <td class="text-center"> <button class="btn-primary" style="width: 8vh;" (click)="viewReport(obj.client_id, section2, obj.vga_audit_number)"><i class="fa fa-download"
                    aria-hidden="true"></i></button> </td>
              <td class="text-center"> <button class="btn-primary" style="width: 8vh;" (click)="viewReport(obj.client_id, section3, obj.vga_audit_number)"><i class="fa fa-download"
                    aria-hidden="true"></i></button> </td>
              <td class="text-center"> <button class="btn-primary" style="width: 8vh;" (click)="viewReport(obj.client_id, section4, obj.vga_audit_number)"><i class="fa fa-download"
                    aria-hidden="true"></i></button> </td>
              <td class="text-center"> <button class="btn-primary" style="width: 8vh;" (click)="viewReport(obj.client_id, section5, obj.vga_audit_number)"><i class="fa fa-download"
                    aria-hidden="true"></i></button> </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
            </tr>
          <tbody>
        </table>
      </div>

      <!-- For Super Admin -->
      <div class="table-responsive" *ngIf="roleType === 'Super Admin'">
        <table class="table display table-hover w-100 table-head-bg-secondary" width="100%">
          <thead>
            <tr>
              <th>Client Name</th>
              <th>VGAudit Number</th>
              <th>Audit From Date</th>
              <th>Audit To Date</th>
              <th>Organization Diagnosis Report</th>
              <th>Competency Mapping Report</th>
              <th>Perfomance Evaluation Report</th>
              <th>ValueGrowth AuditMatrix Report</th>
              <th>Plan of action and Recommandation Report</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obj of vgAuditsOfClientsByUser">
              <td>{{obj.name}}</td>
              <td><a style="color:blue;cursor:pointer;" (click)="navigateToEditVGAuditReport(obj.vga_audit_number)" routerLinkActive="active">{{obj.vga_audit_number}}</a></td>
              <td>{{obj.audit_from_date | date}}</td>
              <td>{{obj.audit_to_date | date}}</td>
              <td class="text-center"> <button class="btn-primary" style="width: 8vh;" (click)="viewReport(obj.client_id, section1, obj.vga_audit_number)"><i class="fa fa-download"
                aria-hidden="true"></i></button> </td>
              <td class="text-center"> <button class="btn-primary" style="width: 8vh;" (click)="viewReport(obj.client_id, section2, obj.vga_audit_number)"><i class="fa fa-download"
                    aria-hidden="true"></i></button> </td>
              <td class="text-center"> <button class="btn-primary" style="width: 8vh;" (click)="viewReport(obj.client_id, section3, obj.vga_audit_number)"><i class="fa fa-download"
                    aria-hidden="true"></i></button> </td>
              <td class="text-center"> <button class="btn-primary" style="width: 8vh;" (click)="viewReport(obj.client_id, section4, obj.vga_audit_number)"><i class="fa fa-download"
                    aria-hidden="true"></i></button> </td>
              <td class="text-center"> <button class="btn-primary" style="width: 8vh;" (click)="viewReport(obj.client_id, section5, obj.vga_audit_number)"><i class="fa fa-download"
                    aria-hidden="true"></i></button> </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
            </tr>
          <tbody>
        </table>
      </div>
      <!-- End Super Admin -->

      <!-- For Consultant -->
      <div class="table-responsive" *ngIf="roleType === 'Consultant' || roleType === 'Employee'">
        <table class="table display table-hover w-100 table-head-bg-secondary" width="100%">
          <thead>
            <tr>
              <th>Client Name(Username)</th>
              <th>VGAudit Number</th>
              <th>Audit From Date</th>
              <th>Audit To Date</th>
              <th>View VGA Report</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obj of vgAuditsOfClientsByConsultant">
              <td>{{obj.name}}</td>
              <td><a style="color: #169EEC;cursor:pointer;" (click)="navigateToEditVGAuditReport(obj.vga_audit_number)">{{obj.vga_audit_number}}</a></td>
              <td>{{obj.audit_from_date | date}}</td>
              <td>{{obj.audit_to_date | date}}</td>
              <td><a style="color: #169EEC;cursor:pointer;" (click)="navigateToValueGrowthAuditReport(obj.vga_audit_number)">View VGA Report</a></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
            </tr>
          <tbody>
        </table>
      </div>
    </div>
    <!-- End Consultant -->
  </div>
</section>
