<section role="main" class="content-body content-body-modern">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="vgaReportForm">
        <div class="row">
          <div class="col-md-10">
            <div class="row">
              <button class="ml-3 back-button" (click)="onClickOfPrevious()"><i class="fa fa-arrow-left text-white" aria-hidden="true"></i></button>
            <h4 class="ml-3 mt-2">Edit VGA Report</h4>
            </div>
          </div>
          <div class="col-md-2">
            <i class="fa fa-home" [routerLink]="['/pages/dashboard']" style="cursor: pointer">
              Dashboard</i>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <app-vga-report-details></app-vga-report-details>
            <hr>
            <label class="font-weight-bold">Client Employee Name: </label>&nbsp;&nbsp;
            <div class="list-inline-item">{{clientEmployeeName}}</div>
            <div class="col-md-3">
            </div>
              <div class="box-header mt-4 ml-n3">
                <a class="breadcrumb" id="question"><i class="fa fa-tachometer-alt mt-1 mr-2"></i>{{ questionName }} / {{empPerformanceQuestion[counter]?.name}}</a>
              </div>

              <div>
                <app-radio [createform]="createform" [vgaReportForm]="vgaReportForm" [answerType]="answerType" [radio]="radio" [onClickOfRadio]="onClickOfRadio" [reportAnswerValue]="reportAnswerValue" [counter]="counter">
                </app-radio>
              </div>

              <div class="col-md-12">
                <label class="font-weight-bold"><i class="fa fa-edit"></i>Please provide rationale for assigned rating.</label><br />
                <textarea rows="4" fullWidth style="width: 100%" id="remarks" formControlName="remarks"></textarea>
              </div>

              <div id="consultant" >
                <div class="col-md-12">
                  <label class="mt-2 font-weight-bold"><i class="fa fa-edit"></i>Please provide rationale for assigned rating.</label><br>
                  <textarea rows="4" id="consultantReview" fullWidth style="width: 100%;" formControlName="consultantReview"></textarea>
                </div>

                <div class="col-md-4 mt-2">
                  <label class="font-weight-bold">Consultant Review Status</label>
                  <select class="form-control" id="status" formControlName="status">
                    <option [ngValue]="null" *ngIf="roleType == 'consultant'">Reviewed</option>
                    <option *ngIf="status && roleType !== 'consultant'">{{status}}</option>
                    <option value="Reviewing">Reviewing</option>
                  </select>
                </div>
              </div>

          </div>
        </div>
        <div class="mt-3 float-right">
          <button (click)="onSubmit()" class="btn btn-submit" id="submit">
            Submit
          </button>
          <!-- [disabled]="vgaReportForm.hasError('required', 'AnswerValue')"  -->
          <!-- <small *ngIf="">Field is required!</small> -->
          <button (click)="OnNextButton()" class="btn btn-next m-2" id="next">
            Next
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
