<section role="main" class="content-body content-body-modern">
  <div class="row">
    <div class="col-md-12">
      <h4>{{questionHeader}}</h4>
      <div class="card">
        <div class="card-body">
          <div class="container-fluid">
            <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
              <div class="row filter-cont">
                <div class="col-md-6 pl-0">
                  <div class="pt-0">
                    <label class="font-weight-bold required-field">Section Name</label>
                    <select class="form-control" formControlName="sectionId" name="" (change)="onChnageOfSection($event.target.value)">
                      <option value="">Select Section Name</option>
                      <option [value]="obj.id" *ngFor="let obj of sectionObj">{{obj.section_name}}</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="questionForm.controls['sectionId'].hasError('required') && questionForm.controls['sectionId'].touched ">
                      Section name is required
                    </div>
                  </div>
                </div>
                <div class="col-md-6 pl-0">
                  <div class="form-group pt-0">
                    <label class="font-weight-bold">Sub Section Name</label>
                    <select class="form-control" formControlName="subSectionId" name="">
                      <option value="">Select Sub Section Name</option>
                      <option [value]="obj.id" *ngFor="let obj of subSectionNameObj">{{obj.sub_section_name}}</option>
                    </select>
                    <div class="text-danger"
                      *ngIf="questionForm.controls['subSectionId'].hasError('required') && questionForm.controls['subSectionId'].touched ">
                      Sub Section Name is required
                    </div>
                  </div>
                </div>
              </div><br />

              <div class="row filter-cont">
                <div class="col-md-6 pl-0">
                  <div class="pt-0">
                    <label class="font-weight-bold required-field">Question Name</label>
                    <input type="text" class="form-control" formControlName="questionName"
                      placeholder="Question Name" />
                    <div class="text-danger"
                      *ngIf="questionForm.controls['questionName'].hasError('required') && questionForm.controls['questionName'].touched ">
                      Question name is required
                    </div>
                  </div>
                </div>
                <div class="col-md-6 pl-0">
                  <div class="pt-0">
                    <label class="font-weight-bold required-field">Answer Control Type</label>
                    <select class="form-control" formControlName="answerControlType">
                      <option [ngValue]="null">Select one...</option>
                      <option *ngFor="let type of eAnsweControlType | keyvalue" [ngValue]="type.key">{{type.value}}
                      </option>
                    </select>
                    <div class="text-danger"
                      *ngIf="questionForm.controls['answerControlType'].hasError('required') && questionForm.controls['answerControlType'].touched ">
                      Please select one Answer Control Type
                    </div>
                    <!-- <ng-container *ngIf="type.value !== eAnsweControlType.Dropdown">
                      Wouldn't you prefer a nice garden?
                      </ng-container> -->
                  </div>
                </div>
              </div><br />

              <div class="row filter-cont">
                <div class="col-md-6 pl-0">
                  <div class="pt-0">
                    <label class="font-weight-bold required-field">Answer Value Type</label>
                    <select class="form-control" formControlName="answerValueType">
                      <option [ngValue]="null">Select one...</option>
                      <option *ngFor="let type of eAnswerValueType | keyvalue" [ngValue]="type.value">{{type.value}}
                      </option>
                    </select>
                    <div class="text-danger"
                      *ngIf="questionForm.controls['answerControlType'].hasError('required') && questionForm.controls['answerControlType'].touched ">
                      Please select one Answer Control Type
                    </div>
                  </div>
                </div>
                <div class="col-md-6 pl-0">
                  <div class="pt-0">
                    <label class="font-weight-bold">Default Answer Value</label>
                    <select class="form-control" formControlName="deafaultAnswerValue" *ngIf="answerTypeObj === 'Radio'">
                      <option value="Exceptional">Exceptional</option>
                      <option value="Marginal">Marginal</option>
                      <option value="Satisfactory">Satisfactory</option>
                      <option value="Unsatisfactory">Unsatisfactory</option>
                    </select>
                    <select class="form-control" formControlName="deafaultAnswerValue" *ngIf="answerTypeObj === 'Dropdown'">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                    </select>
                    <input type="text" class="form-control" formControlName="deafaultAnswerValue"
                      placeholder="Default Answer Value" *ngIf="answerTypeObj === 'Textbox' || answerTypeObj === ''"/>
                  </div>
                </div>
              </div><br />

              <div class="row filter-cont">
                <div class="col-md-6 pl-0">
                  <div class="pt-0">
                    <label class="font-weight-bold required-field">Sequence Number</label>
                    <input type="text" class="form-control" formControlName="sequenceNumber"
                      placeholder="Sequence Number" />
                    <div class="text-danger"
                      *ngIf="questionForm.controls['sequenceNumber'].hasError('required') && questionForm.controls['sequenceNumber'].touched ">
                      Sequence number is required
                    </div>
                    <div class="text-danger" *ngIf="hasError">
                      {{errorMessage}}
                    </div>
                  </div>
                </div>
              </div><br />

              <label class="font-weight-bold">Sub Question Value :</label>
              <div *ngFor="let item of questionForm.get('subQuestionsList')['controls'];let i = index">
                <div class="row filter-cont">
                  <div class="col-md-6 pl-0">
                    <div class="pt-0">
                      <div formArrayName="subQuestionsList">
                        <div [formGroupName]='i' class="">
                          <input type="text" formControlName="subQuestion" class="form-control"
                            placeholder="Sub Question Value">
                          <br>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-1">
                    <div *ngIf="i !== 0" class="mt-2">
                      <i class="fa fa-times" style="cursor: pointer" aria-hidden="true" (click)="removeAnswer(i)"></i>
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-submit text-white m-4" (click)="addNewAnswer()"><i
                  class="fa fa-plus">Add Answer Value</i></button>

              <hr>

              <div class="float-right">
                <!-- <button type="submit" class="btn" [routerLink]="['/pages/search-employee']">Cancel</button> -->
                <button type="submit" class="btn btn-submit text-white">{{button}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
