<section role="main" class="content-body">
  <header class="page-header">
    <h2>404</h2>

    <div class="right-wrapper text-right mr-2">
      <ol class="breadcrumbs">
        <li>
          <a href='/pages'>
            <i class="fas fa-home"></i>
          </a>
        </li>
        <li><span>Pages</span></li>
        <li><span>404</span></li>
      </ol>

      <!-- <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a> -->
    </div>
  </header>

  <!-- start: page -->
  <section class="body-error error-inside">
    <div class="center-error">

      <div class="row">
        <div class="col-lg-12">
          <div class="main-error mb-3">
            <h2 class="error-code text-dark text-center font-weight-semibold m-0">404 <i class="fas fa-file"></i></h2>
            <p class="error-explanation text-center">We're sorry, but the page you were looking for doesn't exist.</p>
          </div>
        </div>
        <!-- <div class="col-lg-4">
          <h4 class="text">Here are some useful links</h4>
          <ul class="nav nav-list flex-column primary">
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-caret-right text-dark"></i> Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-caret-right text-dark"></i> User Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fas fa-caret-right text-dark"></i> FAQ's</a>
            </li>
          </ul>
        </div> -->
      </div>
    </div>
  </section>
  <!-- end: page -->
</section>
