body {
  display:flex;
  flex-wrap:wrap;
  font-family: Arial;
  justify-content: center;
}

h3 {
  text-align:center;
  padding: 0 10px;
}
.tree {
  $border-color: #ddd;
  $background-color: #eee;
  $border-weight: 1px;
  $margin: 12px;
  $color: rgb(255, 255, 255);
  $border-color: #ddd;
  $topLevelColor : #03253f;
  $parentColor: #0f4566;
  $childColor: #2e6d94;
  $childrenColor: #489acc;

  // margin: $margin * 1.5;
  padding: 0;

  // &:not(:empty):before, &:not(:empty):after,
  // ul:not(:empty):before,
   ul:not(:empty):after,
  li:not(:empty):before, li:not(:empty):after {
    display:block;
    position:absolute;
    content:"";
  }

  ul, li {
        position: relative;
        margin:4;
        padding:4;
      }

      li {
        list-style:none;
      }

      li>div {
        // background-color:$parentColor;
        color:$color;
        padding:5px;
        display:inline-block;
      }

      li>.top-level{
        background-color:$topLevelColor;
      }

      li>.parent{
        background-color:$parentColor;
      }

      li>.child{
        background-color:$childColor;
      }

      li>.children{
        background-color:$childrenColor;
      }

  &.vertical {
    display:flex;

    ul {
      display:flex;
      justify-content: center;
    }

    li {
      display:flex;
      flex-direction: column;
      align-items: center;

      div {
        margin: $margin $margin/2;
      }

      &:before {
        border-left: $border-weight solid $border-color;
        height: $margin;
        width: 0;
        top: 0;
      }

      &:after {
        border-top: $border-weight solid $border-color;
        height: 0;
        width: 100%;
      }

      &:first-child:after {
        border-top: $border-weight solid $border-color;
        height: 0;
        width: 50%;
        left: 50%;
      }

      &:last-child:after {
        border-top: $border-weight solid $border-color;
        height: 0;
        width: 50%;
        right: 50%;
      }

      &:only-child:after {
        content:none;
      }

      ul:before {
        border-left: $border-weight solid $border-color;
        height: $margin;
        width: 0;
        top: -$margin;
      }
    }

    &>li {
      &:only-child:before, &:only-child:after {
        content:none;
      }
    }
  }

  %subcascade {
    flex-direction:column;
    align-items:start;
    padding: 0 $margin;

    &:before {
      left:2*$margin;
    }

    &:after {
      left:0;
    }

    &:first-child:after {
      left:2*$margin;
      width:100%;
    }

    &:last-child:after {
      left:0;
      width:2*$margin;
    }

    ul, li {
      display:block;
    }

    ul:before, ul:after,
    li:before, li:after {
      border:none;
    }

    div {
      margin:0;
      margin-top:$margin;
    }

    li {
      margin-left: 2 * $margin;

      &:before {
        border-left: $border-weight solid $border-color;
        height:100%;
        width:0;
        top:0;
        left:-$margin;
      }

      &:after {
        border-top: $border-weight solid $border-color;
        width: $margin;
        height: 0;
        left:-$margin;
        top: $margin * 2;
        content: "";
      }

      &:last-child:before {
        height:$margin * 2;
        top:0;
      }
    }
  }

  &.vertical.cascade-1 {
    &>li>ul>li {
      @extend %subcascade;
    }
  }
}

.root{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
}

.nodecontent {
  box-sizing: border-box;
  width: 100px;
  height: 45px;
  padding: 10%;
  border: 1px solid #888888;
  box-shadow: 5px 10px 20px #888888;
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

// @media only screen and (max-width: 1281px) {
//   .nodecontent {
//     box-sizing: border-box;
//     width: 95px;
//     height: 35px;
//     padding: 15px;
//     border: 1px solid #888888;
//     box-shadow: 5px 10px 20px #888888;
//     font-size: 12px;
//   }
//   .nodecontent:hover {
//     box-sizing: border-box;
//     width: 105px;
//     height: 45px;
//     padding: 20px;
//     border: 1px solid #888888;
//     box-shadow: 5px 10px 20px #888888;
//   }
// }

// @media only screen and (min-width: 1025px) and (max-width: 1280px) {
//   .nodecontent {
//     box-sizing: border-box;
//     width: 80px;
//     height: 25px;
//     padding: 10px;
//     border: 1px solid #888888;
//     box-shadow: 5px 10px 20px #888888;
//     font-size: 11px;
//   }
//   .nodecontent:hover {
//     box-sizing: border-box;
//     width: 90px;
//     height: 35px;
//     padding: 15px;
//     border: 1px solid #888888;
//     box-shadow: 5px 10px 20px #888888;
//   }
// }

// @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
//   .nodecontent {
//     box-sizing: border-box;
//     width: 73px;
//     height: 20px;
//     padding: 10px;
//     border: 1px solid #888888;
//     box-shadow: 5px 10px 20px #888888;
//     font-size: 8px;
//   }
//   .nodecontent:hover {
//     box-sizing: border-box;
//     width: 80px;
//     height: 30px;
//     padding: 10px;
//     border: 1px solid #888888;
//     box-shadow: 5px 10px 20px #888888;
//     font-size: 10px;
//   }
// }

// @media only screen and (min-width: 500px) and (max-width: 767px) {
//   .nodecontent {
//     box-sizing: border-box;
//     width: 75px;
//     height: 30px;
//     padding: 10px;
//     border: 1px solid #888888;
//     box-shadow: 5px 10px 20px #888888;
//     font-size: 8px;
//   }
//   .nodecontent:hover {
//     box-sizing: border-box;
//     width: 85px;
//     height: 35px;
//     padding: 15px;
//     border: 1px solid #888888;
//     box-shadow: 5px 10px 20px #888888;
//     font-size: 10px;
//   }
// }
