<a style="float: right; padding: 2%; cursor: pointer; font-size: 125%; color: #2e6d94;" (click)="downloadChart(clientId,true)">
  <i class="fa fa-download" aria-hidden="true"></i>
  Download
</a>
<section>
  <div class="d-flex justify-content-center" style="margin-top: 3%;">
    <ul class="tree vertical cascade-1">
      <li class="root">
        <div *ngIf="roleType.SuperAdmin" class="nodecontent top-level">{{topLevel}}</div>
        <div *ngIf="roleType.Client" class="nodecontent top-level">{{topLevel}}</div>
        <ul>
          <li *ngFor="let user of users; let i = index">
            <div class="nodecontent parent"
                 tooltip="{{ user.name }}"
                 placement="top"
            >{{ user.name }}</div>
            <ul>
              <li *ngFor="let c of user.child">
                <div class="nodecontent child"
                     tooltip="{{ c.name }}"
                     placement="top"
                >{{ c.name }}</div>
                <!-- <ul>
                  <li *ngFor="let ch of c.children">
                    <div>{{ ch.name }}</div>
                  </li>
                </ul> -->
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>

