/* You can add global styles to this file, and also import other style files */
*{
  margin: 0px;
}

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*{
  // font-family: 'Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif';
  // font-family: 'Copperplate, Copperplate Gothic Light, fantasy';
  font-family: 'Roboto', sans-serif;
}
