<section role="main" class="content-body content-body-modern">
  <div class="row" *ngIf="roleType === 'Super Admin'">
    <div class="col-xl-3">
      <section class="card card-featured-left card-featured-tertiary mb-3">
        <div class="card-body bg-warning" [routerLink]="['/pages/search-employee']" style="cursor: pointer;">
          <div class="widget-summary">
            <div class="widget-summary-col">
              <div class="summary">
                <h4 class="title"><strong class="amount">{{totalEmployees}}</strong></h4>
                <div class="info">
                  <h4>Employees</h4>
                </div>
              </div>
            </div>
            <div class="widget-summary-col widget-summary-col-icon">
              <div class="summary-icon bg-tertiary">
                <i class="fa fa-user far fa-plus"></i>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="col-xl-3">
      <section class="card card-featured-left card-featured-tertiary mb-3">
        <div class="card-body bg-danger" [routerLink]="['/pages/VGAudit/SearchVGAudit']" style="cursor: pointer;">
          <div class="widget-summary">
            <div class="widget-summary-col">
              <div class="summary">
                <h4 class="title"><strong class="amount">{{allVgaReport}}</strong></h4>
                <div class="info">
                  <h4>VGA Reports</h4>
                </div>
              </div>
            </div>
            <div class="widget-summary-col widget-summary-col-icon">
              <div class="summary-icon bg-tertiary">
                <i class="fa fa-flag"></i>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-xl-3">
      <section class="card card-featured-left card-featured-tertiary mb-3">
        <div class="card-body bg-success" [routerLink]="['/pages/search-client']" style="cursor: pointer;">
          <div class="widget-summary">
            <div class="widget-summary-col">
              <div class="summary">
                <h4 class="title"><strong class="amount">{{totalClients}}</strong></h4>
                <div class="info">
                  <h4>Clients</h4>
                </div>
              </div>
            </div>
            <div class="widget-summary-col widget-summary-col-icon">
              <div class="summary-icon bg-tertiary">
                <i class="fa fa-flag"></i>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-xl-3">
      <section class="card card-featured-left card-featured-tertiary mb-3">
        <div class="card-body bg-info" [routerLink]="['/pages/search-consultants']" style="cursor: pointer;">
          <div class="widget-summary">
            <div class="widget-summary-col">
              <div class="summary">
                <h4 class="title"><strong class="amount">{{totalConsultants}}</strong></h4>
                <div class="info">
                  <h4>Consultants</h4>
                </div>
              </div>
            </div>
            <div class="widget-summary-col widget-summary-col-icon">
              <div class="summary-icon bg-tertiary">
                <i class="fa fa-flag"></i>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <!-- for consultant -->
  <div class="row" *ngIf="roleType==='Consultant'">
    <div class="col-xl-3">
      <section class="card card-featured-left card-featured-tertiary mb-3">
        <div class="card-body bg-info" [routerLink]="['/pages/search-client']" style="cursor: pointer;">
          <div class="widget-summary">
            <div class="widget-summary-col">
              <div class="summary">
                <h4 class="title"><strong class="amount">{{totalClients}}</strong></h4>
                <div class="info">
                  <h4>Clients</h4>
                </div>
              </div>
            </div>
            <div class="widget-summary-col widget-summary-col-icon">
              <div class="summary-icon bg-tertiary">
                <i class="fa fa-flag"></i>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-xl-3">
      <section class="card card-featured-left card-featured-tertiary mb-3">
        <div class="card-body bg-danger" [routerLink]="['/pages/VGAudit/SearchVGAudit']" style="cursor: pointer;">
          <div class="widget-summary">
            <div class="widget-summary-col">
              <div class="summary">
                <h4 class="title"><strong class="amount">7</strong></h4>
                <div class="info">
                  <h4>VGA Reports</h4>
                </div>
              </div>
            </div>
            <div class="widget-summary-col widget-summary-col-icon">
              <div class="summary-icon bg-tertiary">
                <i class="fa fa-flag"></i>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- End consultant -->

   <!-- for employee -->
   <div class="row" *ngIf="roleType==='Employee'">
    <div class="col-xl-3">
      <section class="card card-featured-left card-featured-tertiary mb-3">
        <div class="card-body bg-info" [routerLink]="['/pages/search-client']" style="cursor: pointer;">
          <div class="widget-summary">
            <div class="widget-summary-col">
              <div class="summary">
                <h4 class="title"><strong class="amount">{{totalClients}}</strong></h4>
                <div class="info">
                  <h4>Clients</h4>
                </div>
              </div>
            </div>
            <div class="widget-summary-col widget-summary-col-icon">
              <div class="summary-icon bg-tertiary">
                <i class="fa fa-flag"></i>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-xl-3">
      <section class="card card-featured-left card-featured-tertiary mb-3">
        <div class="card-body bg-danger" [routerLink]="['/pages/VGAudit/SearchVGAudit']" style="cursor: pointer;">
          <div class="widget-summary">
            <div class="widget-summary-col">
              <div class="summary">
                <h4 class="title"><strong class="amount">7</strong></h4>
                <div class="info">
                  <h4>VGA Reports</h4>
                </div>
              </div>
            </div>
            <div class="widget-summary-col widget-summary-col-icon">
              <div class="summary-icon bg-tertiary">
                <i class="fa fa-flag"></i>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- End employee -->

  <!-- Client -->
  <div *ngIf="roleType === 'Client'">
    <div class="row">
      <div class="col-xl-4 d-inline-block">
        <section class="card card-featured-left card-featured-tertiary mb-3">
          <div class="card-body bg-info" style="cursor: pointer;">
            <div class="widget-summary" [routerLink]="['/pages/VGAudit/SearchVGAudit']">
              <div class="widget-summary-col">
                <div class="summary">
                  <h4 class="title"><strong class="amount">{{vgaReportStatus?.totalReports}}</strong></h4>
                  <div class="info">
                    <h4>Total VGA Reports</h4>
                  </div>
                </div>
              </div>
              <div class="widget-summary-col widget-summary-col-icon">
                <div class="summary-icon bg-tertiary">
                  <i class="fa fa-flag"></i>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="col-xl-4 d-inline-block">
        <section class="card card-featured-left card-featured-tertiary mb-3">
          <div class="card-body bg-success" style="cursor: pointer;">
            <div class="widget-summary">
              <div class="widget-summary-col">
                <div class="summary">
                  <h4 class="title"><strong class="amount">{{vgaReportStatus?.submittedReports}}</strong></h4>
                  <div class="info">
                    <h4>Submitted VGA Reports</h4>
                  </div>
                </div>
              </div>
              <div class="widget-summary-col widget-summary-col-icon">
                <div class="summary-icon bg-tertiary">
                  <i class="fa fa-flag"></i>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div><br>
      <div class="col-xl-4 d-inline-block">
        <section class="card card-featured-left card-featured-tertiary mb-3">
          <div class="card-body bg-warning" style="cursor: pointer;">
            <div class="widget-summary">
              <div class="widget-summary-col">
                <div class="summary">
                  <h4 class="title"><strong class="amount">{{vgaReportStatus?.auditingReports}}</strong></h4>
                  <div class="info">
                    <h4>Auditing VGA Reports</h4>
                  </div>
                </div>
              </div>
              <div class="widget-summary-col widget-summary-col-icon">
                <div class="summary-icon bg-tertiary">
                  <i class="fa fa-flag"></i>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div><br>
    </div>
  </div>
  <!-- End Client -->
</section>
