<section role="main" class="content-body content-body-modern">
  <div class="row">
    <div class="col-md-12">
      <h4>{{subSectionHeader}}</h4>
      <div class="card">
        <div class="card-body">
          <div class="container-fluid">
            <form [formGroup]="subSectionForm" (ngSubmit)="onSubmit()">
              <div class="row filter-cont">
                <div class="col-md-6 pl-0">
                  <div class="pt-0">
                    <label class="font-weight-bold required-field"
                      >Section Name</label
                    >
                    <select class="form-control" formControlName="sectionId">
                      <option value="">Select Section Name</option>
                      <option [value]="obj.id" *ngFor="let obj of section$">{{obj.section_name}}</option>
                    </select>
                    <div
                      class="text-danger"
                      *ngIf="
                        subSectionForm.controls['sectionId'].hasError(
                          'required'
                        ) && subSectionForm.controls['sectionId'].touched
                      "
                    >
                      Section name is required
                    </div>
                  </div>
                </div>
                <div class="col-md-6 pl-0">
                  <div class="pt-0">
                    <label class="font-weight-bold required-field"
                      >Sub Section Name</label
                    >
                    <input
                      type="text"
                      formControlName="subSectionName"
                      class="form-control"
                      placeholder="Sub Section Name"
                    />
                    <div
                      class="text-danger"
                      *ngIf="
                        subSectionForm.controls['subSectionName'].hasError(
                          'required'
                        ) && subSectionForm.controls['subSectionName'].touched
                      "
                    >
                      Sub Section name is required
                    </div>
                  </div>
                </div>
              </div>
              <br />

              <div class="row filter-cont">
                <div class="col-md-6 pl-0">
                  <div class="form-group pt-0">
                    <label class="required-field font-weight-bold"
                      >Description</label
                    >
                    <input
                      type="text"
                      formControlName="description"
                      class="form-control"
                      placeholder="Section Description"
                      required
                    />
                    <div
                      class="text-danger"
                      *ngIf="
                        subSectionForm.controls['description'].hasError(
                          'required'
                        ) && subSectionForm.controls['description'].touched
                      "
                    >
                      Description is required
                    </div>
                  </div>
                </div>
                <div class="col-md-6 pl-0">
                  <div class="pt-0">
                    <label class="font-weight-bold required-field"
                      >Sequence Number</label
                    >
                    <input
                      type="number"
                      formControlName="seqNo"
                      class="form-control"
                      (keydown)="onSequenceChange()"
                    />
                    <div
                      class="text-danger"
                      *ngIf="
                        subSectionForm.controls['seqNo'].hasError('required') &&
                        subSectionForm.controls['seqNo'].touched
                      "
                    >
                      Sequence number is required
                    </div>
                    <div class="text-danger"
                         *ngIf="hasError">
                         {{errorMsg}}
                    </div>

                  </div>
                </div>
              </div>
              <br />

              <div class="row filter-cont">
                <div class="col-md-6 pl-0">
                  <div class="pt-0">
                    <label class="font-weight-bold required-field"
                      >Sub Section Ref Name</label
                    >
                    <select
                      class="form-control"
                      formControlName="selfSubSectionId"
                      name=""
                    >
                      <option value="" disabled>Select Sub Section Name</option>
                      <option [value]="obj.id" *ngFor="let obj of subSection$">{{obj.sub_section_name}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <br />
              <hr />
              <div class="float-right">
                <!-- <button type="submit" class="btn" [routerLink]="['/pages/search-employee']">Cancel</button> -->
                <button type="submit" class="btn btn-submit text-white">
                  {{buttonName}}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
