<table class="table table-bordered table-hover dataTable" [formGroup]="vgaReportForm">
  <!--For Organization diagnosis && Performance evaluation-->
  <thead>
    <tr *ngIf="questions !== 'Value Growth Matrix'">
      <th style="width: 25%">Title</th>
      <th style="width: 25%">Values</th>
    </tr>
  </thead>
  <tbody *ngIf="reportAnswerValues.length > 0 && questions !== 'Value Growth Matrix'">
    <tr *ngFor="let a of reportAnswerValues; let i = index;">
      <td>
        {{ a.title }}
      </td>
      <td>
        <select class="form-control" id="select" disabled>
          <option [value]="a.answer_value" selected disabled>{{a.answer_value}}</option>
        </select>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="reportAnswerValues.length <= 0 && questions !== 'Value Growth Matrix'">
  <!-- <tbody *ngIf="questions !== 'Value Growth Matrix'"> -->
    <tr formArrayName="AnswerDetails" *ngFor="
        let vg of vgaReportForm.get('AnswerDetails')['controls'];
        let i = index">
      <td formGroupName="{{ i }}">
        {{ vg.get("Title").value }}
      </td>
      <td formGroupName="{{ i }}">
        <div *ngIf="answerValueType === '1-3'">
          <select class="form-control value" formControlName="AnswerValue" id="select{{ i }}">
            <option [ngValue]="null">Select one...</option>
            <option value="1" id="1">1</option>
            <option value="2" id="2">2</option>
            <option value="3" id="3">3</option>
            <!-- <option *ngIf="reportAnswerValues.length === 0" selected>{{byDefaultValue}}</option> -->
          </select>
          <div class="text-danger"
            *ngIf="vg.get('AnswerValue').hasError('required') && vg.get('AnswerValue')?.touched">
            Please select at least one value
          </div>
        </div>
      </td>
    </tr>
  </tbody>

  <!--For value growth matrix-->
  <div>
  <thead>
    <tr *ngIf="questions == 'Value Growth Matrix'">
      <th style="width: 25%">Title</th>
      <th style="width: 25%">Status</th>
      <th style="width: 25%">Score</th>
      <th style="width: 25%">Synergy</th>
      </tr>
  </thead>
  <tbody *ngIf="reportAnswerValues.length > 0 && questions == 'Value Growth Matrix'">
  <!-- <tbody *ngIf="questions == 'Value Growth Matrix'"> -->
    <tr *ngFor="let a of reportAnswerValues; let i = index;">
      <td>
        {{ a.title }}
      </td>
      <td>
        <select class="form-control" id="select" disabled required>
          <option [value]="a.answer_value" selected disabled>{{a.answer_value}}</option>
        </select>
      </td>
      <td>
        <select class="form-control" id="select" disabled required>
          <option [value]="a.answer_value1" selected disabled>{{a.answer_value1}}</option>
        </select>
      </td>
      <td>
        <select class="form-control" id="select" disabled required>
          <option [value]="a.answer_value2" selected disabled>{{a.answer_value2}}</option>
        </select>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="reportAnswerValues.length <= 0 && questions == 'Value Growth Matrix'">
  <!-- <tbody *ngIf="questions == 'Value Growth Matrix'"> -->
    <tr formArrayName="AnswerDetails" *ngFor="
        let vg of vgaReportForm.get('AnswerDetails')['controls'];
        let i = index">
      <td formGroupName="{{ i }}">
        {{ vg.get("Title").value }}
      </td>
      <td formGroupName="{{ i }}">
        <div *ngIf="answerValueType === '1-3'">
          <select class="form-control value" formControlName="AnswerValue" id="select{{ i }}">
            <option [ngValue]="null">Select one...</option>
            <option value="Define">Define</option>
            <option value="Develop">Develop</option>
            <option value="Deploy">Deploy</option>
          </select>
          <div class="text-danger"
            *ngIf="vg.get('AnswerValue').hasError('required') && vg.get('AnswerValue')?.touched">
            Please select at least one value
          </div>
        </div>
      </td>
      <td formGroupName="{{ i }}">
        <div *ngIf="answerValueType === '1-3'">
          <select class="form-control value" formControlName="AnswerValue1" id="select{{ i }}">
            <option [ngValue]="null">Select one...</option>
            <option value="Perfect">Perfect</option>
            <option value="Performing">Performing</option>
            <option value="Poor">Poor</option>
          </select>
          <div class="text-danger"
            *ngIf="vg.get('AnswerValue1').hasError('required') && vg.get('AnswerValue1')?.touched">
            Please select at least one value
          </div>
        </div>
      </td>
      <td formGroupName="{{ i }}">
        <div *ngIf="answerValueType === '1-3'">
          <select class="form-control value" formControlName="AnswerValue2" id="select{{ i }}">
            <option [ngValue]="null">Select one...</option>
            <option value="Helpful">Helpful</option>
            <option value="HopeFull">HopeFull</option>
            <option value="Hindrance">Hindrance</option>
          </select>
          <div class="text-danger"
            *ngIf="vg.get('AnswerValue2').hasError('required') && vg.get('AnswerValue2')?.touched">
            Please select at least one value
          </div>
        </div>
      </td>
    </tr>
  </tbody>
  </div>
</table>
