<section role="main" class="content-body">
  <!-- start: page -->
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-8">
          <h3>Manage Accounts</h3>
        </div>

        <div class="col-md-4">
          <button class="btn btn-user float-right text-white" (click)="openAccountAddEditModel()"><i
              class="fa fa-plus text-white"> Add
              New
              Account</i></button>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-body border">
          <form>
            <div class="row form-group">
              <div class="col-md-3">
                <input type="text" name="firstName" placeholder="Name"#name class="form-control">
              </div>
              <div class="col-md-3">
                <input type="text" name="lastName" #email placeholder="Email" class="form-control">
              </div>
              <div class="col-md-3 pl-0">
                <div class="text-right">
                  <button class="btn btn-user text-white" (click)="onSearch(name.value, email.value)">Search</button>
                  <button class="btn btn-user text-right text-white ml-3" (click)="onClear(name.value = '', email.value = '')">Clear</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        </div>
    </div>
  </div>

  <!-- Add-Edit Model Dialog Start-->
  <modal #content>
    <modal-header>
      <h2 class="card-title label  m-0" *ngIf="!isEditable">Add Account</h2>
      <h2 class="card-title label  m-0" *ngIf="isEditable">Edit Account</h2>
    </modal-header>
    <modal-content style='outline: none'>
          <div class="modal-text">
            <form [formGroup]="accountForm">
              <div class="row">
                <div class="col-lg-12">
                  <label>Name</label>
                  <input type="text" name="name" formControlName="name" placeholder="Name" class="form-control"
                    required>
                  <div class="text-danger"
                    *ngIf="accountForm.controls['name'].hasError('required') && accountForm.controls['name'].touched ">
                    Please Enter Name!
                  </div>
                  <div class="text-danger"
                    *ngIf="accountForm.controls['name'].hasError('minlength') && accountForm.controls['name'].touched ">
                    Please enter more than 3 characters!
                  </div>
                </div>
                <div class="mb-3 hidden-lg"></div>
              </div>
              <div class="row mt-3">
                <div class="col-lg-12">
                  <label>Description</label>
                  <textarea class="form-control" type="text" formControlName="description" name="description"
                    placeholder="Description"></textarea>
                  <div class="text-danger"
                   *ngIf="accountForm.controls['description'].touched && accountForm.controls['description'].invalid">
                   Please Enter Description!
                  </div>
                </div>
                <div class="mb-3 hidden-lg"></div>
              </div>
              <div class="row mt-3">
                <div class="col-lg-12">
                  <label>Email</label>
                  <input type="email" name="email" formControlName="email" placeholder="Email" class="form-control">
                  <ng-container *ngIf="accountForm.get('email').touched && accountForm.get('email').invalid">
                      <p class="text-danger m-0 mt-1" [hidden]="!accountForm.get('email').errors?.required">
                        Please Enter Email!
                      </p>
                      <p class="text-danger m-0 mt-1" [hidden]="!accountForm.get('email').errors?.pattern">
                        Email Should be real one!
                      </p>
                  </ng-container>
                </div>
                <div class="mb-3 hidden-lg"></div>
              </div>
              <div class="row mt-3">
                <div class="col-lg-12">
                  <label>Phone</label>
                  <input type="text" name="phone" formControlName="phone" placeholder="Phone" class="form-control">
                  <div class="text-danger"
                    *ngIf="accountForm.controls['phone'].hasError('required') && accountForm.controls['phone'].touched ">
                    Please Enter Phone!
                  </div>
                  <div class="text-danger"
                    *ngIf="accountForm.controls['phone'].hasError('required') && accountForm.controls['phone'].touched ">
                    Please Enter Phone!
                  </div>
                  <div class="text-danger"
                    *ngIf="accountForm.controls['phone'].hasError('minlength') && !accountForm.controls['phone'].hasError('pattern') && accountForm.controls['phone'].touched ">
                    Mobile must at list 10 digits
                  </div>
                  <div class="text-danger"
                    *ngIf="accountForm.controls['phone'].hasError('maxlength') && !accountForm.controls['phone'].hasError('pattern') && accountForm.controls['phone'].touched ">
                    Mobile number not more than 10 digits
                  </div>
                  <div class="text-danger"
                    *ngIf="accountForm.controls['phone'].hasError('pattern') && accountForm.controls['phone'].touched ">
                    Please enter valid mobile number
                  </div>
                </div>
                <div class="mb-3 hidden-lg"></div>
              </div>
              <div class="row mt-3">
                <div class="col-lg-12">
                  <label>Select Parent</label>
                  <select class="form-control" formControlName="parent_account_id">
                    <option value="" selected disabled>Select Parent Account</option>
                    <option *ngFor="let obj of accounts$" [value]="obj.id">{{ obj.name }}</option>
                  </select>
                  <div class="text-danger"
                   *ngIf="accountForm.controls['parent_account_id'].touched && accountForm.controls['parent_account_id'].invalid">
                    Please Select Parent Account!
                  </div>
                </div>
              </div>
            </form>
          </div>
    </modal-content>
    <modal-footer>
        <div class="row">
          <div class="col-md-12 text-right">
            <button class="btn btn-default modal-dismiss" (click)="onClickCloseModel()">Cancel</button>
            <button *ngIf="!isEditable" class="btn btn-user text-white mb-1 mt-1 mr-1 ws-normal btn btn-default"
              (click)="onSaveAccountInfo()">Save</button>&nbsp;
              <button [disabled]="!accountForm.valid" *ngIf="isEditable" class="btn btn-user text-white mb-1 mt-1 mr-1 ws-normal btn btn-default"
              (click)="onSaveUpdatedAccountInfo()">Update</button>&nbsp;
          </div>
        </div>
    </modal-footer>
  </modal>
  <div class="row mt-5">
    <div class="col">
      <section class="card">
        <div class="card-body border">
          <table class="display table table-hover w-100 table-head-bg-secondary mb-0" id="datatable-default">
            <thead>
              <tr>
                <th (click)="sort('name')">Name</th>
                <th (click)="sort('parent_name')">Parent Account</th>
                <th>Email</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let obj of accounts$; let i = index">
                <td>{{ obj.name }}</td>
                <td>{{ getParantAccountName(obj.parent_account_id)}}</td>
                <td>{{ obj.email }}</td>
                <td>
                  <a style="cursor: pointer;" (click)="onEditAccountDetail(obj.id)" title="Edit" class="icon-a">
                    <i class="fa fa-edit icons-size icon-margin green"></i>
                  </a>&nbsp;&nbsp;
                  <a style="cursor: pointer;" (click)="onDeleteAccountDetail(obj.id)" title="Delete" class="icon-a">
                    <i class="fa fa-trash ml-2 icons-size icon-margin red"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <ngb-pagination
              style="float: right"
              [collectionSize]="totalItems"
              [pageSize]="itemsPerPage"
              [(page)]="page"
              [rotate]="true"
              [boundaryLinks]="true"
              (pageChange)="loadPage($event)"
            >
            </ngb-pagination>
        </div>
      </section>
    </div>
  </div>
  <!-- Datatable End-->
  <!-- end: page -->
</section>

<!--Delete Model Dialoag-->
<modal #contentDelete>
  <modal-header>
    <strong>Are you sure?</strong>
  </modal-header>
  <modal-content>
    <section class="card">
      <div class="card-body">
        <div class="modal-wrapper">
          <div class="modal-icon">
            <i class="fas fa-question-circle"></i>
          </div>
          <div class="modal-text">
            <p class="mb-0">Are you sure that you want to delete this record?</p>
          </div>
        </div>
      </div>
    </section>
  </modal-content>
  <modal-footer>
      <div class="row">
        <div class="col-md-12 text-right">
          <button class="btn btn-danger  mb-1 mt-1 mr-1 ws-normal btn btn-default"
           (click)="onConfrimDelete()">Confirm</button>
          <button class="btn btn-primary  mb-1 mt-1 mr-1 ws-normal btn btn-default" (click)="OnCanceleDeleteModal()">Cancel</button>
        </div>
      </div>
  </modal-footer>
</modal>
