<aside id="sidebar-left" class="sidebar-left">
  <div class="sidebar-header">
    <div class="sidebar-title"></div>
    <div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed" data-target="html"
      data-fire-event="sidebar-left-toggle">
      <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
    </div>
  </div>

  <div class="nano">
    <div class="nano-content">
      <!-- Start Super Admin Menu -->
      <nav id="menu" class="nav-main" role="navigation" *ngIf="roleType === 'Super Admin'">
        <ul class="nav nav-main">
          <li>
            <a class="nav-link" [routerLink]="['/pages/dashboard']" routerLinkActive="router-link-active">
              <i class="fas fa-home" aria-hidden="true"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li>
            <a class="nav-link" [routerLink]="['/pages/organizational-overview']"
              routerLinkActive="router-link-active">
              <i class="fas fa-home" aria-hidden="true"></i>
              <span>Organizational Overview</span>
            </a>
          </li>
          <li class="nav-parent">
            <a class="nav-link">
              <i class="fas fa-folder" aria-hidden="true"></i>
              <span>Management</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a class="nav-link" [routerLink]="['/pages/management/user']" routerLinkActive="router-link-active">
                  <i class="far fa-circle"></i> Users
                </a>
              </li>
              <li>
                <a class="nav-link" [routerLink]="['/pages/management/account']"
                  routerLinkActive="router-link-active">
                  <i class="far fa-circle"></i>Accounts
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-parent">
            <a class="nav-link">
              <i class="fas fa-users" aria-hidden="true"></i>
              <span>Masters</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a class="nav-link" [routerLink]="['/pages/role-permissions']" routerLinkActive="router-link-active">
                  <i class="far fa-circle"></i>Role Permissions
                </a>
              </li>
              <li>
                <a class="nav-link" [routerLink]="['/pages/countries']" routerLinkActive="router-link-active">
                  <i class="far fa-circle"></i>Countries
                </a>
              </li>
              <li>
                <a class="nav-link" [routerLink]="['/pages/states']" routerLinkActive="router-link-active">
                  <i class="far fa-circle"></i>States
                </a>
              </li>
              <li>
                <a class="nav-link" [routerLink]="['/pages/cities']" routerLinkActive="router-link-active">
                  <i class="far fa-circle"></i>Cities
                </a>
              </li>
            </ul>
          </li>
          <li>
            <a class="nav-link" [routerLink]="['/pages/search-employee']" routerLinkActive="router-link-active">
              <i class="fas fa-user-friends" aria-hidden="true"></i>
              <span>Employee</span>
            </a>
          </li>
          <li>
            <a class="nav-link" [routerLink]="['/pages/search-client']">
              <i class="fas fa-user" aria-hidden="true"></i>
              <span>Client</span>
            </a>
          </li>
          <li>
            <a class="nav-link" [routerLink]="['/pages/search-clientEmployee']">
              <i class="fas fa-user" aria-hidden="true"></i>
              <span>Client Employee</span>
            </a>
          </li>
          <li>
            <a class="nav-link" [routerLink]="['/pages/search-consultants']">
              <i class="fas fa-user" aria-hidden="true"></i>
              <span>Consultants</span>
            </a>
          </li>
          <li class="nav-parent">
            <a class="nav-link">
              <i class="fas fa-folder" aria-hidden="true"></i>
              <span>VG Audit</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a class="nav-link" [routerLink]="['/pages/VGAudit/VGAuditReport']"
                  routerLinkActive="router-link-active">
                  <i class="far fa-circle"></i> New VG Audit
                </a>
              </li>
              <li>
                <a class="nav-link" [routerLink]="['/pages/VGAudit/SearchVGAudit']"
                  routerLinkActive="router-link-active">
                  <i class="far fa-circle"></i>Search VG Audit
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-parent">
            <a class="nav-link">
              <i class="fas fa-folder" aria-hidden="true"></i>
              <span>Sections</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a class="nav-link" [routerLink]="['/pages/SearchSection']" routerLinkActive="router-link-active">
                  <i class="far fa-circle"></i> Section Master
                </a>
              </li>
              <li>
                <a class="nav-link" [routerLink]="['/pages/SearchSubSection']" routerLinkActive="router-link-active">
                  <i class="far fa-circle"></i> Sub-Section Master
                </a>
              </li>
              <li>
                <a class="nav-link" [routerLink]="['/pages/SearchQuestion']" routerLinkActive="router-link-active">
                  <i class="far fa-circle"></i> Question Master
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- End Super Admin Menu -->

      <!-- Start Client Menu -->
      <nav id="menu" class="nav-main" role="navigation" *ngIf="roleType === 'Client'">
        <ul class="nav nav-main">
          <li>
            <a class="nav-link" [routerLink]="['/pages/dashboard']" routerLinkActive="router-link-active">
              <i class="fas fa-home" aria-hidden="true"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li>
            <a class="nav-link" [routerLink]="['/pages/viewProfile', clientId]">
              <i class="fas fa-user" aria-hidden="true"></i>
              <span>View Profile</span>
            </a>
          </li>
          <li>
            <a class="nav-link" [routerLink]="['/pages/organizational-overview']"
              routerLinkActive="router-link-active">
              <i class="fas fa-home" aria-hidden="true"></i>
              <span>Organizational Overview</span>
            </a>
          </li>
          <li>
            <a class="nav-link" [routerLink]="['/pages/search-employee']" routerLinkActive="router-link-active">
              <i class="fas fa-user-friends" aria-hidden="true"></i>
              <span>Client Employees</span>
            </a>
          </li>
          <li class="nav-parent">
            <a class="nav-link">
              <i class="fas fa-folder" aria-hidden="true"></i>
              <span>VG Audit</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a class="nav-link" [routerLink]="['/pages/VGAudit/VGAuditReport']"
                  routerLinkActive="router-link-active">
                  <i class="far fa-circle"></i> New VG Audit
                </a>
              </li>
              <li>
                <a class="nav-link" [routerLink]="['/pages/VGAudit/SearchVGAudit']"
                  routerLinkActive="router-link-active">
                  <i class="far fa-circle"></i>Search VG Audit
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- End Client Menu -->

      <!-- Start Consultant Menu -->
      <nav id="menu" class="nav-main" role="navigation" *ngIf="roleType === 'Consultant'">
        <ul class="nav nav-main">
          <li>
            <a class="nav-link" [routerLink]="['/pages/dashboard']" routerLinkActive="router-link-active">
              <i class="fas fa-home" aria-hidden="true"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li>
            <a class="nav-link" [routerLink]="['/pages/ConsultantsViewProfile', consultantId]">
              <i class="fas fa-user" aria-hidden="true"></i>
              <span>View Profile</span>
            </a>
          </li>
          <li class="nav-parent">
            <a class="nav-link">
              <i class="fas fa-folder" aria-hidden="true"></i>
              <span>VG Audit</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a class="nav-link" [routerLink]="['/pages/VGAudit/SearchVGAudit']"
                  routerLinkActive="router-link-active">
                  <i class="far fa-circle"></i>Search VG Audit
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- End Consultant Menu -->

      <!-- Start Employee Menu -->
      <nav id="menu" class="nav-main" role="navigation" *ngIf="roleType === 'Employee'">
        <ul class="nav nav-main">
          <li>
            <a class="nav-link" [routerLink]="['/pages/dashboard']" routerLinkActive="router-link-active">
              <i class="fas fa-home" aria-hidden="true"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li>
            <a class="nav-link" [routerLink]="['/pages/EmployeessViewProfile/', employeeId]"
              routerLinkActive="router-link-active">
              <i class="fas fa-user-friends" aria-hidden="true"></i>
              <span>Employee</span>
            </a>
          </li>
          <li class="nav-parent">
            <a class="nav-link">
              <i class="fas fa-folder" aria-hidden="true"></i>
              <span>VG Audit</span>
            </a>
            <ul class="nav nav-children">
              <li>
                <a class="nav-link" [routerLink]="['/pages/VGAudit/VGAuditReport']"
                  routerLinkActive="router-link-active">
                  <i class="far fa-circle"></i> New VG Audit
                </a>
              </li>
              <li>
                <a class="nav-link" [routerLink]="['/pages/VGAudit/SearchVGAudit']"
                  routerLinkActive="router-link-active">
                  <i class="far fa-circle"></i>Search VG Audit
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- End Employee Menu -->
    </div>

    <script>
      // Maintain Scroll Position
      if (typeof localStorage !== "undefined") {
        if (localStorage.getItem("sidebar-left-position") !== null) {
          var initialPosition = localStorage.getItem("sidebar-left-position"),
          sidebarLeft = document.querySelector("#sidebar-left .nano-content");
          sidebarLeft.scrollTop = initialPosition;
        }
      }
    </script>
  </div>
</aside>

