<section role="main" class="content-body content-body-modern">
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="row">
          <div class="col-md-10">
            <div class="row">
              <button class="ml-3 back-button" (click)="backToSubSection()"><i class="fa fa-arrow-left text-white" aria-hidden="true"></i></button>
            <h4 class="ml-3 mt-2">Edit VGA Report</h4>
            </div>
          </div>
          <div class="col-md-2">
            <i class="fa fa-home" [routerLink]="['/pages/dashboard']" style="cursor: pointer">
              Dashboard</i>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <app-vga-report-details></app-vga-report-details>
            <div class="text-center mt-3">
              <h2>Performance of the competencies</h2>
            </div>
            <h2 *ngIf="employeeLevel === '1'">Top Level</h2>
            <h2 *ngIf="employeeLevel === '2'">Managerial Level</h2>
            <h2 *ngIf="employeeLevel === '3'">Executive Level</h2>
            <div class="row">
              <div class="col-md-12">
                <table class="display table table-hover w-100 table-head-bg-secondary" width="100%">
                  <tr>
                    <th>Employee Name</th>
                    <th>Employee Level</th>
                    <th>Action</th>
                  </tr>
                  <tr *ngFor="let emp of employees">
                    <td>{{emp.name}}</td>
                    <td>{{emp.employee_level}}</td>
                    <td>
                      <a style="cursor: pointer"  title="Edit" class="icon-a" (click)="viewDetails(emp)">
                        <i class="fa fa-edit text-success icons-size icon-margin green"></i> </a>&nbsp;&nbsp;
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
